Repository ZupIT/beagle, changes with the labels that .github/labeler.yml gives for each.
All labels: android, backend, iOS, schema, CI/CD, documentation

Adding cache do ci in fastlane step
  buildSrc/src/main/java/Dependencies.kt
Labels: android, backend

Adding cache do ci in fastlane step
  .github/workflows/backend-pr.yml
  backend/sample/core/build.gradle
Labels: backend, CI/CD

fix: coexisting cache filters with CORS (#483)
  backend/framework/src/main/kotlin/br/com/zup/beagle/constants/CorsConstants.kt
  backend/sample/micronaut/src/main/resources/application.properties
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilter.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/filter/BeagleCacheFilter.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/filter/BeagleCacheFilterTest.kt
Labels: backend

Adding cache do ci in fastlane step
  Gemfile
Labels: none

Adding cache do ci in fastlane step
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
Labels: backend

Adding cache do ci in fastlane step
  .github/workflows/backend-pr.yml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
Labels: backend, CI/CD

Adding cache do ci in fastlane step
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
Labels: backend

fix: cancel image request (#529)
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
Labels: iOS

Adding cache do ci in fastlane step
  .github/workflows/backend-pr.yml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
Labels: backend, CI/CD

Adding cache do ci in fastlane step
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
Labels: backend

Adding cache do ci in fastlane step
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
Labels: backend

Adding cache do ci in fastlane step
  .github/workflows/backend-pr.yml
Labels: CI/CD

Adding cache do ci in fastlane step
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
Labels: backend

Adding cache do ci in fastlane step
  .github/workflows/android-pr.yml
Labels: CI/CD

Created backendSchemaBackendCommon module to house shared schema.
  backend/backend-common/build.gradle
  backend/backend-common/gradle.properties
  backend/backend-common/src/main/kotlin/br/com/zup/beagle/widget/action/Action.kt
  backend/backend-common/src/main/kotlin/br/com/zup/beagle/widget/context/Bind.kt
  backend/backend-common/src/main/kotlin/br/com/zup/beagle/widget/context/ContextComponent.kt
  backend/backend-common/src/main/kotlin/br/com/zup/beagle/widget/context/ContextData.kt
  backend/backend-common/src/main/kotlin/br/com/zup/beagle/widget/expression/ExpressionHelper.kt
  buildSrc/src/main/java/Dependencies.kt
  settings.gradle
Labels: android, backend

Renamed beagleSchemaBackendWidgets module to beagleSchemaBackendUiKit.
  backend/backend-ui-kit/build.gradle
  backend/backend-ui-kit/gradle.properties
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/action/Confirm.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/action/Form.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/action/SetContext.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/action/SubmitForm.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/expression/BeagleIterableSubExpression.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/form/Form.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/form/FormInput.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/form/FormSubmit.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/form/InputWidget.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/form/SimpleForm.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/layout/ComposeComponent.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/layout/ScreenBuilder.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/layout/extensions/ListViewExtensions.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/layout/extensions/ScreenExtensions.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/lazy/LazyComponent.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/navigation/Touchable.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/pager/PageIndicator.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/pager/PageIndicatorComponent.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/ui/Text.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
  backend/backend-ui-kit/src/main/kotlin/br/com/zup/beagle/widget/ui/WebView.kt
  backend/framework/build.gradle
  backend/processor/build.gradle
  buildSrc/src/main/java/Dependencies.kt
  settings.gradle
Labels: android, backend

.github/labeler.yml:

android:
    - android/**
    - common/**
    - buildSrc/**

backend:
    - backend/**
    - common/**
    - buildSrc/**

iOS: iOS/**

schema: schema/**

CI/CD:
    - danger/**
    - fastlane/**
    - .github/**
    - gradle/**

documentation: doc/**
