Repository ZupIT/beagle, changes with the labels that .github/labeler.yml gives for each.
All labels: android, backend, iOS, schema, deploy, documentation

fixies
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/res/anim/slide_from_right.xml
  android/beagle/src/main/res/anim/slide_to_right.xml
Labels: android

Synced Spring BFF sample to Micronaut BFF sample.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleContextService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleImageLocalService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleSafeAreaService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/TextInputService.kt
Labels: backend

Simplified Spring BFF sample's CorsConfig.kt.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/config/CorsConfig.kt
Labels: backend

fix: Undefined actions to not crash when trying to deserialisate
  android/beagle/src/main/java/br/com/zup/beagle/android/action/UndefinedAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Labels: android

fixed tests on schema
  iOS/Schema/Sources/Action/Types/Navigate/Tests/NavigateTests.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/test_decoding_pushView.1.txt
Labels: iOS

Created CorsConstants in backend framework with all necessary exposed headers for CORS.
  backend/framework/src/main/kotlin/br/com/zup/beagle/constants/CorsConstants.kt
Labels: backend

fixing tests on beagle
  iOS/Sources/Beagle/Sources/Action/Types/Tests/NavigateTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Tests/ButtonTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/BeagleLoggerTests.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
Labels: iOS

Remove old pageview test
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/PageViewUIComponentTests.swift
Labels: iOS

fix page view screen from sample
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
Labels: iOS

refactored openNativeRoute and fixed tests on Schema
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/NavigateTests.swift
Labels: iOS

Fix message log
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
Labels: android

fix: pageview and pageindicator schema tests
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/ServerDrivenComponent/Page/Indicator/Tests/JSON/CustomPageIndicator.json
  iOS/Schema/Sources/ServerDrivenComponent/Page/Indicator/Tests/JSON/PageViewWithCustomIndicator.json
  iOS/Schema/Sources/ServerDrivenComponent/Page/Indicator/Tests/PageIndicatorTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/Page/Indicator/Tests/__Snapshots__/PageIndicatorTests/test_indicator_decoder.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Indicator/Tests/__Snapshots__/PageIndicatorTests/test_pageViewWithCustomIndicator_decoder.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/Json/PageViewWith3PagesAndIndicator.json
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/PageViewTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/PageIndicator.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Tests/JSON/PageIndicator.json
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Tests/PageIndicatorTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Tests/__Snapshots__/PageIndicatorTests/test_whenDecodingJson_thenItShouldReturnAPageIndicator.1.txt
Labels: iOS

refactored open native route, fixed tests
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/NavigateTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Logger/Tests/BeagleLoggerTests.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
Labels: iOS

fix: Undefined actions to not crash when trying to deserialisate (#493)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/UndefinedAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Labels: android

fix: crash when malformed color is provided (#492)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
Labels: android

refactor: register simple form in action and component
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/SimpleFormScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleSimpleFormService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleSimpleFormService.kt
Labels: android, backend

fix: change the value to postValue on ViewModel (#413)
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Labels: android

fix: adjust in TextView for not ignoring attributes (#371)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ScrollViewFragment.kt
  android/sample/src/main/res/values/styles.xml
Labels: android

fix: platform specification in Spring with disabled cache (#434)
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/configuration/BeaglePlatformAutoConfiguration.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/filter/BeagleCacheFilter.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/filter/BeaglePlatformFilter.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/interceptor/BeaglePlatformInterceptor.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/filter/BeagleCacheFilterTest.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/filter/BeagleFilterTestUtils.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/filter/BeaglePlatformFilterTest.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/interceptor/BeaglePlatformInterceptorTest.kt
Labels: backend

refactor: migrated bff sample syncs to fastlane (#439)
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ActionController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/CustomComponentController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/LayoutController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/PlatformController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/WidgetController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/PlatformService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleWebViewService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ActionController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/CustomComponentController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/LayoutController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/PlatformController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/WidgetController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/PlatformService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleWebViewService.kt
  fastlane/Fastfile
  fastlane/README.md
  fastlane/git_commit.sh
  fastlane/micronaut2spring.sed
  fastlane/spring2micronaut.sed
  fastlane/sync-to-micronaut.sh
  fastlane/sync-to-spring.sh
Labels: backend, deploy

fix: typo in git_commit.sh in Fastfile (#443)
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/CustomComponentController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/CustomComponentController.kt
  fastlane/Fastfile
Labels: backend, deploy

fix: LiveData onActive to not call twice (#453)
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Labels: android

fix: Form remote content type (#442)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormSubmitter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleServiceWrapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormSubmitterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
  android/sample/src/main/res/values/styles.xml
Labels: android

fix: context lose its data when screen rotates (#466)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
Labels: android

fix: adjust url remote (#468)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Labels: android

fix: string evaluation for JSON (#452)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Labels: android

fix: Fixing bug in beagle platform logic with services that not returns json data (#467)
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NetworkImageScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/ImageConstants.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNetworkImageService.kt
  backend/sample/micronaut/src/main/resources/application.properties
  backend/sample/micronaut/src/main/resources/static/html/bff.html
  backend/sample/micronaut/src/main/resources/static/images/beach.jpg
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNetworkImageService.kt
  backend/sample/spring/src/main/resources/static/html/bff.html
  backend/sample/spring/src/main/resources/static/images/beach.jpg
  backend/starters/beagle-micronaut-starter/build.gradle
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeaglePlatformFilter.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/filter/BeaglePlatformFilter.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/filter/BeaglePlatformFilterTest.kt
Labels: backend

fix: applyStyle method uses flex object (#454)
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ContainerTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextScreenBuilder.kt
  common/extended-schema/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
  common/extended-schema/src/test/kotlin/br/com/zup/beagle/ext/UnitValueExtensionsTest.kt
  common/extended-schema/src/test/kotlin/br/com/zup/beagle/ext/WidgetExtensionsTest.kt
Labels: android, backend

fix: CacheManager normalize headers before use (#487)
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/MapExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/MapExtensionsKtTest.kt
Labels: android

fix: Implicit context for data type that is not string and removed de… (#486)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataValueResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ContextDataAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLoggerProxy.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SetContextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataValueResolverTest.kt
Labels: android

fix: Undefined actions to not crash when trying to deserialisate (#493)
  android/beagle/src/main/java/br/com/zup/beagle/android/action/UndefinedAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Labels: android

fix: crash when malformed color is provided (#492)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
Labels: android

fix: image placeholder on Android and Backend (#428)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
Labels: android, backend

.github/labeler.yml:

android:
  - android/**
  - common/**

backend:
  - backend/**
  - common/**

iOS: iOS/**

schema: schema/**

deploy:
  - danger/**
  - fastlane/**
  - .github/**
  - gradle/**

documentation: doc/**
