Repository ZupIT/beagle, pull requests merged in 2020-07, with the labels that each got.

#434 fix: platform specification in Spring with disabled cache
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/configuration/BeaglePlatformAutoConfiguration.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/filter/BeagleCacheFilter.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/filter/BeaglePlatformFilter.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/interceptor/BeaglePlatformInterceptor.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/filter/BeagleCacheFilterTest.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/filter/BeagleFilterTestUtils.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/filter/BeaglePlatformFilterTest.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/interceptor/BeaglePlatformInterceptorTest.kt
Labels: backend, bug

#433 fix: label action's regexps
  .github/labeler.yml
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
Labels: android, backend, deploy

#439 refactor: migrated bff sample syncs to fastlane
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ActionController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/CustomComponentController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/LayoutController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/PlatformController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/WidgetController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/PlatformService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleWebViewService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ActionController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/CustomComponentController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/LayoutController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/PlatformController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/WidgetController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/PlatformService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleWebViewService.kt
  fastlane/Fastfile
  fastlane/README.md
  fastlane/git_commit.sh
  fastlane/micronaut2spring.sed
  fastlane/spring2micronaut.sed
  fastlane/sync-to-micronaut.sh
  fastlane/sync-to-spring.sh
Labels: backend, deploy

#431 fix: page view crash with empty array of pages and breaking constraints
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/PageViewTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/__Snapshots__/PageViewTests/test_viewWithNoPages.1.png
Labels: bug, critical, iOS

#441 fix: ignoring push events for master
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
Labels: deploy

#443 fix: typo in git_commit.sh in Fastfile
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/CustomComponentController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/CustomComponentController.kt
  fastlane/Fastfile
Labels: backend, deploy

#448 fix: Beagle iOS Carthage support
  fastlane/Fastfile
  iOS/Beagle.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Cartfile
  iOS/Cartfile.resolved
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.pbxproj
Labels: deploy, iOS

#447 docs: update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/issue-report.md
Labels: DX, deploy, documentation

#453 fix: LiveData onActive to not call twice
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Labels: android, bug

#442 fix: Form remote content type
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormSubmitter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleServiceWrapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormSubmitterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
  android/sample/src/main/res/values/styles.xml
Labels: android, bug

#466 fix: context lose its data when screen rotates
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
Labels: android, bug

#469 ci: remove code owners and readme in folders
  android/CODEOWNERS
  iOS/CODEOWNERS
  iOS/README.md
Labels: deploy

#468 fix: adjust url remote
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Labels: android

#452 fix: string evaluation for JSON
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Labels: android, bug

#467 fix: Fixing bug in beagle platform logic with services that not returns json data
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NetworkImageScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/ImageConstants.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNetworkImageService.kt
  backend/sample/micronaut/src/main/resources/application.properties
  backend/sample/micronaut/src/main/resources/static/html/bff.html
  backend/sample/micronaut/src/main/resources/static/images/beach.jpg
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNetworkImageService.kt
  backend/sample/spring/src/main/resources/static/html/bff.html
  backend/sample/spring/src/main/resources/static/images/beach.jpg
  backend/starters/beagle-micronaut-starter/build.gradle
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeaglePlatformFilter.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/filter/BeaglePlatformFilter.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/filter/BeaglePlatformFilterTest.kt
Labels: backend

#435 chore: remove READMEs which contents are already being covered inside docs
  .gitignore
  android/README.md
  fastlane/README.md
Labels: android, deploy, iOS

#454 fix: applyStyle method uses flex object
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ContainerTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextScreenBuilder.kt
  common/extended-schema/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
  common/extended-schema/src/test/kotlin/br/com/zup/beagle/ext/UnitValueExtensionsTest.kt
  common/extended-schema/src/test/kotlin/br/com/zup/beagle/ext/WidgetExtensionsTest.kt
Labels: android, backend, schema

#487 fix: CacheManager normalize headers before use
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/MapExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/MapExtensionsKtTest.kt
Labels: android, bug

#486 fix: Implicit context for data type that is not string and removed de…
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataValueResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ContextDataAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLoggerProxy.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SetContextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataValueResolverTest.kt
Labels: android, bug

#493 fix: Undefined actions to not crash when trying to deserialize
  android/beagle/src/main/java/br/com/zup/beagle/android/action/UndefinedAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Labels: android, bug, critical

#492 fix: crash when malformed color is provided
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
Labels: android, bug

#515 fix: UndefinedWidget was not working for InputWidget and PageIndicato…
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/UndefinedWidget.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
Labels: android, bug

#429 feat: update beagle sample
  android/sample/src/main/java/br/com/zup/beagle/sample/AppDesignSystem.kt
  android/sample/src/main/res/drawable/text_input_background.xml
  android/sample/src/main/res/values/styles.xml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/CustomPlatformBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ImageLocalScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ImageRemoteScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PlatformBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/SafeAreaBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ScreenContextBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextInputBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/StyleConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleContextService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleImageLocalService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleImageRemoteService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleSafeAreaService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/TextInputService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleContextService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleImageLocalService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleImageRemoteService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleSafeAreaService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/TextInputService.kt
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
Labels: android, backend, iOS, schema

#387 feat: Adds support for registering internal widgets by annotation processing
  android/android-internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessor.kt
  android/android-internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/InternalWidgetFactoryProcessor.kt
  android/android-processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/LazyComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormSubmit.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/UndefinedWidget.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/SampleServerDrivenActivity.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleContextService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleSafeAreaService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/TextInputService.kt
  buildSrc/src/main/java/Dependencies.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleSetupRegisteredWidgetGenerator.kt
  settings.gradle
Labels: android, backend, technical debt

#473 fix: navigation inside PageView
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/PageViewTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/PageViewUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabView.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabViewUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Theme/ThemeTests.swift
Labels: bug, iOS

#531 fix: adjust crash when use component Textinput with a default value
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
Labels: android, bug

#432 refactor: navigate
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/NavigateTests.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/test_decoding_pushView.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/NavigateTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Tests/ButtonTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/BeagleLoggerTests.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
Labels: DX, iOS

#551 fix: minSdk 23+ crash
  android/beagle/build.gradle
  buildSrc/src/main/java/Dependencies.kt
Labels: android

#549 fix: remove internal keyword
  android/beagle/src/main/java/br/com/zup/beagle/android/exception/BeagleApiException.kt
Labels: android, bug

#550 feat: Update spring and micronaut starters vesions
  .github/labeler.yml
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  backend/sample/spring/build.gradle
  buildSrc/src/main/java/Dependencies.kt
Labels: android, backend, deploy

#529 fix: cancel image request
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
Labels: bug, iOS

#557 fix: renamed deploy to CI/CD in labeler settings
  .github/labeler.yml
Labels: CI/CD

#556 feat: Adding cache to ci
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  Gemfile
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  backend/sample/core/build.gradle
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
  buildSrc/src/main/java/Dependencies.kt
Labels: CI/CD, android, backend, deploy

#555 fix: Context for SendRequest and SetContext
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SetContextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/testutil/RandomData.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Labels: android, bug, critical

#567 fix: codecov badge and backend settings
  README.md
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/CustomComposeComponent.kt
  codecov.yml
Labels: backend

#569 fix: updated backend CI to generate jacoco report
  backend/processor/build.gradle
  fastlane/Fastfile
Labels: CI/CD, backend

#565 fix: ViewGroupExtensions loadView method does not evaluate contexts
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Labels: android

#571 refactor: page view context interaction
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Indicator/PageIndicator.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Indicator/Tests/CustomPageIndicator.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Indicator/Tests/JSON/CustomPageIndicator.json
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Indicator/Tests/JSON/PageViewWithCustomIndicator.json
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Indicator/Tests/PageIndicatorTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Indicator/Tests/__Snapshots__/PageIndicatorTests/test_indicator_decoder.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Indicator/Tests/__Snapshots__/PageIndicatorTests/test_pageViewWithCustomIndicator_decoder.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/PageView/PageView.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageView/Tests/Json/PageViewWith3Pages.json
  iOS/Schema/Sources/ServerDrivenComponent/PageView/Tests/Json/PageViewWith3PagesAndIndicator.json
  iOS/Schema/Sources/ServerDrivenComponent/PageView/Tests/PageViewTests.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/PageIndicator+Renderable/PageIndicator+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/PageIndicator+Renderable/PageIndicator.swift
Labels: iOS

#578 feat: updated backend cache defaults
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/BeagleCacheHandler.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/cache/BeagleCacheHandlerTest.kt
  backend/sample/micronaut/src/main/resources/application.properties
  backend/sample/spring/src/main/resources/application.properties
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleCacheConfiguration.kt
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilter.kt
  backend/starters/beagle-micronaut-starter/src/test/kotlin/br/com/zup/beagle/micronaut/Extensions.kt
  backend/starters/beagle-micronaut-starter/src/test/kotlin/br/com/zup/beagle/micronaut/configuration/BeagleCacheConfigurationTest.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfiguration.kt
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/configuration/BeagleCacheAutoConfigurationTest.kt
Labels: backend

#588 fix: Fixes bug related to fetch components done at wrong moments
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Labels: android, bug

#589 fix: clear bindings from destroyed views
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
Labels: android

#591 fix: custom components registering
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Labels: critical, iOS

#597 fix: change event name of PageView
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageView+Renderable.swift
Labels: iOS

#584 fix: Context evaluation for values that is not string
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
Labels: android, bug

#488 fix: CacheManager normalize headers before use
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Networking/Default/NetworkCache.swift
  iOS/Sources/Beagle/Sources/Networking/Default/Tests/NetworkCacheTest.swift
  iOS/Sources/Beagle/Sources/Networking/Repository.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Labels: bug, iOS

#596 feat: Add context binding evaluation cache
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataTreeHelperTest.kt
Labels: android

#608 feat: Expression evaluates null
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Labels: android

#611 fix: live preview android plugin dependency and navigation
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/preview/build.gradle
  android/preview/src/main/java/br/com/zup/beagle/android/preview/BeaglePreview.kt
  android/preview/src/main/java/br/com/zup/beagle/android/preview/PreviewActivity.kt
  android/preview/src/test/java/br/com/zup/beagle/android/preview/BeaglePreviewTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Labels: android, bug, critical, enhancement

#604 fix: update handleEvent params
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AlertTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConfirmTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TouchableTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
Labels: android

#582 fix: dependence on specific attributes in android styles
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleTabLayout.kt
  android/beagle/src/main/res/values/attrs.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SubmitFormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BeagleTextViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/InputTextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StyleManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/sample/src/main/res/drawable/beagle_image.png
  android/sample/src/main/res/values/styles.xml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
Labels: android, backend, bug, critical

#609 fix: Toolbar with centralized title
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
Labels: android

#612 fix: Removing warnings and organizing build scripts
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  backend/build.gradle
  backend/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  backend/framework/.gitignore
  backend/framework/build.gradle
  backend/processor/build.gradle
  backend/sample/.gitignore
  backend/sample/core/build.gradle
  backend/sample/micronaut/build.gradle
  backend/sample/spring/build.gradle
  backend/starters/micronaut/build.gradle
  backend/starters/spring/build.gradle
  backend/widgets/build.gradle
  common/extended-schema/build.gradle
Labels: CI/CD, android, backend

#619 fix: added test platform settings in Micronaut starter
  backend/starters/micronaut/build.gradle
Labels: backend

#614 fix: fetch the screen before the navigation
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewModel.swift
Labels: bug, iOS

#610 feat: cache iOS dependencies
  .github/workflows/ios-pr.yml
Labels: CI/CD, iOS

#629 fix: Android context cache
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
Labels: android, bug

#630 fix: iOS - lazy component using cache
  iOS/Schema/Sources/ServerDrivenComponent/ListView/ListView.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageView/PageView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/Screen.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Touchable/Touchable.swift
  iOS/Schema/Sources/Widgets/Container/Container.swift
  iOS/Schema/Sources/Widgets/SimpleForm/SimpleForm.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/BeaglePrefetchHelper.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/LazyComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/SimpleForm+Renderable/Tests/SimpleFormTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Navigation/UIWindow+Extension.swift
  iOS/Sources/Beagle/Sources/Networking/Repository.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewModel.swift
Labels: bug, iOS

#631 feat: beagle retry android
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleRetry.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormLocalActionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/SampleServerDrivenActivity.kt
  android/sample/src/main/res/layout/activity_server_driven.xml
  android/sample/src/main/res/values/strings.xml
Labels: android

#624 fix: wrong context data evaluate
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextValueHandler.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Labels: android, bug

#562 fix: correct toolbar menu
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
Labels: android

#621 fix: Adds extension variable for beagleComponent on View class. To set the tag with the resourceId
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormSubmit.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormValidatorController.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/res/values/ids.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormValidationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SubmitFormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BaseComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormInputTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormSubmitTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormValidatorControllerTest.kt
Labels: android, bug, enhancement

#635 fix: page view
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PageViewScreenBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
Labels: android, backend

#620 feat: TabBar Componnent
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllComponentsAreBeingRegistered.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabBar.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/JSON/TabBar.json
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/TabBarTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/__Snapshots__/TabBarTests/test_whenDecodingJson_thenItShouldReturnATabBar.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/TabView/TabView.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabView/Tests/JSON/TabView.json
  iOS/Schema/Sources/ServerDrivenComponent/TabView/Tests/TabViewTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabView/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarCollectionViewCell.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabBarCollectionViewCellTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabBarTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabBarUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/__Snapshots__/TabBarTests/test_viewWithTabBar.1.png
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/__Snapshots__/TabViewTests/test_viewWithTabView.1.png
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/Tests/TabViewTests.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/Tests/TabViewUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/Tests/__Snapshots__/TabViewTests/test_viewWithTabView.1.png
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
  iOS/Sources/Beagle/Sources/Theme/Theme.swift
  iOS/Sources/Beagle/Sources/Theme/ThemeTests.swift
Labels: iOS

#636 refactor: tab view android
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabBar.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/utils/BeagleConstants.kt
Labels: android, backend

#640 feat: set possibility of escape expressions
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Labels: android

#606 fix: context in PageView and LazyComponent
  iOS/Example/BeagleDemo/BeagleDemo/Screens/LazyComponentScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/LazyComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/__Snapshots__/LazyComponentTests/test_lazyLoad_shouldReplaceTheInitialContent.1.png
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/__Snapshots__/LazyComponentTests/test_lazyLoad_shouldReplaceTheInitialContent.2.png
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/ComponentHostController.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/PageViewTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/__Snapshots__/PageViewTests/test_pageViewWithContext.1.png
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewModel.swift
  iOS/Sources/Beagle/Sources/Renderer/LayoutManager.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Labels: bug, iOS

#651 feat: improved Kotlin generation in ruby schema templates
  schema/schema-ruby-erb/Model Generation/.gitignore
  schema/schema-ruby-erb/Model Generation/Common/constants.rb
  schema/schema-ruby-erb/Model Generation/Gemfile.lock
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/ButtonSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/CornerRadiusSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/DisplaySchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/EdgeValueSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/FlexSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/PositionTypeSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/SizeSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/TextSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/Kotlin/UnitValueSchema.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Button.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/CornerRadius.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Display.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/EdgeValue.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Flex.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/PositionType.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Size.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Style.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/Text.kt
  schema/schema-ruby-erb/Model Generation/Generated/KotlinBackend/UnitValue.kt
  schema/schema-ruby-erb/Model Generation/Models/Layout/corner_radius.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/display.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/edge_value.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/flex.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/position_type.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/size.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/style.rb
  schema/schema-ruby-erb/Model Generation/Models/Layout/unit_value.rb
  schema/schema-ruby-erb/Model Generation/Models/Widgets/button.rb
  schema/schema-ruby-erb/Model Generation/Models/Widgets/text.rb
  schema/schema-ruby-erb/Model Generation/Models/Widgets/widget.rb
  schema/schema-ruby-erb/Model Generation/Synthax/type.rb
  schema/schema-ruby-erb/Model Generation/main.rb
  schema/schema-ruby-erb/Model Generation/model_template_kotlin.erb
  schema/schema-ruby-erb/Model Generation/model_template_kotlin_backend.erb
Labels: schema

#613 feat: context improvements iOS
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/xcshareddata/xcschemes/BeagleDemo.xcscheme
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_multipleExpressionRawRepresentable.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_multipleExpressionRawRepresentable.2.txt
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/SetContext.swift
  iOS/Sources/Beagle/Sources/Common/Observable/Observable.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/PageIndicator+Renderable/PageIndicator+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/SimpleForm+Renderable/Tests/SimpleFormTests.swift
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/WebView+Renderable.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/GlobalContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/test_evaluate.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/test_setContext.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/test_setContext.2.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/UIView+ContextTests/test_setContext.3.txt
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
Labels: iOS

#643 chore: Update test retry
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormLocalActionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/WebViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/FormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
Labels: android

#658 fix: tab null validation
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
Labels: iOS

#664 fix: delete duplicate TabViewUIComponent file
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Labels: bug, iOS

#627 feat: allow developers to retry an unsuccessful request
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/CustomBeagleNavigationController.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/ErrorView.swift
  iOS/Sources/Beagle/Sources/Action/Action.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/FormLocalActionTests/test_whenExecuteFormLocalAction_shouldListenToStateChanges.1.txt
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/LazyComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Context/FormManager.swift
  iOS/Sources/Beagle/Sources/Context/Tests/FormManagerTests.swift
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleNavigationController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Labels: enhancement, iOS

#668 fix: delete screen controller file
  iOS/Sources/Beagle/Sources/Renderer/ScreenController.swift
Labels: bug, iOS

#659 refactor: Change context to be linked with view
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextBinding.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextComponentHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataTreeHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ImplicitContextManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/main/res/values/ids.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormLocalActionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SetContextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SubmitFormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BaseComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageIndicatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextComponentHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataTreeHelperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/PreFetchHelperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/ViewConvertableRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/ViewMock.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Text.kt
Labels: android, technical debt

#642 fix: SendRequest deserialization
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SendRequestTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SendRequestTests/test_whenSendRequestWithError_shouldDoRequestAndTriggerActions.1.txt
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SendRequestTests/test_whenSendRequestWithSuccess_shouldDoRequestAndTriggerActions.1.txt
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
Labels: bug, iOS
