Repository ZupIT/beagle, pull requests merged in 2020-06, with the labels that each got.

#198 fix: configured maven publishing of new processor modules
  android/android-processor/build.gradle
  backend/processor/build.gradle
  backend/processor/gradle.properties
  buildSrc/src/main/java/Dependencies.kt
  common/processor-utils/build.gradle
  common/processor-utils/gradle.properties
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleProcessorConstants.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleProcessorExtensions.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleWidgetBindingHandler.kt
  settings.gradle
Labels: backend, bug, critical

#169 refactor: add MiniBeagle playground to allow developers to test new ideas outside Beagle
  iOS/Example/MiniBeagle/MiniBeagle.xcodeproj/project.pbxproj
  iOS/Example/MiniBeagle/MiniBeagle.xcworkspace/contents.xcworkspacedata
  iOS/Example/MiniBeagle/MiniBeagle.xcworkspace/xcshareddata/IDETemplateMacros.plist
  iOS/Example/MiniBeagle/MiniBeagle.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Example/MiniBeagle/MiniBeagle.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  iOS/Example/MiniBeagle/MiniBeagleTests/Info.plist
  iOS/Example/MiniBeagle/MiniBeagleTests/MiniBeagleTests.swift
  iOS/Example/MiniBeagle/Playground.playground/Contents.swift
  iOS/Example/MiniBeagle/Playground.playground/contents.xcplayground
  iOS/Example/MiniBeagle/Playground.playground/playground.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Example/MiniBeagle/README.md
  iOS/Example/MiniBeagle/Sources/Components.swift
  iOS/Example/MiniBeagle/Sources/Context.swift
  iOS/Example/MiniBeagle/Sources/Decoder.swift
  iOS/Example/MiniBeagle/Sources/Expression.swift
  iOS/Example/MiniBeagle/Sources/Info.plist
  iOS/Example/MiniBeagle/Sources/MiniBeagle.h
  iOS/Example/MiniBeagle/Sources/Util.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar/TabViewUIComponent.swift
Labels: iOS

#218 fix: "flex" property of Flex was not working due to conflicts with default values of other properties
  android/beagle/src/main/java/br/com/zup/beagle/engine/mapper/FlexMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/mapper/FlexMapperTest.kt
  iOS/Sources/BeagleUI/Sources/Components/Layout/Flex/FlexViewConfigurator.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout/Flex/Tests/FlexViewConfiguratorTests.swift
Labels: android, iOS, schema

#221 fix: implements all, horizontal, vertical in flex position
  iOS/Sources/BeagleUI/Sources/Components/Layout/Flex/FlexViewConfigurator.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout/Flex/Tests/FlexViewConfiguratorTests.swift
Labels: bug, iOS

#224 feat: upgrade to swift 5 version
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/xcshareddata/xcschemes/BeagleDemo.xcscheme
  iOS/Example/BeaglePreviewDemo/BeaglePreviewDemo.xcodeproj/project.pbxproj
  iOS/Libraries/YogaKit/YogaKit.xcodeproj/project.pbxproj
  iOS/Libraries/YogaKit/YogaKit.xcodeproj/xcshareddata/xcschemes/YogaKit.xcscheme
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/xcshareddata/xcschemes/BeagleUI.xcscheme
  iOS/Sources/BeagleUI/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/BeagleUI/Sources/Common/Loading/LoadingView.swift
  iOS/Sources/BeagleUI/Sources/Common/Util/Result.swift
  iOS/Sources/BeagleUI/Sources/Components/Form/Form.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar/TabViewUIComponent.swift
  iOS/Sources/BeagleUI/Sources/Navigation/UIWindow+Extension.swift
  iOS/Sources/BeagleUI/Sources/Networking/Default/NetworkClientDefault.swift
  iOS/Sources/BeagleUI/Sources/Networking/Default/Tests/HttpRequestBuilderTest.swift
  iOS/Sources/BeagleUI/Sources/Networking/NetworkClient.swift
  iOS/Sources/BeagleUI/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/BeagleUI/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/BeagleUI/Sources/Renderer/LayoutManager.swift
  iOS/Sources/BeagleUI/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.pbxproj
  iOS/Sources/Preview/Sources/BeaglePreviewViewController.swift
Labels: enhancement, iOS

#231 fix: extension function loadView to viewgroups with wrap_content height
  android/beagle/src/main/java/br/com/zup/beagle/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/view/BeagleView.kt
  android/beagle/src/test/java/br/com/zup/beagle/utils/ViewExtensionsKtTest.kt
Labels: android, bug

#230 feat: design system remodeling
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/BeagleSetupPropertyGenerator.kt
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/ui/ImageViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/setup/DesignSystem.kt
  android/beagle/src/main/java/br/com/zup/beagle/utils/StyleManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/view/BeagleTextView.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/ui/TabViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/utils/StyleManagerTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppDesignSystem.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/DisabledFormSubmitFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
Labels: android

#232 feat: Expose fragment transition API
  android/beagle/src/main/java/br/com/zup/beagle/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/view/FragmentTransitionAnimation.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/SampleServerDrivenActivity.kt
Labels: android, enhancement

#240 feat: network image placeholder
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/ui/NetworkImageViewRenderer.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/ui/NetworkImageViewRendererTest.kt
  common/declarative/src/main/kotlin/br/com/zup/beagle/widget/ui/NetworkImage.kt
Labels: android, enhancement

#219 refactor: remove flex language direction support
  android/beagle/src/main/java/br/com/zup/beagle/engine/mapper/FlexMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/engine/mapper/FlexYogaMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/mapper/FlexMapperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/FlexYogaMapperTest.kt
  common/core-declarative/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
  common/core-declarative/src/main/kotlin/br/com/zup/beagle/widget/core/FlexBuilder.kt
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/SourceryFiles/Generated/Equality.generated.swift
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfullForScreenEvent.1.txt
  iOS/Sources/BeagleUI/Sources/Common/Extensions/FlexBuildersExtension.swift
  iOS/Sources/BeagleUI/Sources/Common/Extensions/Tests/FlexBuildersExtensionTests.swift
  iOS/Sources/BeagleUI/Sources/Common/Extensions/Tests/__Snapshots__/FlexBuildersExtensionTests/test_EdgeValueBuilder.1.txt
  iOS/Sources/BeagleUI/Sources/Common/Extensions/Tests/__Snapshots__/FlexBuildersExtensionTests/test_FlexBuilder.1.txt
  iOS/Sources/BeagleUI/Sources/Components/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Sources/BeagleUI/Sources/Components/Layout/Flex/EdgeValue.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout/Flex/Flex.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout/Flex/FlexViewConfigurator.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout/Flex/Size.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout/Flex/Tests/FlexViewConfiguratorTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout/Flex/Tests/YogaTranslatorTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout/Flex/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Sources/BeagleUI/Sources/Components/Layout/Flex/UnitValue.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout/Flex/YogaTranslator.swift
  iOS/Sources/BeagleUI/Sources/Components/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnAPageView.1.txt
  iOS/Sources/BeagleUI/Sources/Components/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnPageViewWithIndicator.1.txt
  iOS/Sources/BeagleUI/Sources/Components/TabBar/TabViewUIComponent.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Sources/BeagleUI/Sources/Components/Tests/__Snapshots__/WidgetTests/testParsingOfWidgetWithAllAttributes.1.txt
  iOS/Sources/BeagleUI/Sources/Components/WebView/Tests/__Snapshots__/WebViewTests/test_whenDecondingJson_shouldReturnAWebView.1.txt
Labels: android, iOS, schema

#237 fix: handling binding generation when fields are overridden
  backend/processor/src/test/kotlin/br/com/zup/beagle/test/OverrideParentWidgetBindingTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/test/TestCases.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleProcessorExtensions.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleWidgetBindingHandler.kt
  fastlane/Fastfile
Labels: android, backend, bug

#248 fix: webview component does not deserialize
  android/beagle/src/main/java/br/com/zup/beagle/data/serializer/adapter/ComponentJsonAdapterFactory.kt
Labels: android, bug

#250 fix: add Android CODEOWNERS as backend owners
  CODEOWNERS
Labels: backend, deploy

#262 feat: treat nullable fields in binding generation
  backend/processor/src/test/kotlin/br/com/zup/beagle/test/NullableWidgetTest.kt
  backend/processor/src/test/kotlin/br/com/zup/beagle/test/TestCases.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleBindingHandler.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClass.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleProcessorExtensions.kt
Labels: android, backend, enhancement

#234 feat: Standardization - Color
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/utils/ColorUtils.kt
  android/beagle/src/test/java/br/com/zup/beagle/utils/ColorUtilsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/utils/StringExtensionsKtTest.kt
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/Tests/JSON/ScrollViewComponent.json
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/Tests/__Snapshots__/ScrollViewTests/test_whenDecodingJson_shouldReturnAScrollView.1.txt
  iOS/Schema/Sources/Widgets/Container/Tests/JSON/Container.json
  iOS/Schema/Sources/Widgets/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Schema/Sources/Widgets/Image/Tests/JSON/ImageComponent.json
  iOS/Schema/Sources/Widgets/Image/Tests/__Snapshots__/ImageTests/test_whenDecodingJson_thenItShouldReturnAnImage.1.txt
  iOS/Schema/Sources/Widgets/Text/Tests/Json/TextComponent.json
  iOS/Schema/Sources/Widgets/Text/Tests/__Snapshots__/TextTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Schema/Sources/Widgets/WidgetProperties/Style/Tests/UIView+StyleTests.swift
  iOS/Schema/Sources/Widgets/WidgetProperties/Style/UIView+Style.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Common/Extensions/Tests/UIView+StyleTests.swift
  iOS/Sources/BeagleUI/Sources/Common/Extensions/UIView+Style.swift
  iOS/Sources/BeagleUI/Sources/Components/Image+Renderable/Tests/JSON/ImageComponent.json
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Flex/Tests/ContainerTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Scroll/Tests/Json/ScrollViewComponent.json
  iOS/Sources/BeagleUI/Sources/Components/Page+Renderable/Indicator/DefaultPageIndicator+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/Text+Renderable/Tests/TextTests.swift
  iOS/Sources/BeagleUI/Sources/Renderer/Tests/Json/declarativeText1.json
  iOS/Sources/BeagleUI/Sources/Renderer/Tests/Json/declarativeText2.json
  iOS/Sources/BeagleUI/Sources/Renderer/ViewConfigurator.swift
Labels: android, iOS

#235 feat: resgister custom actions
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/FormLocalAction.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/ComponentDecoderTests.swift
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllActionsAreBeingRegistered.1.txt
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllDecodersAreBeingRegistered.1.txt
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/LocalFormHandler.swift
  iOS/Sources/BeagleUI/Sources/Action/Tests/LocalFormHandlerTests.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Tests/FormLocalActionTests.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Tests/__Snapshots__/FormLocalActionTests/test_whenExecuteFormLocalAction_shouldListenToStateChanges.1.txt
  iOS/Sources/BeagleUI/Sources/Context/FormManager.swift
  iOS/Sources/BeagleUI/Sources/Context/Tests/FormManagerTests.swift
  iOS/Sources/BeagleUI/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/BeagleUI/Sources/Setup/BeagleSetup.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Labels: enhancement, iOS

#211 fix:form-uri
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormSubmitter.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormSubmitterTest.kt
  iOS/Sources/BeagleUI/Sources/Networking/Default/HttpRequestBuilder.swift
Labels: android, bug, critical, iOS

#279 fix: missing BeagleSchema.framework in BeagleDemo target
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
Labels: bug, iOS

#227 feat: adding support to set default animation in navigate actions
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/BeagleUI/Sources/Navigation/BeagleNavigatorAnimation.swift
  iOS/Sources/BeagleUI/Sources/Navigation/Tests/BeagleNavigatorAnimationTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Labels: enhancement, iOS

#303 fix: update codeowners
  CODEOWNERS
Labels: deploy

#264 refactor: standardization add children
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/layout/PageViewRendererTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ListViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/PageViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/extensions/ListViewExtensions.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PageViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TabViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/compose/ComposePageView.kt
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/ListView/ListView.swift
  iOS/Schema/Sources/ServerDrivenComponent/ListView/Tests/JSON/listViewComponent.json
  iOS/Schema/Sources/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/test_whenDecodingJson_thenItShouldReturnAListView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Indicator/Tests/JSON/PageViewWithCustomIndicator.json
  iOS/Schema/Sources/ServerDrivenComponent/Page/PageView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/Json/PageViewWith3Pages.json
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/Json/PageViewWith3PagesAndIndicator.json
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnAPageView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnPageViewWithIndicator.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/JSON/TabView.json
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Sources/BeagleUI/Sources/Components/ListView+Renderable/ListView+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/ListView+Renderable/Tests/ListViewInitTests.swift
  iOS/Sources/BeagleUI/Sources/Components/ListView+Renderable/Tests/ListViewTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Page+Renderable/PageView+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/Page+Renderable/Tests/CustomPageIndicator/CustomPageIndicatorTest.swift
  iOS/Sources/BeagleUI/Sources/Components/Page+Renderable/Tests/PageViewTests.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabView.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/Tests/TabBarCollectionViewCellTests.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/Tests/TabViewTests.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/Tests/TabViewUIComponentTests.swift
  iOS/Sources/BeagleUI/Sources/Theme/ThemeTests.swift
Labels: android, iOS, schema

#306 feat: alert and confirm actions
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/Alert.swift
  iOS/Schema/Sources/Action/Types/Confirm.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllActionsAreBeingRegistered.1.txt
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/Types/Alert.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Confirm.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Tests/AlertTests.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Tests/ConfirmTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Labels: iOS

#312 feat: Adds schema/android implementation for Bind attributes of WebView Widget
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/WebView.kt
Labels: android, schema

#326 refactor: remove support attribute start and end property edgevalue
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/mapper/FlexMapperTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/DisabledFormSubmitFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextScreenBuilder.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/FlexBuilder.kt
Labels: android, schema

#316 feat: Adds schema/android implementation for Bind attributes of TabView Widget
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
Labels: android, schema

#327 refactor: update dco.yml
  .github/dco.yml
Labels: deploy

#323 fix: confirm and alert actions
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Schema/Sources/Action/Types/Alert.swift
  iOS/Schema/Sources/Action/Types/Confirm.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Alert.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Confirm.swift
Labels: bug, iOS

#329 fix: Components Alerts and SendRequest
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/LazyComponentScreen.swift
  iOS/Schema/Sources/Action/Types/SendRequest.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Alert.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Confirm.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Labels: bug, iOS

#318 fix: artifact names
  common/processor-utils/gradle.properties
Labels: bug, critical, deploy

#324 feat: complex object evaluation
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StringExtensionsKtTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SetContext.kt
Labels: android, enhancement

#335 refactor: change attribute sendRequest onSuccess, onError and onFinish
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
Labels: android, schema

#337 refactor: change serializer type beagle to custom
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/BeagleSerializerConstants.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/BeagleTypeSerializer.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/jackson/BeagleTypeSerializerTest.kt
Labels: backend, schema

#341 fix: webview crash on android 21
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
Labels: android, bug

#331 fix: treated empty response body returned with HTTP 304 in Android
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
Labels: android, bug, critical

#344 fix: Touchable not working in some components
  iOS/Sources/BeagleUI/Sources/Action/Tests/TouchableTests.swift
  iOS/Sources/BeagleUI/Sources/Action/Touchable+Renderable.swift
Labels: bug, iOS

#338 feat: create json tree in the context
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataTreeHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonCreateTree.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonPathReplacer.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataTreeHelperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/jsonpath/JsonCreateTreeTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/jsonpath/StubJsonTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
Labels: android

#347 feat: add support to list of actions in touchable
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TouchableTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/NavigationFragment.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/navigation/Touchable.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/AnalyticsScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TouchableScreenBuilder.kt
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Touchable/Tests/Json/TouchableDecoderTest.json
  iOS/Schema/Sources/ServerDrivenComponent/Touchable/Tests/__Snapshots__/TouchableTests/testInitFromDecoder.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Touchable/Touchable.swift
  iOS/Sources/BeagleUI/Sources/Action/Tests/TouchableTests.swift
  iOS/Sources/BeagleUI/Sources/Action/Touchable+Renderable.swift
Labels: android, enhancement, iOS

#351 fix: replaced presence check with EOF exception handling
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
Labels: android, bug, critical

#328 feat: add expression support ios #283
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/CustomComponentScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/WebViewScreen.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/test_decoding_pushStack.1.txt
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/test_decoding_pushView.1.txt
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Lazy/Tests/__Snapshots__/LazyComponentTests/test_whenDecodingJson_thenItShouldReturnALazyComponent.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/test_whenDecodingJson_thenItShouldReturnAListView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/PageView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnAPageView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnPageViewWithIndicator.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Screen/NavigationBar.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/Screen.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/Tests/__Snapshots__/ScrollViewTests/test_whenDecodingJson_shouldReturnAScrollView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Touchable/Tests/__Snapshots__/TouchableTests/testInitFromDecoder.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/WebView/Tests/__Snapshots__/WebViewTests/test_whenDecondingJson_shouldReturnAWebView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/WebView/WebView.swift
  iOS/Schema/Sources/Widgets/Button/Button.swift
  iOS/Schema/Sources/Widgets/Button/__Snapshots__/ButtonTests/test_whenDecodingJson_thenItShouldReturnAButton.1.txt
  iOS/Schema/Sources/Widgets/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Schema/Sources/Widgets/Tests/__Snapshots__/WidgetTests/testParsingOfWidgetWithAllAttributes.1.txt
  iOS/Schema/Sources/Widgets/Text/Tests/__Snapshots__/TextTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Schema/Sources/Widgets/Text/Text.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/Types/SendRequest.swift
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfullForClickEvent.1.txt
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfullForScreenEvent.1.txt
  iOS/Sources/BeagleUI/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/BeagleUI/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/Button+Renderable/Tests/ButtonTests.swift
  iOS/Sources/BeagleUI/Sources/Components/ListView+Renderable/Tests/ListViewTests.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
  iOS/Sources/BeagleUI/Sources/Components/Text+Renderable/Tests/TextTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Text+Renderable/Tests/__Snapshots__/TextTests/test_renderTextComponent.1.png
  iOS/Sources/BeagleUI/Sources/Components/Text+Renderable/Text+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/WebView+Renderable/WebView+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/WebView+Renderable/WebViewUIComponent.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/Expression+Public.swift
  iOS/Sources/BeagleUI/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/BeagleUI/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/BeagleUI/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/BeagleUI/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Labels: iOS

#355 docs: update readme
  README.md
Labels: DX, documentation

#320 feat: add context to some components #282
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Screen.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ScreenExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/Tests/__Snapshots__/ScrollViewTests/test_whenDecodingJson_shouldReturnAScrollView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/WebView/WebView.swift
  iOS/Sources/BeagleUI/Sources/Components/ListView+Renderable/Tests/ListViewTests.swift
  iOS/Sources/BeagleUI/Sources/Components/WebView+Renderable/WebView+Renderable.swift
Labels: android, backend, iOS, schema

#357 fix: scroll view with horizontal axis
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
Labels: android, bug, critical

#332 feat: implement multiple expression iOS
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/SetContext.swift
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Schema/Sources/ContextExpression/Path.swift
  iOS/Schema/Sources/ContextExpression/PathParser.swift
  iOS/Schema/Sources/ContextExpression/SingleExpression.swift
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/PathTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_multipleExpressionRawRepresentable.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_multipleExpressionRawRepresentable.2.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_singleExpressionRawRepresentable.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_singleExpressionRawRepresentable.2.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/PathTests/test_RawRepresentable.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/PathTests/test_RawRepresentable.2.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/SingleExpressionTests/test_rawRepresentable.1.txt
  iOS/Schema/Sources/Widgets/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/Types/Alert.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Confirm.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/SetContext.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/DynamicObject+Merge.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/DynamicObject+Public.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/Expression.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/SingleExpression+Evaluate.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/DynamicObjectTests.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/__Snapshots__/DynamicObjectTests/test_setObjectWithPath.1.txt
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/__Snapshots__/DynamicObjectTests/test_setObjectWithPath.2.txt
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/__Snapshots__/DynamicObjectTests/test_setObjectWithPath.3.txt
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/__Snapshots__/DynamicObjectTests/test_setObjectWithPath.4.txt
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/__Snapshots__/DynamicObjectTests/test_setObjectWithPath.5.txt
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/__Snapshots__/DynamicObjectTests/test_setObjectWithPath.6.txt
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_singleExpressionEvaluation.1.txt
  iOS/Sources/BeagleUI/Sources/ContextExpression/UIView+Context.swift
Labels: iOS

#346 fix: TabView width fix
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabView.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Labels: bug, iOS

#361 fix: Fixes flex conflict with grow and shrink
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Style/StyleViewConfigurator.swift
Labels: bug, iOS

#360 feat: cors support
  backend/sample/micronaut/src/main/resources/application.properties
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/config/CorsConfig.kt
Labels: backend, web

#368 fix(iOS): Some places were not decoding Image Local properly
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/NavigationBar.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
  iOS/Schema/Sources/Widgets/Image/Image.swift
  iOS/Sources/BeagleUI/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Screen/NavigationBar+UIKit.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabBarCollectionViewCell.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/Tests/TabBarCollectionViewCellTests.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/Tests/TabViewTests.swift
Labels: iOS

#349 feat: container onInit event
  fastlane/Fastfile
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnAPageView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnPageViewWithIndicator.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Schema/Sources/Widgets/Container/Container.swift
  iOS/Schema/Sources/Widgets/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfullForScreenEvent.1.txt
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Container/Container+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
Labels: enhancement, iOS

#372 fix: TextInput deserialization
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
Labels: android, bug, critical

#367 refactor: remote route attribute changed to url
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/PreFetchHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/PreFetchHelperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Sources/Beagle/BeagleTests/Spies/BeaglePrefetchHelpingSpy.swift
  iOS/Sources/Beagle/Sources/Caching/CacheManager/Tests/CacheManagerDefaultTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/BeaglePrefetchHelper.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
Labels: android, backend, critical, iOS missing

#365 fix: adjust send request action
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppBeagleConfig.kt
Labels: android

#375 feat: API and performance improvement
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ContextDataAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Confirm.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/context/Bind.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Text.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/WebView.kt
Labels: android, enhancement

#374 fix: add support to javascript in webview
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
Labels: android, bug

#380 fix: onTextChanges for TextInput
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
Labels: android, bug

#382 fix: Navigate decoding error
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
Labels: bug, iOS

#376 chore: new Xcode Scheme called "All" that will build and test everything
  fastlane/Fastfile
  iOS/Cartfile
  iOS/Cartfile.resolved
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Cartfile
  iOS/Schema/Sources/Action/Types/Navigate/Tests/Json/pushview.json
  iOS/Schema/Sources/Action/Types/Navigate/Tests/Json/resetapplication.json
  iOS/Schema/Sources/Action/Types/Navigate/Tests/Json/resetstack.json
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Beagle.xcodeproj/xcshareddata/xcschemes/All.xcscheme
  iOS/Sources/Beagle/Beagle.xcodeproj/xcshareddata/xcschemes/Beagle.xcscheme
  iOS/Sources/Beagle/Cartfile
  iOS/Sources/Beagle/Cartfile.resolved
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.pbxproj
  iOS/Sources/Preview/Cartfile
  iOS/Sources/Preview/Cartfile.resolved
Labels: iOS

#384 fix: adjust crash when some error happen in request
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
Labels: android, bug, critical

#389 fix: pageView size is defined by the parent size
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ScrollViewFragment.kt
Labels: android, bug

#366 feat: image placeholder
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
  backend/sample/micronaut/src/main/resources/application.properties
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/Widgets/Image/Image.swift
  iOS/Schema/Sources/Widgets/Image/Tests/__Snapshots__/ImageTests/test_whenDecodingJson_thenItShouldReturnAnImage.1.txt
  iOS/Sources/Beagle/BeagleTests/Helpers/ComponentFromJsonFile.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Indicator/DefaultPageIndicator+Renderable.swift
Labels: android, enhancement, iOS

#390 ci: iOS fixing some details with CocoaPods deploy
  Beagle.podspec
  BeagleSchema.podspec
  fastlane/Fastfile
  iOS/Example/BeaglePreviewDemo/BeaglePreviewDemo.xcodeproj/project.pbxproj
Labels: deploy, iOS

#391 fix: image decoding error
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/NavigationBar.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Schema/Sources/Widgets/Image/Image.swift
  iOS/Schema/Sources/Widgets/Image/Tests/JSON/ImageComponent.json
  iOS/Schema/Sources/Widgets/Image/Tests/__Snapshots__/ImageTests/test_whenDecodingJson_thenItShouldReturnAnImage.1.txt
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/JSON/ImageComponent.json
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/JSON/ImageComponent1.json
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/JSON/ImageComponent2.json
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/NavigationBar+UIKit.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarCollectionViewCell.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabBarCollectionViewCellTests.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabViewTests.swift
Labels: bug, iOS

#393 fix: ios typos
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/DSCollection/DSCollectionUIComponent.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Tests/JSON/TextContainer.json
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ScreenDeepLink.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ViewLayoutHelper.swift
  iOS/Schema/Sources/Action/RawAction.swift
  iOS/Schema/Sources/Decoding/Tests/ComponentDecoderTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/WebView/Tests/WebViewTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/WebView/Tests/__Snapshots__/WebViewTests/test_whenDecodingJson_shouldReturnAWebView.1.txt
  iOS/Schema/Sources/Widgets/Tests/WidgetTests.swift
  iOS/Sources/Beagle/Sources/Action/Tests/LocalFormHandlerTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/FormLocalActionTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Analytics.swift
  iOS/Sources/Beagle/Sources/Analytics/Tests/AnalyticsTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForClickEvent.1.txt
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForScreenEvent.1.txt
  iOS/Sources/Beagle/Sources/Caching/CacheManager/Tests/CacheManagerDefaultTests.swift
  iOS/Sources/Beagle/Sources/Caching/CoreData/CacheDiskManager.swift
  iOS/Sources/Beagle/Sources/Caching/CoreData/Tests/CacheDiskManagerTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/Beagle/Sources/Components/Acessibility+Renderable/AccessibilityTests.swift
  iOS/Sources/Beagle/Sources/Components/Form+Renderable/Input/FormInputHidden+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.xcassets/keyboard.imageset/Contents.json
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.xcassets/keyboard.imageset/keyboard.png
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Scroll/Tests/ScrollViewTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/CustomPageIndicator/CustomPageIndicator.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/Tests/TabViewUIComponentTests.swift
  iOS/Sources/Beagle/Sources/Context/Tests/FormManagerTests.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/BeagleLoggerTests.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorAnimationTests.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Networking/Default/NetworkClientDefault.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
  iOS/Sources/Preview/Sources/BeaglePreviewDependencies.swift
  iOS/Sources/Preview/Sources/BeaglePreviewViewController.swift
Labels: iOS

#388 fix: disable warnings about documentation
  dokka.gradle
Labels: deploy

#385 feat: added expression support to text input in ios
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/TextInput+Renderable/Tests/__Snapshots__/TextInputTests/test_renderTextInputComponent.1.png
  iOS/Sources/Beagle/Sources/Components/TextInput+Renderable/Tests/__Snapshots__/TextInputTests/test_textInputComponent_whenTextValueChanges.1.png
  iOS/Sources/Beagle/Sources/Components/TextInput+Renderable/TextInput.swift
Labels: iOS

#394 fix: complex object evaluation on iOS
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Schema/Sources/Action/Types/SetContext.swift
  iOS/Sources/Beagle/Sources/Action/Types/Alert.swift
  iOS/Sources/Beagle/Sources/Action/Types/Confirm.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/TextInput+Renderable/Tests/TextInputTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/test_singleExpressionEvaluation.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Labels: iOS

#396 fix: using classloader for annotation checking
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/SerializationUtil.kt
Labels: backend, bug

#395 feat: removed expression from style id #392
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BeagleTextViewExtensionsKtTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Text.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
  iOS/Example/BeagleDemo/BeagleDemo/Screens/FormScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/test_decoding_pushStack.1.txt
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/test_decoding_pushView.1.txt
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Lazy/Tests/__Snapshots__/LazyComponentTests/test_whenDecodingJson_thenItShouldReturnALazyComponent.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/test_whenDecodingJson_thenItShouldReturnAListView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnAPageView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnPageViewWithIndicator.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Screen/NavigationBar.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/Tests/__Snapshots__/ScrollViewTests/test_whenDecodingJson_shouldReturnAScrollView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Touchable/Tests/__Snapshots__/TouchableTests/testInitFromDecoder.1.txt
  iOS/Schema/Sources/Widgets/Button/Button.swift
  iOS/Schema/Sources/Widgets/Button/__Snapshots__/ButtonTests/test_whenDecodingJson_thenItShouldReturnAButton.1.txt
  iOS/Schema/Sources/Widgets/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Schema/Sources/Widgets/Tests/__Snapshots__/WidgetTests/testParsingOfWidgetWithAllAttributes.1.txt
  iOS/Schema/Sources/Widgets/Text/Tests/__Snapshots__/TextTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Schema/Sources/Widgets/Text/Text.swift
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForClickEvent.1.txt
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForScreenEvent.1.txt
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Tests/ButtonTests.swift
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Text+Renderable.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
Labels: android, iOS, schema

#397 fix: adjust render in touchable and in image network
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormSubmit.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  build.gradle
Labels: android, bug, critical

#398 fix: image decoding fix
  iOS/Schema/Sources/ServerDrivenComponent/Screen/NavigationBar.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
  iOS/Schema/Sources/Widgets/Image/Image.swift
Labels: bug, iOS

#399 fix: Multiple implicit context
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/InputTextTest.kt
Labels: android, bug

#402 chore: improve logging of Decoder errors
  iOS/Schema/Sources/Decoding/AnyDecodableContainer.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
Labels: iOS

#403 ci: add CocoaPods as a gem dependency so we can use it properly on CI
  Beagle.podspec
  BeagleSchema.podspec
  Gemfile
  Gemfile.lock
Labels: deploy

#406 chore: create PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: DX

#407 chore: create code of conduct
  CODE_OF_CONDUCT.md
  README.md
Labels: DX, documentation

#413 fix: NavigationBar not showing NavigationBarItems
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Labels: backend, bug

#412 fix: adjust ci to external contribution
  .github/workflows/pr_danger.yml
  Gemfile.lock
  fastlane/Fastfile
  fastlane/README.md
Labels: deploy

#417 chore: automatically label PRs
  .github/labeler.yml
  .github/workflows/label.yml
Labels: DX, deploy

#371 fix: adjust in TextView for not ignoring attributes
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ScrollViewFragment.kt
  android/sample/src/main/res/values/styles.xml
Labels: android, bug

#428 fix: image placeholder on Android and Backend
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
Labels: android, backend
