Repository ZupIT/beagle, pull requests merged in 2020-11, with the labels that each got.

#1109 fix: alert parameter's default value
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
Labels: backend, bug

#1096 feat: custom operations
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/BeagleConfig.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/OperationsScreen.swift
  iOS/Schema/Sources/ContextExpression/Operation.swift
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/testValidMultipleExpressions.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/testValidSingleExpression.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/ContextExpression/Operation+Evaluate.swift
  iOS/Sources/Beagle/Sources/ContextExpression/OperationsProvider.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/CustomOperationsTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationArrayEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationComparisonEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationLogicEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationNumberEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationOtherEvaluationTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationStringEvaluationTests.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Labels: enhancement, iOS

#1110 test: adds Alert action functional tests
  android/automated-tests/src/androidTest/assets/features/Alert.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/AlertSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/AlertScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/Alert.feature
  iOS/Tests/AutomatedTestsUITests/Steps/AlertSteps.swift
Labels: android, backend, iOS

#1114 fix: adjust crash in cache manager
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
Labels: android

#1111 test: refactor functional Text tests
  android/automated-tests/src/androidTest/assets/features/TextScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextScreen.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/matcher/MatcherExtension.kt
  android/git
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextScreenBuilder.kt
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Tests/TextTests.swift
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Tests/__Snapshots__/TextTests/testTextWithContext.1.png
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/Text.feature
  iOS/Tests/AutomatedTestsUITests/Steps/TextSteps.swift
Labels: android, backend, iOS

#1104 test: functional tests to textinput component
  android/automated-tests/src/androidTest/assets/features/TextInput.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
  iOS/Tests/.swiftlint.yml
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTests/Config/Network/NetworkClientDefault.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/TextInput.feature
  iOS/Tests/AutomatedTestsUITests/Steps/AddChildrenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ContainerSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/NavigateSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SendRequestActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TextInputSteps.swift
  iOS/Tests/AutomatedTestsUITests/Utils/XCUIElementQuery+Extension.swift
Labels: android, backend, iOS

#1106 test: functional tests to scrollview component
  android/automated-tests/src/androidTest/assets/features/ScrollView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/GenericSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ScrollViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/TestUtils.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/action/OrientationChangeAction.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/matcher/MatcherExtension.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ScrollViewScreenBuilder.kt
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/ScrollView.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewSteps.swift
Labels: android, backend, iOS

#1124 fix: listView template component with id and context
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/TokenFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModelTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/ListViewActivity.kt
  config/detekt-default-config.yml
Labels: android

#1128 test: fixes scroll view tests.
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
Labels: Integration Test, iOS

#1129 refactor: changed listview scroll listener
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTest.kt
Labels: android

#1131 fix: rename ListView property scrollThreshold to scrollEndThreshold
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Schema/Sources/ServerDrivenComponent/ListView/ListView.swift
  iOS/Schema/Sources/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewUIComponent.swift
Labels: iOS

#1132 test: functional tests to simple form component
  android/automated-tests/src/androidTest/assets/features/SimpleForm.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SimpleFormSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
Labels: android, backend

#1130 test: conditional action ui tests
  android/automated-tests/src/androidTest/assets/features/Conditional.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ConditionalSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ConditionalScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/SimpleComponentsController.kt
  iOS/Sources/Beagle/Sources/Action/Types/Condition.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/ConditionTests.swift
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/ConditionalAction.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ConditionalActionSteps.swift
Labels: android, backend, iOS

#1134 feat: add OnInitViewModel to handle onInit status on Android
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/OnInitiableComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextActionExecutor.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/OnInitViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/OnInitViewModelTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
Labels: android, backend, enhancement

#1133 chore: updated backend modules' dependencies
  backend/annotation/build.gradle
  backend/automated-tests/build.gradle
  backend/build.gradle
  backend/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  backend/gradle.properties
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/kotlin-core/build.gradle
  backend/processor-utils/build.gradle
  backend/sample/micronaut/build.gradle
  backend/sample/spring/build.gradle
Labels: backend

#1136 fix: iOS - Automated tests configuration fix
  .gitignore
  fastlane/Fastfile
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/SimpleForm.feature
Labels: CI/CD, iOS

#1126 fix: adjust scroll horizontal not working correctly
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
Labels: android

#1135 fix: adjust the type declaration method of the textInput component
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
Labels: android

#1137 test: functional tests simple form
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ConditionalScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/Features/SimpleForm.feature
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormSteps.swift
Labels: Integration Test, backend, iOS

#1139 fix: iOS - Fixes evaluate multiple expression
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SetContextTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SetContextTests/testSetContextWithMultipleExpression.1.png
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SetContextTests/testSetContextWithMultipleExpression.2.png
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Labels: bug, iOS

#1140 test: ios - functional tests to simple form component
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/SimpleForm.feature
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormSteps.swift
Labels: iOS

#1141 test: setContext tests
  android/automated-tests/src/androidTest/assets/features/ListView.feature
  android/automated-tests/src/androidTest/assets/features/SetContext.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SetContextSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SetContextScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Features/SetContext.feature
  iOS/Tests/AutomatedTestsUITests/Steps/SetContextSteps.swift
Labels: Integration Test, android, backend, iOS

#1146 feat: handle config changes for onInit calls
  android/beagle/src/main/java/br/com/zup/beagle/android/components/OnInitiableComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewModels.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/GenerateIdManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/OnInitViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/OnInitViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModelTest.kt
  android/build.gradle
Labels: android, bug, enhancement

#1149 feat: Add union context operation
  android/beagle/src/main/java/br/com/zup/beagle/android/operation/builtin/array/UnionOperation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/OperationResolverTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/operation/builtin/array/UnionOperationTest.kt
Labels: android

#1151 fix: android listview scroll threshold calculation
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
Labels: android

#1143 refactor: unifying annotation module
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/BeaglePreview.kt
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterAction.kt
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterOperation.kt
  android/android-annotation/src/main/kotlin/br/com/zup/beagle/annotation/RegisterWidget.kt
  android/annotation/build.gradle
  android/annotation/gradle.properties
  android/beagle/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/internal-processor/build.gradle
  android/processor-shared-code/build.gradle
  android/processor/build.gradle
  android/settings.gradle
Labels: CI/CD, android

#1144 test: confirm action ui tests
  android/automated-tests/src/androidTest/assets/features/Confirm.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ConfirmSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ConfirmScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Features/Confirm.feature
  iOS/Tests/AutomatedTestsUITests/Steps/AddChildrenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ConditionalActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ConfirmActionSteps.swift
Labels: android, backend, iOS

#1154 fix: Android embedded listview without id
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
Labels: android

#1152 test: action not registered on frontend
  android/automated-tests/src/androidTest/assets/features/ActionNotRegistered.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ActionNotRegistered.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/actions/ShowToast.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ActionNotRegisteredScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ActionsScreenController.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Features/ActionNotRegistered.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ActionNotRegisteredSteps.swift
Labels: android, backend, iOS

#932 fix: Xcode 12 compiling issues
  iOS/Beagle.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/xcshareddata/xcschemes/BeagleDemo.xcscheme
  iOS/Libraries/YogaKit/YogaKit.xcodeproj/project.pbxproj
  iOS/Libraries/YogaKit/YogaKit.xcodeproj/xcshareddata/xcschemes/YogaKit.xcscheme
  iOS/Schema/BeagleSchema.xcodeproj/xcshareddata/xcschemes/Schema.xcscheme
  iOS/Schema/Sources/ServerDrivenComponent/ListView/ListView.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageView/PageView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabView/TabView.swift
  iOS/Schema/Sources/Widgets/Container/Container.swift
  iOS/Schema/Sources/Widgets/SimpleForm/SimpleForm.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/xcshareddata/xcschemes/All.xcscheme
  iOS/Sources/Beagle/Beagle.xcodeproj/xcshareddata/xcschemes/Beagle.xcscheme
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.pbxproj
  iOS/Sources/Preview/BeaglePreview.xcodeproj/xcshareddata/xcschemes/BeaglePreview.xcscheme
  iOS/Tests/AutomatedTests.xcodeproj/xcshareddata/xcschemes/AutomatedTests.xcscheme
  iOS/Tests/AutomatedTests.xcodeproj/xcshareddata/xcschemes/AutomatedTestsUITests.xcscheme
Labels: DX, WIP, bug, iOS

#1157 test: add unit test to unit value extensions
  android/beagle/src/test/java/br/com/zup/beagle/ext/UnitValueExtensionsKtTest.kt
Labels: android

#1160 feat: iOS - Union Operation
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Sources/Beagle/Sources/ContextExpression/OperationsProvider.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/OperationEvaluation/OperationArrayEvaluationTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Labels: documentation, iOS

#1158 test: add test unit test to widget extensions
  android/beagle/src/main/java/br/com/zup/beagle/ext/WidgetExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/ext/WidgetExtensionsKtTest.kt
Labels: android

#1162 fix: Add useParentScroll property to ListView
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
Labels: backend

#1153 refactor: removed code added to skip classes in jacoco.
  android/jacoco-android.gradle
Labels: android

#1165 fix: adjust compile testing to use type test implementation
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/internal-processor/build.gradle
  android/processor-shared-code/build.gradle
  android/processor/build.gradle
Labels: android

#1167 fix: horusec
  .github/workflows/horusec_pr.yml
Labels: CI/CD

#1172 test: add funcional test to scrollview component
  android/automated-tests/src/androidTest/assets/features/ScrollView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ScrollViewSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ScrollViewScreenBuilder.kt
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Features/ScrollView.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewSteps.swift
Labels: android, backend, iOS

#1168 test: refactor WidgetExtensioTest to junit5
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Labels: android

#1164 test: tab bar functional tests
  android/automated-tests/build.gradle
  android/automated-tests/src/androidTest/assets/features/SimpleForm.feature
  android/automated-tests/src/androidTest/assets/features/TabBar.feature
  android/automated-tests/src/androidTest/assets/features/TabView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SimpleFormSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TabBarSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TabViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/screenshotTests/ExampleScreenshotTest.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/matcher/MatcherExtension.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabBarScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  backend/automated-tests/src/main/resources/images/beagle1.jpg
  backend/automated-tests/src/main/resources/images/beagle2.jpg
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/Assets.xcassets/delete.imageset/Contents.json
  iOS/Tests/AutomatedTests/Assets.xcassets/delete.imageset/delete.png
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/SimpleForm.feature
  iOS/Tests/AutomatedTestsUITests/Features/TabBar.feature
  iOS/Tests/AutomatedTestsUITests/Features/TabView.feature
  iOS/Tests/AutomatedTestsUITests/Steps/SetContextSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabBarSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabViewSteps.swift
Labels: Integration Test, android, backend, iOS

#1171 test: adds lazy component funtional tests
  android/automated-tests/src/androidTest/assets/features/LazyComponent.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/LazyComponentSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/LazyComponentScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/LazyFailureScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/LazySuccessScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/WebViewScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Features/LazyComponent.feature
  iOS/Tests/AutomatedTestsUITests/Steps/LazyComponentSteps.swift
Labels: android, backend, iOS

#1211 fix: android listview oninit actions not been called for template items
  android/beagle/src/main/java/br/com/zup/beagle/android/components/OnInitiableComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/res/values/ids.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListViewHolderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewExtensionsKtTest.kt
Labels: android, bug

#1215 feat: Change android listView scroll threshold calculation
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
Labels: android
