Repository ZupIT/beagle, pull requests merged in 2020-09, with the labels that each got.

#855 fix: update context in tabbar and pageview
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
Labels: android

#854 fix: improve generate id to async view
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Labels: android

#857 fix: adjust load view
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
Labels: android

#858 fix: removed background work from main thread
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModelTest.kt
Labels: android, bug

#821 feat: merge features from 1.1.1 to 1.1.2 to support library
  .github/workflows/postRelease.yml
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/ComponentBinding.kt
  android/gradle.properties
  fastlane/Fastfile
Labels: CI/CD, android

#853 fix: Context data manager
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ImplicitContextManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ImplicitContextManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewExtensionsKtTest.kt
Labels: android

#863 fix: adjust action generator
  android/sample/src/main/java/br/com/zup/beagle/sample/actions/CustomAndroidAction.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredActionGenerator.kt
Labels: android, backend

#865 fix: deserializes integer double in context
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataValueResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ContextDataAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/JsonReaderExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataValueResolverTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Labels: android, bug

#866 ci: iOS update podspec version and tag independently so hotfix works
  Beagle.podspec
  BeagleSchema.podspec
  fastlane/Fastfile
Labels: CI/CD

#871 fix: escape string literal
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/TokenInterpreter.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/tokenizer/TokenParserTest.kt
Labels: android

#872 fix: objects inside arrays are converted to String
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/JsonReaderExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Labels: android, bug

#873 fix: assert made in moshi tests
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Labels: android, enhancement

#874 fix: Fix logic that replace expressions for values
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextExpressionReplacer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Labels: android, bug

#876 feat: Generating extra class for Widget and Actions registration
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/InternalWidgetFactoryProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterActionProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterWidgetProcessor.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleSetupRegisteredWidgetGenerator.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredActionGenerator.kt
Labels: android, backend, enhancement

#881 fix: Merge 1.2.1-android patch with master
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextExpressionReplacer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ImplicitContextManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/TokenInterpreter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ContextDataAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/JsonReaderExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataValueResolverTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ImplicitContextManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/tokenizer/TokenParserTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ActionRequestViewModelTest.kt
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/InternalWidgetFactoryProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterActionProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterWidgetProcessor.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/actions/CustomAndroidAction.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleSetupRegisteredWidgetGenerator.kt
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/RegisteredActionGenerator.kt
Labels: android, bug

#896 fix: Expression is evaluating to null for specific cases
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextExpressionReplacer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
Labels: android, bug

#893 feat: Improve cache
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/LruCacheStore.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextBinding.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/store/DatabaseLocalStore.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/store/LocalStore.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/store/MemoryLocalStore.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/store/StoreHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/store/StoreHandlerDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/LruCacheStoreTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/store/DatabaseLocalStoreTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppBeagleConfig.kt
Labels: android

#903 refactor: deprecation messages
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/Constants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicatorComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
Labels: android

#899 fix: SendRequest action mapper
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapperTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Labels: android, bug

#905 fix: call removeAllViews before addView
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
Labels: android, bug

#891 feat: create BeagleView
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/NativeViewController.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/NativeScreenTest.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/__Snapshots__/NativeScreenTest/testNativeScreen.1.png
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleView.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleViewTests.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/BeagleViewTests/testViewLayout.1.png
Labels: DX, enhancement, iOS

#898 feat: conditional action android
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConditionTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TouchableScreenBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Condition.kt
Labels: android, backend, enhancement

#915 feat: add support to bind in class image
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TabBarScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleTabBarService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleTabBarService.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/ImageBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Image.kt
Labels: android, backend

#916 feat: iOS - Conditional Action
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ConditionActionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/Condition.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllActionsAreBeingRegistered.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/Condition.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/ConditionTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Labels: enhancement, iOS

#919 chore: renaming template files and created action in ruby
  schema/schema-ruby-erb/model_generation/Models/Widgets/button.rb
  schema/schema-ruby-erb/model_generation/Templates/kotlin.erb
  schema/schema-ruby-erb/model_generation/Templates/kotlin_backend.erb
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
  schema/schema-ruby-erb/model_generation/Templates/ts.erb
  schema/schema-ruby-erb/model_generation/main.rb
Labels: schema

#921 refactor: add new function to get expression
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildrenAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/UndefinedAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
Labels: android

#902 fix: widgets styles that uses view size don't work properly
  iOS/Example/BeagleDemo/BeagleDemo/BeagleStyle.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Text+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TextInput+Renderable/TextInput.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/ViewConfigurator.swift
  iOS/Sources/Beagle/Sources/Theme/Theme.swift
  iOS/Sources/Beagle/Sources/Theme/ThemeTests.swift
Labels: bug, iOS

#922 feat: adding expression support to remote navigation
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/NavigationControllers/CustomBeagleNavigationController.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NavigateTypeScreen.swift
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/NavigateTests.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/testDecodingPushStack.1.txt
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/testDecodingPushView.1.txt
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/testDecodingPushViewWithContext.1.txt
  iOS/Sources/Beagle/BeagleTests/Spies/BeaglePrefetchHelpingSpy.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/BeaglePrefetchHelper.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Tests/ButtonTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/BeagleLoggerTests.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Labels: enhancement, iOS

#890 feat: add expression support in remote route navigation
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/PreFetchHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/NavigateTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/PreFetchHelperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ContextOperationsFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/DisabledFormSubmitFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/NavigationFragment.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextScreenBuilder.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
Labels: android, backend

#927 fix: send request bindable fields
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Schema/Sources/Action/Types/SendRequest.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SendRequestTests.swift
Labels: bug, iOS

#930 fix: adding deprecated constructor to navigate
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
Labels: bug, iOS

#935 chore: update libraries android
  android/beagle/build.gradle
  android/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/sample/build.gradle
  android/sample/screenshots/br.com.zup.beagle.sample.snapshot.MainActivityTest_testSnapshot.png
  android/sample/src/androidTest/java/br/com/zup/beagle/sample/SampleTestRunner.kt
  android/sample/src/androidTest/java/br/com/zup/beagle/sample/snapshot/MainActivityTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/BeagleUiSampleApplication.kt
  android/screenshots.gradle
  android/settings.gradle
  backend/build.gradle
  config/detekt-default-config.yml
Labels: android, backend

#937 fix: add focus in component text input
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/InputTextTest.kt
Labels: android

#938 feat: add support to bind in menu
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ServerDrivenActivity.kt
  android/beagle/src/main/res/layout/beagle_activity_server_driven.xml
  android/beagle/src/main/res/layout/beagle_include_error_server_driven.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
  android/sample/src/main/AndroidManifest.xml
  android/sample/src/main/res/layout/activity_main.xml
  android/sample/src/main/res/values/styles.xml
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ImageLocalScreenBuilder.kt
Labels: android, backend

#933 chore: Integrating generated flex and display into Xcode
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Button.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/CornerRadius.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/EdgeValue.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Flex.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Size.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Style.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/UnitType.swift
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/UnitValue.swift
  iOS/Schema/Sources/Widgets/Button/Button.swift
  iOS/Schema/Sources/Widgets/WidgetProperties/Flex+Extensions/UnitValue+Extension.swift
  iOS/Schema/Sources/Widgets/WidgetProperties/Flex/Flex.swift
  iOS/Schema/Sources/Widgets/WidgetProperties/Style/Style.swift
  schema/schema-ruby-erb/.gitignore
  schema/schema-ruby-erb/.yardoc/checksums
  schema/schema-ruby-erb/.yardoc/complete
  schema/schema-ruby-erb/.yardoc/object_types
  schema/schema-ruby-erb/.yardoc/objects/root.dat
  schema/schema-ruby-erb/.yardoc/proxy_types
  schema/schema-ruby-erb/Documentation Example/shipping_notify.erb
  schema/schema-ruby-erb/Documentation Example/shipping_notify2.rb
  schema/schema-ruby-erb/README.md
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/SizeSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Swift/EdgeValue.swift
  schema/schema-ruby-erb/model_generation/Generated/Swift/UnitValue.swift
  schema/schema-ruby-erb/model_generation/Models/Layout/Flex/flex.rb
  schema/schema-ruby-erb/model_generation/Models/Layout/edge_value.rb
  schema/schema-ruby-erb/model_generation/Models/Layout/size.rb
  schema/schema-ruby-erb/model_generation/Models/Layout/style.rb
  schema/schema-ruby-erb/model_generation/Models/Layout/unit_value.rb
  schema/schema-ruby-erb/model_generation/Synthax/Types/type.rb
  schema/schema-ruby-erb/model_generation/Templates/swift.erb
  schema/schema-ruby-erb/model_generation/main.rb
Labels: iOS, schema

#940 fix: Not passing additional data in request
  iOS/Sources/Beagle/Sources/Networking/Default/HttpAditionalData.swift
  iOS/Sources/Beagle/Sources/Networking/Repository.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
Labels: iOS

#924 feat: iOS Auto-Layout Yoga interworking
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/NativeViewController.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/BeagleViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/NativeScreenTest.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/__Snapshots__/NativeScreenTest/testNativeScreen.1.png
  iOS/Example/BeagleDemo/BeagleDemoTests/__Snapshots__/NativeScreenTest/testNativeScreenWithNavigation.1.png
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/AddChildrenTests.swift
  iOS/Sources/Beagle/Sources/Common/Util/Tests/Snapshot.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/__Snapshots__/ImageTests/testRenderRemoteImage.1.png
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/__Snapshots__/ImageTests/testRenderRemoteImage.2.png
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/ScreenComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/StyleViewConfigurator.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/__Snapshots__/ContainerTests/test_renderContainer.1.png
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/LazyComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Renderer/AutoLayoutWrapper.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleView.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/AutoLayoutWrapperTests.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewResizing.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewResizing.2.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewWithColumnAndWrap.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewWithDefault.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewWithRowAndNoWrap.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/AutoLayoutWrapperTests/testWrapperViewWithRowAndWrap.1.png
Labels: enhancement, iOS

#946 fix: jacoco error on windows
  android/beagle/src/test/java/br/com/zup/beagle/android/action/FormValidationTest.kt
Labels: android

#953 refactor: remove deprecated from constructor
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
Labels: android

#909 fix: dynamic object default string conversion
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/Json/testDictionarySnapShot.json
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/testDictionarySnapShot.1.txt
  iOS/Schema/Sources/Widgets/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
  iOS/Schema/Sources/Widgets/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SendRequestTests/test_whenSendRequestWithError_shouldDoRequestAndTriggerActions.1.txt
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SendRequestTests/test_whenSendRequestWithSuccess_shouldDoRequestAndTriggerActions.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/ValueEvaluateTest/testBindingEvaluation.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/ValueEvaluateTest/testLiteralEvaluation.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Test/DynamicObjectExtension.swift
Labels: iOS

#959 refactor: renamed class AddChildrenAction to AddChildren
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AddChildrenTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildren.kt
Labels: android, backend, bug, schema

#952 fix: resize view when inside the scroll layout
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
Labels: android

#963 refactor: Adjust ComponentRequesterTest.kt tests scenarios to be more…
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
Labels: android

#966 fix: adjust visibility gone in yoga layout
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
Labels: android

#961 fix: 1.2.2 iOS release
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/TabView+Renderable/Tests/TabViewUIComponentTests.swift
Labels: iOS
