Repository ZupIT/beagle, pull requests merged in 2020-08, with the labels that each got.

#675 refactor: Context attribute not required in simpleform component
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/form/SimpleForm.kt
Labels: android, backend, schema

#679 fix: Remove internal keyword
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
Labels: android, bug

#676 fix: ContextPathResolver - Evaluate expression with variable string name value was the same as context id.
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextPathResolver.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextPathResolverTest.kt
Labels: android

#681 fix: Android LoadView
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
Labels: android, bug

#639 feat: Action.execute improvement iOS
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Protocols.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/RawComponent.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/ScreenComponent/ScreenComponent.swift
  iOS/Sources/Beagle/Sources/Action/Action.swift
  iOS/Sources/Beagle/Sources/Action/Tests/TouchableTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Alert.swift
  iOS/Sources/Beagle/Sources/Action/Types/Confirm.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormValidation.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/SetContext.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/AlertTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/ConfirmTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/FormLocalActionTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/FormValidationTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SendRequestTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SubmitFormTests.swift
  iOS/Sources/Beagle/Sources/Analytics/AnalyticsGestureRecognizer.swift
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForScreenEvent.1.txt
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Tests/ButtonTests.swift
  iOS/Sources/Beagle/Sources/Components/Form+Renderable/Submit/FormSubmit+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Container/Container+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/NavigationBar+UIKit.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/ComponentHostController.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/PageView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBar+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/TextInput+Renderable/TextInput.swift
  iOS/Sources/Beagle/Sources/Context/FormManager.swift
  iOS/Sources/Beagle/Sources/Context/Tests/FormManagerTests.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/Screen+Renderable.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Labels: iOS

#625 feat: migrate to maven central
  android/android-annotation/gradle.properties
  android/beagle/build.gradle
  android/beagle/gradle.properties
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/build.gradle
  android/gradle.properties
  android/internal-processor/gradle.properties
  android/preview/gradle.properties
  android/processor/gradle.properties
  backend/build.gradle
  backend/framework/gradle.properties
  backend/gradle.properties
  backend/processor/gradle.properties
  backend/starters/micronaut/build.gradle
  backend/starters/micronaut/gradle.properties
  backend/starters/spring/gradle.properties
  backend/widgets/gradle.properties
  common/annotation/gradle.properties
  common/extended-schema/gradle.properties
  common/processor-utils/gradle.properties
  fastlane/Fastfile
  fastlane/discord_message.sh
  fastlane/release/maven_signing.sh
  maven-publish.gradle
  schema/kotlin-core/gradle.properties
Labels: CI/CD, android, backend, schema

#682 fix: android webview without defined size
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/test/java/br/com/zup/beagle/android/components/WebViewTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/WebViewFragment.kt
Labels: android, bug

#667 fix: beagle components fetch and deserialization was taking place on …
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/RootViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/RootView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SetContextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextActionExecutorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextComponentHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
Labels: android

#683 fix: ios component registering
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/ComponentDecoderTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/PageIndicator/Indicator/Tests/PageIndicatorTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/Tests/CustomPageIndicator/CustomPageIndicatorTest.swift
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleSetup.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Labels: bug, iOS

#685 fix: fixed dependencies on backend widget
  backend/widgets/build.gradle
Labels: backend, bug

#641 feat: Android Global Context
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextBinding.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManipulator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataTreeHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextPathResolver.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/jsonpath/JsonPathUtils.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManipulatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataTreeHelperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextPathResolverTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/GlobalContextTest.kt
Labels: android

#689 fix: skip publishing shared modules when releasing backend
  backend/build.gradle
  backend/widgets-dsl/gradle.properties
  fastlane/Fastfile
  maven-publish.gradle
Labels: CI/CD, backend

#693 fix: configured Beagle user for automatic commits
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/PlatformService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/DslController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/PlatformService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleDslService.kt
  fastlane/git_commit.sh
Labels: CI/CD, backend

#696 refactor: WebView component does not render error screen when it fails
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
Labels: android

#697 fix: wrong path in dangerfile for iOS swiftlint
  danger/ios/Dangerfile
Labels: CI/CD, bug

#663 ci: iOS CocoaPods integration test workflow
  .github/workflows/ios-pr.yml
  fastlane/Fastfile
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/project.pbxproj
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcodeproj/xcshareddata/xcschemes/CocoaPodsTest.xcscheme
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcworkspace/contents.xcworkspacedata
  iOS/Example/CocoaPodsTest/CocoaPodsTest.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Example/CocoaPodsTest/CocoaPodsTest/AppDelegate.swift
  iOS/Example/CocoaPodsTest/CocoaPodsTest/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/Example/CocoaPodsTest/CocoaPodsTest/Assets.xcassets/Contents.json
  iOS/Example/CocoaPodsTest/CocoaPodsTest/Base.lproj/LaunchScreen.storyboard
  iOS/Example/CocoaPodsTest/CocoaPodsTest/Info.plist
  iOS/Example/CocoaPodsTest/CocoaPodsTest/ViewController.swift
  iOS/Example/CocoaPodsTest/CocoaPodsTestUnitTests/CocoaPodsTests.swift
  iOS/Example/CocoaPodsTest/CocoaPodsTestUnitTests/Info.plist
  iOS/Example/CocoaPodsTest/Podfile
Labels: CI/CD, iOS

#700 fix: context escape ignore double quote
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
Labels: android, bug

#701 fix: Refactor PathType to ImagePath
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/ScreenComponentBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/ImageBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TabBarBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TabViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Screen.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ImagePathTypeJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/LazyComponentFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ListViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ScrollViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
Labels: android, bug

#703 fix: remove dsl to reduce dex counter
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/AlertBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/ConfirmBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/NavigateBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/SendRequestBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/SetContextBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/action/SubmitFormBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/context/ContextDataBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/form/SimpleFormBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/ContainerBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/PageViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/ScreenComponentBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/layout/ScrollViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/lazy/LazyComponentBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/navigation/TouchableBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/pager/PageIndicatorBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/ButtonBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/ImageBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/ListViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TabBarBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TabViewBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TextBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/TextInputBuilder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/builder/ui/WebViewBuilder.kt
Labels: android

#705 ci: iOS when releasing Pods, tries to avoid eventual consistency problem
  fastlane/Fastfile
Labels: CI/CD, iOS

#706 fix: backend's transitive dependencies
  backend/sample/micronaut/build.gradle
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/DslController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleDslService.kt
  backend/sample/spring/build.gradle
  backend/starters/micronaut/build.gradle
  backend/starters/spring/build.gradle
Labels: backend

#709 fix: changed name of PathType to ImagePath
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/Widgets/Image/Image.swift
  iOS/Schema/Sources/Widgets/Image/Tests/__Snapshots__/ImageTests/test_whenDecodingJson_thenItShouldReturnAnImage.1.txt
Labels: iOS

#718 fix: Avoid showing cold cache from disk
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
Labels: android, bug

#719 refactor: GlobalContext - Changed the parameters position in GlobalContext.set constructor
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContext.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/GlobalContextTest.kt
Labels: android

#704 fix: Adds method to configure SoLoader in test mode, this is needed to use beagle with robolectric
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
Labels: android

#717 fix: Context DynamicObject transform in iOS 12 prior
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Labels: bug, iOS

#655 ci: Create automatic pr from patch
  .github/workflows/postRelease.yml
  fastlane/Fastfile
Labels: CI/CD

#661 ci: changed release workflow to support hofixes
  .github/workflows/release.yml
  fastlane/Fastfile
  fastlane/get_previous_tag.sh
Labels: CI/CD

#721 ci: delete extra ',' in Fastfile
  fastlane/Fastfile
Labels: CI/CD

#723 fix: set secret keys in env variables
  .github/workflows/release.yml
Labels: CI/CD

#714 refactor: tab bar component layout implementation
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarCollectionViewCell.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarItemExtension.swift
  iOS/Sources/Beagle/Sources/Components/TabBar+Renderable/TabBarUIComponent.swift
Labels: iOS, technical debt

#720 fix: webView breaking constraints
  iOS/Example/BeagleDemo/BeagleDemo/Screens/WebViewScreen.swift
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/Tests/WebViewTests.swift
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/WebView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/WebViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleNavigationController.swift
Labels: bug, iOS

#665 docs: documents the Navigate file
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
Labels: documentation, iOS

#727 fix: updated gems used by Fastlane and Danger
  Gemfile
  Gemfile.lock
Labels: CI/CD

#731 fix: load view error with successive calls to same url
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
Labels: android, bug

#736 fix: image placeholder
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/__Snapshots__/ImageTests/testPlaceholder.1.png
  iOS/Sources/Beagle/Sources/Components/WebView+Renderable/WebViewUIComponent.swift
Labels: bug, iOS

#753 fixed bug where creating files on non existing directories were not working
  schema/schema-ruby-erb/Model Generation/FileHandler/file_handler.rb
  schema/schema-ruby-erb/Model Generation/main.rb
Labels: schema

#734 ci: fix problem of generating release notes
  .github/workflows/release.yml
  fastlane/Fastfile
Labels: CI/CD

#760 fix: iOS Button now have a default style equals to system style
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Button+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Tests/ButtonTests.swift
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Tests/__Snapshots__/ButtonTests/testRenderCustomButtonComponent.1.png
  iOS/Sources/Beagle/Sources/Components/Button+Renderable/Tests/__Snapshots__/ButtonTests/testRenderDefaultButtonComponent.1.png
Labels: bug, iOS

#765 ci: improved caching with prior keys
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  .github/workflows/ios-pr.yml
  .github/workflows/postRelease.yml
  .github/workflows/pr_danger.yml
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
Labels: CI/CD, android, backend, iOS

#741 fix: SendRequest for Android Declarative.
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
Labels: android, bug

#767 fix: WebView component should not handle ssl errors
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
Labels: android, bug

#773 fix: Bind deserialization for Map and List
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/ComponentBinding.kt
Labels: android, bug

#771 fix: adjust codecov to ignore some classes because they need to run in instrumentation test
  android/jacoco-android.gradle
Labels: android

#764 fix: Global context does not clear cache
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
Labels: android, bug

#778 ci: improved Codecov reporting
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  .github/workflows/flutter-pr.yml
  .github/workflows/ios-pr.yml
  android/gradle.properties
  backend/gradle.properties
  fastlane/Fastfile
  flutter/analysis_options.yaml
  iOS/.gitignore
Labels: CI/CD, android, backend, flutter

#779 fix: hotfix lane
  .github/workflows/postRelease.yml
  fastlane/Fastfile
Labels: CI/CD, bug

#780 fix: Remove - from version name
  fastlane/Fastfile
Labels: CI/CD

#781 fix: Version name remove slash before split
  fastlane/Fastfile
Labels: CI/CD, bug

#782 fix: Fastlane version generator
  fastlane/Fastfile
Labels: CI/CD, bug

#784 fix: image placeholder on android
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Labels: android

#786 fix: Android Hotfix for version 1.1.1
  .github/workflows/postRelease.yml
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SendRequestTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/ComponentBinding.kt
  fastlane/Fastfile
  fastlane/delete_release.sh
Labels: CI/CD, android, bug

#791 feat: encode urls before http calls
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/urlbuilder/UrlBuilderDefault.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/urlbuilder/UrlBuilderDefaultTest.kt
  common/tests/UrlBuilderTestSpec.json
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/UrlBuilderTests.swift
  iOS/Sources/Beagle/Sources/Networking/UrlBuilder.swift
Labels: android, backend, iOS

#814 feat: shell script to integrate Kotlin schema
  schema/schema-ruby-erb/Model Generation/Tests/Kotlin/test.sh
Labels: schema

#800 feat: Adds method to check if the activity have a server driven screen loaded
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/activities/SampleServerDrivenActivity.kt
Labels: android

#819 refactor: added rootView to BeagleFlexView as parameter on Android
  android/beagle/src/main/java/br/com/zup/beagle/android/components/LazyComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ComposeComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextComponentHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/LazyComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/SimpleFormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ComposeComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ContainerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextComponentHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Labels: android, enhancement

#785 feat: add parameter rootview in deeplinkhandler
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/navigation/DeepLinkHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/NavigateTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppDeepLinkHandler.kt
Labels: android

#823 fix: show place holder and error when loading and the request url error
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
Labels: android, bug

#817 fix: generate view ids
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ReflectionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/GenerateIdViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/RootView.kt
  android/beagle/src/main/res/values/ids.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/GenerateIdViewModelTest.kt
Labels: android, bug

#820 fix: configBinding retain cycle
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
Labels: bug, iOS

#828 fix: generate id if some error happen
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
Labels: android

#834 feat: add children action on Android
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildrenAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AddChildrenActionTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildrenAction.kt
Labels: android, backend

#826 feat: Improve rendering callbacks when Loading, Finished and Error
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/exception/BeagleApiException.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/BeagleApiTest.kt
Labels: android

#841 fix: adjust import android
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Labels: android, bug

#843 fix: adequacy of the charset
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/urlbuilder/UrlBuilderDefault.kt
Labels: android, bug

#818 feat: [MASTER] Adds method to check if the activity have a server driven screen loaded
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
Labels: android

#844 fix: moshi serialization
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Labels: android

#836 feat: context evaluation for views added asynchronously
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextComponentHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/main/res/values/ids.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextComponentHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/ViewMock.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/PageViewFragment.kt
Labels: android, enhancement

#807 fix: updates on view
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/__Snapshots__/ImageTests/testPlaceholder.1.png
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Screen/ScreenComponent+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/StyleViewConfigurator.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/StyleViewConfiguratorTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/__Snapshots__/StyleViewConfiguratorTests/testMarkDirty.1.png
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/__Snapshots__/StyleViewConfiguratorTests/testMarkDirty.2.png
  iOS/Sources/Beagle/Sources/Components/Screen+Renderable/ScreenView.swift
Labels: bug, iOS

#792 feat: AddChildren Action
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/Screens/AddChildrenScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/AddChildren.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllActionsAreBeingRegistered.1.txt
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/CodeGeneration/Templates/AutoDecodable.swifttemplate
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/AddChildrenTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/AddChildrenTests/testInitialState.1.png
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/AddChildrenTests/testModeAppend.1.png
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/AddChildrenTests/testModeAppend.2.png
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/AddChildrenTests/testModeAppendWithContext.1.png
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/AddChildrenTests/testModeAppendWithContext.2.png
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/AddChildrenTests/testModePrepend.1.png
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/AddChildrenTests/testModePrepend.2.png
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/AddChildrenTests/testModeReplace.1.png
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/AddChildrenTests/testModeReplace.2.png
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/AddChildrenTests/testModeReplaceWithContext.1.png
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/AddChildrenTests/testModeReplaceWithContext.2.png
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Labels: documentation, enhancement, iOS

#822 fix: Text dark mode behavior
  iOS/Sources/Beagle/Sources/Components/Text+Renderable/Text+Renderable.swift
Labels: bug, iOS

#837 fix: iOS - Execute actions with implicit context
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Labels: bug, iOS

#832 feat: Improve rendering callbacks when Loading, Finished and Error
  iOS/Example/BeagleDemo/BeagleDemo/CustomBeagleNavigationController.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SendRequestTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/FormLocalActionTests/testStateChanges.1.txt
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Context/FormManager.swift
  iOS/Sources/Beagle/Sources/Context/Tests/FormManagerTests.swift
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Networking/Default/NetworkClientDefault.swift
  iOS/Sources/Beagle/Sources/Networking/NetworkClient.swift
  iOS/Sources/Beagle/Sources/Networking/Request.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleNavigationController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/__Snapshots__/BeagleScreenViewControllerTests/test_whenLoadScreenFails_itShouldRenderFallbackScreen.1.png
Labels: DX, documentation, iOS

#842 fix: iOS - Adds a func to check if the controller have a server driven screen loaded
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
Labels: iOS

#848 fix: making init in network structs inside log public
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
Labels: iOS

#824 fix: deserializes integer double
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleMoshiExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/BeagleMoshiExtensionsTest.kt
Labels: android, bug

#850 chore: Adding SwiftLint to BeagleDemo
  iOS/Example/BeagleDemo/.swiftlint.yml
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/DSCollection/DSCollection.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/DSCollection/DSCollectionViewCell.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/ErrorView.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ScreenDeepLink.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ViewLayoutHelper.swift
  iOS/Sources/Beagle/Sources/Common/Loading/LoadingView.swift
Labels: iOS, technical debt

#840 feat: iOS - Support multiple navigations in Beagle
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/NavigationControllers/CustomBeagleNavigationController.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NavigateTypeScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/NavigateTests.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/test_decoding_pushStack.1.txt
  iOS/Schema/Sources/Common/FunctionBuilders.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/NavigateTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleNavigationController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleSetup.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Labels: enhancement, iOS

#851 fix: parse expression with index path
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/TokenInterpreter.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/tokenizer/TokenParserTest.kt
Labels: android, bug
