Repository ZupIT/beagle, pull requests merged in 2020-10, with the labels that each got.

#980 fix: adjust request with json array
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/BeagleMoshi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonArrayAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
Labels: android

#981 fix: adjust unit test sample
  android/automated-tests/build.gradle
  android/automated-tests/src/main/java/com/example/automatedTests/AppFormLocalActionHandler.kt
  android/automated-tests/src/main/java/com/example/automatedTests/adapters/PersonAdapter.kt
  android/automated-tests/src/main/java/com/example/automatedTests/widgets/Text.kt
  android/automated-tests/src/test/java/com/example/automatedTests/BeagleSetupTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Input.kt
Labels: android

#979 refactor: change example navigation screen to declarative
  android/sample/src/main/java/br/com/zup/beagle/sample/constants/ColorConstants.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/NavigationFragment.kt
  android/sample/src/main/res/menu/menu_navigation_drawer.xml
Labels: android

#945 fix: Global Context
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GlobalContextScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Sources/ContextExpression/GlobalContext.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/GlobalContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/ValueEvaluateTest.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Value+Evaluate.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Labels: DX, iOS

#987 fix: make extendsFromClass check all super classes in hierarchy
  common/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/KotlinPoetExtensions.kt
Labels: android, good first issue, hacktoberfest

#972 refactor: documentation public class backend
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildren.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Condition.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SetContext.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SubmitForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/context/Bind.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/context/ContextComponent.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/context/ContextData.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/form/Form.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ComposeComponent.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/PageView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/ScrollView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/pager/PageIndicator.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TabView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/ScrollAxis.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/TextInputType.kt
Labels: backend, schema

#982 fix: app crash when use a JSON without ScreenComponent on startActivity
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
Labels: android

#977 feat: add documentation to all public action on the beagle android
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Condition.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormLocalAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormRemoteAction.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/FormValidation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SubmitForm.kt
Labels: android

#989 fix: iOS DynamicObject set(value: with path:) behaviour
  iOS/Sources/Beagle/Sources/Action/Types/SetContext.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
  iOS/Sources/Beagle/Sources/ContextExpression/GlobalContext.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/DynamicObjectTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/__Snapshots__/DynamicObjectTests/testSetObjectWithVariousPaths.1.json
Labels: bug, iOS

#1008 feat: iOS add border parameters in Style
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Schema/Sources/CodeGeneration/Generated/Equality.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabView/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/WebView/Tests/__Snapshots__/WebViewTests/test_whenDecodingJson_shouldReturnAWebView.1.txt
  iOS/Schema/Sources/Widgets/Button/__Snapshots__/ButtonTests/test_whenDecodingJson_thenItShouldReturnAButton.1.txt
  iOS/Schema/Sources/Widgets/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Schema/Sources/Widgets/Image/Tests/__Snapshots__/ImageTests/test_whenDecodingJson_thenItShouldReturnAnImage.1.txt
  iOS/Schema/Sources/Widgets/Tests/__Snapshots__/WidgetTests/testParsingOfWidgetWithAllAttributes.1.txt
  iOS/Schema/Sources/Widgets/Text/Tests/__Snapshots__/TextTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Schema/Sources/Widgets/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Schema/Sources/Widgets/WidgetProperties/Style/Style.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForClickEvent.1.txt
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForScreenEvent.1.txt
  iOS/Sources/Beagle/Sources/Common/Extensions/StyleBuildersExtension.swift
  iOS/Sources/Beagle/Sources/Common/Extensions/Tests/StyleBuildersExtensionTests.swift
  iOS/Sources/Beagle/Sources/Common/Extensions/Tests/__Snapshots__/StyleBuildersExtensionTests/test_StyleBuilder.1.txt
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/__Snapshots__/ContainerTests/testRenderContainerWithBorder.1.png
  iOS/Sources/Beagle/Sources/Renderer/Tests/ViewConfiguratorTests.swift
  iOS/Sources/Beagle/Sources/Renderer/ViewConfigurator.swift
Labels: documentation, enhancement, iOS

#999 feat: iOS - Image Downloader Dependecy
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/Lazy+Renderable/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Networking/ImageDownloader.swift
  iOS/Sources/Beagle/Sources/Networking/Repository.swift
  iOS/Sources/Beagle/Sources/Networking/RequestDispatcher.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/ImageDownloaderTests.swift
  iOS/Sources/Beagle/Sources/Networking/Tests/ImageDownloaderTests.xcassets/Contents.json
  iOS/Sources/Beagle/Sources/Networking/Tests/ImageDownloaderTests.xcassets/beagle.imageset/Contents.json
  iOS/Sources/Beagle/Sources/Networking/Tests/ImageDownloaderTests.xcassets/beagle.imageset/beagle.png
  iOS/Sources/Beagle/Sources/Networking/Tests/RepositoryTests.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/Beagle/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Labels: enhancement, iOS

#1009 fix: fragment transition toolbar glitch
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
Labels: android

#1022 test: adds support for web to the image test
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ImageScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/ImageConstants.kt
Labels: backend

#997 feat: documentation package at the beagle android
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/exception/BeagleApiException.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/exception/BeagleException.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleLogger.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/navigation/DeepLinkHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/RequestData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/ResponseData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/store/StoreHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/ViewConvertable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/WidgetView.kt
Labels: android

#995 fix: iOS binding triggers layout change
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SetContextTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SetContextTests/testSetContext.1.png
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/SetContextTests/testSetContext.2.png
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Tests/ImageTests.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/ComponentHostController.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BindingConfigurator.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Labels: bug, iOS

#1024 feat: add border parameters in style android and backend
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ComponentStylizationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/TabViewFragment.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/core/StyleBuilder.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
Labels: android, backend, schema

#1029 fix: adjust add children name
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildren.kt
Labels: android, backend

#1033 fix: parse color when is RGB size
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ColorUtils.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ColorUtilsTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
Labels: android, bug

#1037 fix: image and simple form test
  android/automated-tests/src/androidTest/assets/features/SimpleFormScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/GenericSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ImageScreenSteps.kt
Labels: android

#1025 feat: navigate - automated tests
  android/automated-tests/src/androidTest/assets/features/NavigateScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ButtonScreen.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ImageScreenSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewScreenSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/NavigateScreenSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/PageViewScreenSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ScrollViewScreenSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SimpleFormScreenSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TabViewScreenSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TouchableScreenSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/screenshotTests/ExampleScreenshotTest.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/TestUtils.kt
  android/automated-tests/src/main/AndroidManifest.xml
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/AppApplication.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/AppBeagleConfig.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/AppBeagleActivity.kt
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/activity/MainActivity.kt
  android/automated-tests/src/main/res/values/strings.xml
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/GlobalSampleTextScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigateActionsResetScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigateActionsScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/NavigateActionController.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/NavigationAction.feature
  iOS/Tests/AutomatedTestsUITests/Steps/NavigationActionSteps.swift
Labels: Integration Test, android, backend, iOS

#1040 refactor: simpleform inherit contextComponent
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/form/SimpleForm.kt
Labels: backend

#1041 refactor: remove OnStateUpdatable interface as it is not being used
  android/beagle/src/main/java/br/com/zup/beagle/android/interfaces/OnStateUpdatable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
Labels: android

#1021 fix: cancel fetchComponent in BeagleViewModel
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ServerDrivenActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
Labels: android, bug

#1049 fix: iOS - addChildren schema conformance
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/AddChildren.swift
  iOS/Schema/Sources/Action/Types/Tests/AddChildrenTests.swift
  iOS/Schema/Sources/Action/Types/Tests/__Snapshots__/AddChildrenTests/testDecodingAddChildren.1.txt
  iOS/Schema/Sources/Action/Types/Tests/__Snapshots__/AddChildrenTests/testDecodingAddChildrenWithDefaultMode.1.txt
Labels: bug, iOS

#1050 fix: http client crash when set body and request fail
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
Labels: android

#1052 fix: toolbar title
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
Labels: android

#1043 fix: adjust context evaluation to return correct types
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormSubmitter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextExpressionReplacer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleMoshiExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormSubmitterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/BeagleMoshiExtensionsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapperTest.kt
Labels: android

#1058 fix: maxSize cache of ContextBinding
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextBinding.kt
Labels: android

#1057 fix: BeagleFragment breaking change
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleScreenViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleScreenViewModelTest.kt
Labels: android

#1060 fix: iOS - Fix Path Parser
  iOS/Schema/Sources/ContextExpression/Parser.swift
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/PathTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/testValidMultipleExpressions.1.txt
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/ExpressionTests/testValidSingleExpression.1.txt
Labels: bug, iOS

#1062 feat: change Style.display to expression
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ContextExpression/Tests/ExpressionTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabView/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/WebView/Tests/__Snapshots__/WebViewTests/test_whenDecodingJson_shouldReturnAWebView.1.txt
  iOS/Schema/Sources/Widgets/Button/__Snapshots__/ButtonTests/test_whenDecodingJson_thenItShouldReturnAButton.1.txt
  iOS/Schema/Sources/Widgets/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Schema/Sources/Widgets/Image/Tests/__Snapshots__/ImageTests/test_whenDecodingJson_thenItShouldReturnAnImage.1.txt
  iOS/Schema/Sources/Widgets/Tests/__Snapshots__/WidgetTests/testParsingOfWidgetWithAllAttributes.1.txt
  iOS/Schema/Sources/Widgets/Text/Tests/__Snapshots__/TextTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Schema/Sources/Widgets/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Schema/Sources/Widgets/WidgetProperties/Style/Style.swift
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForClickEvent.1.txt
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForScreenEvent.1.txt
  iOS/Sources/Beagle/Sources/Common/Extensions/StyleBuildersExtension.swift
  iOS/Sources/Beagle/Sources/Common/Extensions/Tests/__Snapshots__/StyleBuildersExtensionTests/test_StyleBuilder.1.txt
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/StyleViewConfigurator.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
Labels: iOS

#1064 fix: hotfix version 1.3.1 for Android
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SetContext.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormSubmitter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextBinding.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataEvaluation.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextExpressionReplacer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleMoshiExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ColorUtils.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleScreenViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormSubmitterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataEvaluationTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ActionExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/BeagleMoshiExtensionsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ColorUtilsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleScreenViewModelTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
Labels: android

#1065 feat: adds Container instrumentation tests
  android/automated-tests/build.gradle
  android/automated-tests/src/androidTest/assets/features/Container.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ContainerSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/preview/build.gradle
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ContainerTestsScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ContainersController.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/Container.feature
  iOS/Tests/AutomatedTestsUITests/Steps/ContainerSteps.swift
Labels: android, backend, iOS

#1056 refactor: move module kotlin-core to inside Beagle Android
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/analytics/Analytics.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics/ClickEvent.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics/ScreenAnalytics.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics/ScreenEvent.kt
  android/beagle/src/main/java/br/com/zup/beagle/analytics/TouchableAnalytics.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Accessibility.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/AccessibilityComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/BindAttribute.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/GhostComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/IdentifierComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/MultiChildComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/ServerDrivenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/SingleChildComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Style.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/StyleComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/ext/UnitValueExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/ext/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/Widget.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/core/Flex.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/core/ImageContentMode.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/core/ListDirection.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/core/ScrollAxis.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/core/TextAlignment.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/core/TextInputType.kt
  android/beagle/src/main/java/br/com/zup/beagle/widget/core/UnitValue.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/InputTextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/internal-processor/build.gradle
  android/internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/InternalWidgetFactoryProcessor.kt
  android/kotlin-core/build.gradle
  android/kotlin-core/gradle.properties
  android/processor-utils/build.gradle
  android/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleClasses.kt
  android/processor-utils/src/main/kotlin/br/com/zup/beagle/compiler/BeagleProcessorConstants.kt
  android/processor/build.gradle
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/BeagleSetupProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterActionProcessor.kt
  android/processor/src/main/java/br/com/zup/beagle/android/compiler/RegisterWidgetProcessor.kt
  android/settings.gradle
Labels: android

#1066 Schema/update components 1.3
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  iOS/Schema/Sources/CodeGeneration/BeagleSchemaGenerated/Style.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabBarItem+Extension.swift
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/StyleSchema.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/FlexSchema.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Size.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/SizeSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/Kotlin/StyleSchema.kt
  schema/schema-ruby-erb/model_generation/Generated/KotlinBackend/Style.kt
  schema/schema-ruby-erb/model_generation/Models/Layout/style.rb
Labels: CI/CD, android, backend, iOS, schema

#1071 fix: improve vulnerability
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/PolymorphicJsonAdapterFactory.java
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AlertTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConfirmTest.kt
Labels: android

#1072 fix: remove log on preview activity
  android/preview/src/main/java/br/com/zup/beagle/android/preview/PreviewActivity.kt
Labels: android

#1080 ci: changed workflow to enable release from any branch
  .github/workflows/release.yml
  fastlane/Fastfile
Labels: CI/CD

#1075 fix: header template for automated tests target
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests.xcodeproj/xcshareddata/IDETemplateMacros.plist
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTests/BeagleConfig.swift
  iOS/Tests/AutomatedTestsTests/AutomatedTestsTests.swift
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Robots/ScreenRobot.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ButtonScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/CucumberStepsDefinition.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ImageScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ListViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/NavigationActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/PageViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ScrollViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabViewScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TouchableScreenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Utils/TestUtils.swift
  iOS/Tests/AutomatedTestsUITests/scrollToExtension.swift
Labels: iOS

#1083 feat: create ci to security
  .github/workflows/horusec_pr.yml
Labels: CI/CD

#1053 test: add instrumentation test to component Text
  android/automated-tests/src/androidTest/assets/features/TextScreen.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextScreen.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/matcher/MatcherExtension.kt
  android/automated-tests/src/main/res/values/colors.xml
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextScreenBuilder.kt
Labels: android, backend

#1085 test: adds new unit tests to text input components
  android/beagle/build.gradle
  android/beagle/src/test/java/br/com/zup/beagle/android/components/InputTextTest.kt
Labels: android

#1087 feat: add support to bind in the display to the backend
  android/beagle/src/main/java/br/com/zup/beagle/android/context/Bind.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/BindAttribute.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigationBarScreenBuilder.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/BeagleModule.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/serialization/jackson/BindMixin.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/jackson/BeagleModuleTest.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/core/StyleBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/BindAttribute.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/context/Bind.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/expression/ExpressionHelper.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewDslScreenBuilder.kt
Labels: android, backend

#1086 feat: add support to bind in Display
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Style.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/mapper/FlexMapperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleFlexViewTest.kt
Labels: android

#1089 test: network client default implementation.
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/Config/BeagleConfig.swift
  iOS/Tests/AutomatedTests/Config/Logger/BeagleLoggerDefault.swift
  iOS/Tests/AutomatedTests/Config/Network/HttpRequestBuilder.swift
  iOS/Tests/AutomatedTests/Config/Network/NetworkClientDefault.swift
  iOS/Tests/AutomatedTests/CustomNavigationController.swift
Labels: iOS

#1090 feat: create id manager and add support to views without id in contextDataManager
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/ViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/GenerateIdManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/main/res/values/ids.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/AbstractViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/BeagleExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleFlexViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModelTest.kt
Labels: android, enhancement

#1091 feat: add name to Horusec workflow
  .github/workflows/horusec_pr.yml
Labels: CI/CD

#1092 fix: adjust crash in cache manager
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
Labels: android

#1034 test: create test add children
  android/automated-tests/src/androidTest/assets/features/AddChildren.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/AddChildrenScreenSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/AddChildrenScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/SimpleComponentsController.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/AddChildrenScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/AddChildrenService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/AddChildrenService.kt
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/AddChildren.feature
  iOS/Tests/AutomatedTestsUITests/Steps/AddChildrenSteps.swift
Labels: Integration Test, android, backend, iOS

#1100 feat: add new attribute id in screen and deprecated field identifier
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Screen.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
Labels: android

#805 feat: iOS ListView
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Schema/Sources/Action/Types/SendRequest.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Schema/Sources/ContextExpression/Expression.swift
  iOS/Schema/Sources/ServerDrivenComponent/ListView/ListView.swift
  iOS/Schema/Sources/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
  iOS/Schema/Sources/Widgets/Container/Container.swift
  iOS/Schema/Sources/Widgets/RawWidget.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Action.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Container/Container+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/Layout+Renderable/Style/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListItemCollectionViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListView+Renderable.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewController.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/ListViewInitTests.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/ListViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/__Snapshots__/ListViewTests/testHorizontalDirection.1.png
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/__Snapshots__/ListViewTests/testHorizontalDirectionWithDifferentSizes.1.png
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/__Snapshots__/ListViewTests/testVerticalDirection.1.png
  iOS/Sources/Beagle/Sources/Components/ListView+Renderable/Tests/__Snapshots__/ListViewTests/testVerticalDirectionWithDifferentSizes.1.png
  iOS/Sources/Beagle/Sources/Components/Page+Renderable/ComponentHostController.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Tests/UIView+ContextTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
Labels: android, backend, enhancement, iOS
