Repository ZupIT/beagle, pull requests merged in 2020-04, with the labels that each got.

#26 Create github action with fastlane to check PR
  .github/workflows/android-pr.yml
  .gitignore
  Gemfile
  Gemfile.lock
  android/gradle/wrapper/gradle-wrapper.properties
  fastlane/Appfile
  fastlane/Fastfile
  fastlane/Pluginfile
  fastlane/README.md
Labels: android, deploy, enhancement

#32 Create lane in fastlane to android deploy new version
  .github/workflows/android-pr.yml
  .github/workflows/release.yml
  bitrise.yml
  fastlane/Fastfile
  fastlane/README.md
  fastlane/delete_release.sh
  maven-publish.gradle
  publishLocal.sh
  publishRemote.sh
Labels: android, deploy

#34 Fastlane android codecov add support to flags
  .github/workflows/android-pr.yml
  Gemfile.lock
  android/README.md
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: android, deploy

#35 Added centerTitle attribute to Toolbar style
  android/beagle/src/main/java/br/com/zup/beagle/engine/renderer/layout/ScreenViewRenderer.kt
  android/beagle/src/main/java/br/com/zup/beagle/utils/ToolbarManager.kt
  android/beagle/src/main/res/values/attrs.xml
  android/beagle/src/test/java/br/com/zup/beagle/engine/renderer/layout/ScreenViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/utils/ToolbarManagerTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppDesignSystem.kt
  android/sample/src/main/res/values/styles.xml
Labels: android, enhancement

#36 Fastlane add discord message
  fastlane/Fastfile
  fastlane/discord_message.sh
Labels: deploy

#42 Create script to get first commit or previous tag
  fastlane/Fastfile
  fastlane/get_previous_tag.sh
Labels: deploy, enhancement

#37 Added StateChangeable contract to InputWidget
  android/android-declarative/src/main/java/br/com/zup/beagle/widget/form/InputWidget.kt
  android/android-declarative/src/main/java/br/com/zup/beagle/widget/interfaces/Observer.kt
  android/android-declarative/src/main/java/br/com/zup/beagle/widget/interfaces/StateChangeable.kt
  android/android-declarative/src/main/java/br/com/zup/beagle/widget/state/Observable.kt
  android/beagle/src/main/java/br/com/zup/beagle/form/FormValidatorController.kt
  android/beagle/src/main/java/br/com/zup/beagle/view/BeagleButtonView.kt
  android/beagle/src/test/java/br/com/zup/beagle/form/FormValidatorControllerTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/DisabledFormSubmitFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/SampleTextField.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/TextField.kt
  buildSrc/src/main/java/Dependencies.kt
Labels: android, bug, enhancement

#46 Update badge to github action
  README.md
  android/README.md
Labels: deploy

#62 Enable carryforward in codecov
  codecov.yml
Labels: deploy

#76 Add support to incremental annotation processing
  android/android-processor/build.gradle
  android/android-processor/src/main/java/br/com/zup/beagle/compiler/BeagleAnnotationProcessor.kt
  buildSrc/src/main/java/Dependencies.kt
Labels: android, enhancement

#77 Add license in the readme
  README.md
Labels: documentation

#69 Add discord secret key in workflow and update fastlane version
  .github/workflows/release.yml
  Gemfile.lock
  fastlane/Fastfile
  fastlane/get_previous_tag.sh
Labels: deploy
