Repository ZupIT/beagle, pull requests merged in 2020-12, with the labels that each got.

#1217 fix: Android listView id management
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/GenerateIdManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
Labels: android, bug

#1219 fix: adjust version dokka
  android/build.gradle
  android/gradle.properties
Labels: android

#1220 fix: remove task close and publish in nexus
  fastlane/Fastfile
Labels: CI/CD

#1155 test: adds functional page view tests
  android/automated-tests/src/androidTest/assets/features/PageView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/Instrumentation.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/PageViewSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewTwoScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ContainersController.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/xcshareddata/xcschemes/BeagleDemo.xcscheme
  iOS/Example/BeaglePreviewDemo/BeaglePreviewDemo.xcodeproj/project.pbxproj
  iOS/Libraries/YogaKit/YogaKit.xcodeproj/project.pbxproj
  iOS/Libraries/YogaKit/YogaKit.xcodeproj/xcshareddata/xcschemes/YogaKit.xcscheme
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/BeagleSchema.xcodeproj/xcshareddata/xcschemes/Schema.xcscheme
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Beagle.xcodeproj/xcshareddata/xcschemes/All.xcscheme
  iOS/Sources/Beagle/Beagle.xcodeproj/xcshareddata/xcschemes/Beagle.xcscheme
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.pbxproj
  iOS/Sources/Preview/BeaglePreview.xcodeproj/xcshareddata/xcschemes/BeaglePreview.xcscheme
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests.xcodeproj/xcshareddata/xcschemes/AutomatedTests.xcscheme
  iOS/Tests/AutomatedTests.xcodeproj/xcshareddata/xcschemes/AutomatedTestsUITests.xcscheme
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/Features/PageView.feature
  iOS/Tests/AutomatedTestsUITests/Steps/PageViewSteps.swift
Labels: android, backend, iOS

#1221 fix: publish libraries backend
  backend/build.gradle
Labels: backend

#1226 fix: add controllerId to action resetApplication
  iOS/Schema/Sources/Action/Types/Navigate/Navigate.swift
  iOS/Schema/Sources/Action/Types/Navigate/Tests/NavigateTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
Labels: iOS

#1218 test: listview automated tests
  android/automated-tests/build.gradle
  android/automated-tests/src/androidTest/assets/features/ListView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/GenericSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/action/OrientationChangeAction.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/action/SmoothScrollAction.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/action/SmoothScrollPercentAction.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/assertions/RecyclerViewItemCountAssertion.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/assertions/RecyclerViewOrientationAssertion.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/utils/transform/SingleQuoteTransform.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ListController.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Book.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/CharacterResponse.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Genre.kt
Labels: android, backend

#1229 fix: image view remote
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/BeagleBitmapFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/BeagleBitmapFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloaderTest.kt
Labels: android

#1233 fix: android listview context reference
  android/automated-tests/src/androidTest/assets/features/ListView.feature
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
Labels: android, backend, bug, iOS

#1244 refactor: Convert corner radius that come from backend in dp to pixel…
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
Labels: android

#1166 refactor: create BeagleScope to remove GlobalScope
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleSdk.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleScope.kt
Labels: android

#1235 fix: android listview context reference
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
Labels: android, bug

#1246 fix: sonar timeout
  android/gradle.properties
  backend/gradle.properties
Labels: android, backend

#1243 fix: iOS - aborting local image asset load for empty mobileId
  iOS/Sources/Beagle/Sources/Components/Image+Renderable/Image+Renderable.swift
Labels: bug, iOS

#1236 test: adds unit tests for the toolbar title generator
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarTextManager.kt
  android/beagle/src/test/AndroidManifest.xml
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarTextManagerTest.kt
Labels: android

#1216 test: add funcional test to textinput component
  android/automated-tests/src/androidTest/assets/features/TextInput.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/robots/ScreenRobot.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SimpleFormSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputSteps.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
  iOS/Tests/AutomatedTests/AppDelegate.swift
  iOS/Tests/AutomatedTestsUITests/Features/TextInput.feature
  iOS/Tests/AutomatedTestsUITests/Steps/TextInputSteps.swift
Labels: android, backend, iOS

#1251 ci: iOS codecov config
  .github/workflows/ios-pr.yml
  codecov.yml
  iOS/Sources/Beagle/Beagle.xcodeproj/xcshareddata/xcschemes/All.xcscheme
Labels: CI/CD, iOS

#1250 feat: iOS - Disabled button
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForClickEvent.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Tests/ButtonTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Tests/JSON/buttonComponent.json
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Tests/__Snapshots__/ButtonTests/test_whenDecodingJson_thenItShouldReturnAButton.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
Labels: enhancement, iOS

#1255 fix: Contributing Markdown File
  CONTRIBUTING.md
  FAQ.md
  doc/contributing/pull_requests.md
Labels: documentation

#1240 fix: add missing field controllerId when decoding action resetApplication
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/NavigateTests.swift
Labels: iOS

#1267 fixing structure and assets
  .gitignore
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/javascript-bridge/package.json
  flutter/beagle/javascript-bridge/src/global.d.ts
  flutter/beagle/javascript-bridge/src/index.ts
  flutter/beagle/javascript-bridge/src/utils/promise.ts
  flutter/beagle/javascript-bridge/tsconfig.json
  flutter/beagle/javascript-bridge/webpack.config.js
  flutter/beagle/lib/action/beagle_alert.dart
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/default/default_action_handler.dart
  flutter/beagle/lib/default/default_http_client.dart
  flutter/beagle/lib/interface/action_handler.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/beagle_view.dart
  flutter/beagle/lib/interface/component_builder.dart
  flutter/beagle/lib/interface/http_client.dart
  flutter/beagle/lib/interface/renderer.dart
  flutter/beagle/lib/interface/storage.dart
  flutter/beagle/lib/model/beagle_action.dart
  flutter/beagle/lib/model/beagle_ui_element.dart
  flutter/beagle/lib/model/network_options.dart
  flutter/beagle/lib/model/network_strategy.dart
  flutter/beagle/lib/model/request.dart
  flutter/beagle/lib/model/response.dart
  flutter/beagle/lib/model/tree_update_mode.dart
  flutter/beagle/pubspec.lock
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/lib/default_component_builder.dart
  flutter/beagle_components/pubspec.lock
  flutter/beagle_components/pubspec.yaml
  flutter/beagle_core/.metadata
  flutter/beagle_core/assets/js/test.js
  flutter/beagle_core/javascript-bridge/src/global.d.ts
  flutter/beagle_core/javascript-bridge/yarn.lock
  flutter/beagle_core/lib/interface/http_client.dart
  flutter/beagle_core/pubspec.lock
  flutter/beagle_core/pubspec.yaml
  flutter/beagle_core/test/empty_test.dart
  flutter/sample/pubspec.lock
  flutter/sample/pubspec.yaml
Labels: flutter

#1248 ci: horusec manager add template
  .github/workflows/horusec_pr.yml
Labels: CI/CD

#1269 JS functions better memory management + improved code separation
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/javascript-bridge/src/global.d.ts
  flutter/beagle/javascript-bridge/src/index.ts
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/javascript-bridge/package.json
  flutter/javascript-bridge/src/action.ts
  flutter/javascript-bridge/src/function.ts
  flutter/javascript-bridge/src/global.d.ts
  flutter/javascript-bridge/src/http-client.ts
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/promise.ts
  flutter/javascript-bridge/src/storage.ts
  flutter/javascript-bridge/src/utils/promise.ts
  flutter/javascript-bridge/src/view.ts
  flutter/javascript-bridge/tsconfig.json
  flutter/javascript-bridge/webpack.config.js
Labels: flutter

#1270 Flutter: Beagle Style
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/model/beagle_style.dart
  flutter/beagle/lib/model/beagle_ui_element.dart
  flutter/beagle/lib/utils/enum.dart
  flutter/beagle/test/model/beagle_style.dart
  flutter/javascript-bridge/package.json
Labels: flutter

#1272 feat: flutter custom actions
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/default/default_action_handler.dart
  flutter/beagle/lib/default/default_actions.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/component_builder.dart
  flutter/beagle_components/lib/beagle_components.dart
  flutter/beagle_components/lib/default_component_builder.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/javascript-bridge/src/action.ts
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/view.ts
  flutter/sample/lib/main.dart
Labels: flutter

#1262 fix: screen to component
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ScreenExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ScreenExtensionsKtTest.kt
Labels: android
