Repository ZupIT/beagle, pull requests merged in 2021-09, with the labels that each got.

#1753 fix: adds a hotfix android 1.6.2
  .github/workflows/horusec_pr.yml
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BeagleTextViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/UndefinedViewRendererTest.kt
Labels: android, CI/CD

#1754 fix: release.yml for hotfix 1.6.2-android
  .github/workflows/release.yml
  fastlane/Fastfile
Labels: CI/CD

#1755 Update android-pr.yml
  .github/workflows/android-pr.yml
Labels: CI/CD

#1756 adjust workflowxy
  .github/workflows/release.yml
  fastlane/Fastfile
Labels: CI/CD

#1757 chore: update maven publish
  .github/workflows/release.yml
  android/build.gradle
  fastlane/Fastfile
Labels: android, CI/CD

#1763 fix: iOS - Empting acessibilityValue from Text component
  iOS/Sources/Beagle/Sources/Components/Widget/Text/Text+Extensions.swift
Labels: iOS
