Repository ZupIT/beagle, pull requests merged in 2021-01, with the labels that each got.

#1276 feat: Adds support for generation of dokka documentation to hugo md files
  android/beagle/build.gradle
  android/build.gradle
Labels: android

#1275 feat: navigator for Beagle Flutter
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_navigator_js.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/interface/beagle_navigator.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/beagle_view.dart
  flutter/beagle/lib/interface/types.dart
  flutter/beagle/lib/model/route.dart
  flutter/javascript-bridge/src/global.d.ts
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/view.ts
Labels: flutter

#1284 feat: flutter navigation controller
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/navigation_controller.dart
  flutter/javascript-bridge/src/index.ts
  flutter/sample/lib/main.dart
Labels: flutter

#1289 feat: flutter global context
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/bridge_impl/beagle_navigator_js.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/global_context_js.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/global_context.dart
  flutter/beagle/pubspec.lock
  flutter/beagle/pubspec.yaml
  flutter/beagle/test/bridge_impl/global_context_js.dart
  flutter/javascript-bridge/src/index.ts
  flutter/sample/lib/main.dart
Labels: flutter

#1290 feat: flutter persistent storage
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/example/pubspec.lock
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/default/default_storage.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/storage.dart
  flutter/beagle/pubspec.lock
  flutter/beagle/pubspec.yaml
  flutter/javascript-bridge/package.json
  flutter/javascript-bridge/src/global.d.ts
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/promise.ts
  flutter/javascript-bridge/src/storage.ts
  flutter/sample/pubspec.lock
Labels: flutter

#1281 test: add unit tests to textinput component
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
Labels: android

#1292 test: add unit test to ViewRendererFactory
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ViewRendererFactoryTest.kt
Labels: android

#1303 fix: letting beagleLoggerProxy public
  iOS/Sources/Beagle/Sources/Logger/BeagleLoggerProxy.swift
Labels: bug, iOS

#1273 feat: disabled button
  android/automated-tests/src/androidTest/assets/features/Button.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ButtonSteps.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
Labels: android, backend

#1320 feat: add flutter default button
  flutter/beagle_components/lib/beagle_button.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_button_test.dart
Labels: flutter

#1321 feat: add flutter default text component
  flutter/beagle/lib/utils/color_utils.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_text_test.dart
Labels: flutter

#1327 feat: adds parse color
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/utils/color.dart
  flutter/beagle/test/empty_test.dart
  flutter/beagle/test/utils/color_test.dart
  flutter/sample/lib/main.dart
Labels: flutter
