Repository ZupIT/beagle, pull requests merged in 2021-08, with the labels that each got.

#1715 feat: Adds DCO Action file
  .github/workflows/dco-check.yml
Labels: CI/CD

#1718 feat: replace deprecated method usage in bff-server project
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/AccessibilityScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ActionNotRegisteredScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ActionScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/AlertScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/BuilderKotlinDslScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ClickActionScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ConditionalScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ConfirmScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ContainerTestsScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ExpressionEscapingScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/GlobalSampleTextScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigateActionsScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NavigationBarScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PageViewScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PullToRefreshScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SafeAreaScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ScrollViewScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SendRequestScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SetContextScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SimpleFormScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabBarScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabViewScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TextInputScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TouchableScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/WebViewScreenBuilder.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/ColorConstants.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/StyleConstants.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ActionsScreenController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ContainersController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/LayoutComponentsController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/ListController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/NavigateActionController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/NavigationBarController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/SimpleComponentsController.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Book.kt
  tests/bff-server/bff/src/main/kotlin/br/com/zup/beagle/automatedtests/model/Genre.kt
Labels: backend, bff

#1731 feat: iOS - CornerRadius with multiple values
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/BeagleTests/Analytics/Deprecated/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForClickEvent.1.txt
  iOS/Sources/Beagle/BeagleTests/Common/Extensions/__Snapshots__/StyleBuildersExtensionTests/test_StyleBuilder.1.txt
  iOS/Sources/Beagle/BeagleTests/Common/Util/Snapshot.swift
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/Form/Submit/__Snapshots__/FormSubmitTests/testRenderView.1.png
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDirectionVerticalWithManyLargeRows.1.png
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDirectionVerticalWithManyRows.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Button/__Snapshots__/ButtonTests/test_whenDecodingJson_thenItShouldReturnAButton.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Container/ContainerTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Container/__Snapshots__/ContainerTests/test_renderContainer.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Container/__Snapshots__/ContainerTests/test_renderContainer_withBorder.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Container/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Image/JSON/ImageComponent.json
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Image/__Snapshots__/ImageTests/testRenderImage.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Text/TextTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Text/__Snapshots__/TextTests/testRenderTextComponent.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Text/__Snapshots__/TextTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/Widget/__Snapshots__/WidgetTests/testParsingOfWidgetWithAllAttributes.1.txt
  iOS/Sources/Beagle/BeagleTests/Renderer/ViewConfiguratorTests.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Style/Style.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/BorderView.swift
  iOS/Sources/Beagle/Sources/Renderer/ViewConfigurator.swift
Labels: iOS

#1732 feat: iOS - Deprecate Analytics old infrastructure
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PullToRefreshScreen.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Image/ImageTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/Text/TextTests.swift
  iOS/Sources/Beagle/BeagleTests/Navigation/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Analytics.swift
  iOS/Sources/Beagle/Sources/Analytics/Deprecated/DeprecatedAnalytics.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/Screen.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ServerDrivenComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Touchable/Touchable+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Touchable/Touchable.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button.swift
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Analytics/AnalyticsModels.swift
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Analytics/Events.swift
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
Labels: iOS

#1722 feat: deprecated old version of analytics
  android/beagle/src/main/kotlin/br/com/zup/beagle/analytics/Analytics.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/analytics/ClickEvent.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/analytics/ScreenAnalytics.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/analytics/ScreenEvent.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/analytics/TouchableAnalytics.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/android/components/layout/Screen.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/kotlin/br/com/zup/beagle/android/setup/BeagleSdk.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/Analytics.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/ClickEvent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/ScreenAnalytics.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/ScreenEvent.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/TouchableAnalytics.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Screen.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/navigation/Touchable.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
Labels: android, backend
