Repository ZupIT/beagle, pull requests merged in 2021-03, with the labels that each got.

#1394 fix: make triggered scripts run on custom branch
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/automated_tests_appium_ios.yml
  .github/workflows/horusec_pr.yml
Labels: CI/CD, android, appium, git-workflow, iOS, tests

#1380 feat: flutter action open native route
  flutter/beagle/lib/action/beagle_open_native_route.dart
  flutter/beagle/lib/default/default_actions.dart
  flutter/beagle/test/action/beagle_open_native_route_test.dart
Labels: flutter

#1384 test: fixed sendResquest messages
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/SendRequestScreenBuilder.kt
Labels: backend, tests, web

#1409 change button attribute to enabled
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
Labels: WIP, backend, tests

#1408 feat: deprecated field isLoggingEnabled
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/BeagleConfig.kt
  iOS/Sources/Beagle/Sources/Setup/BeagleDependencies.swift
Labels: android, iOS

#1407 feat: create field enabled in text input and deprecated field disabled
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TextInputBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput.swift
Labels: android, backend, iOS

#1417 feat: android deprecated tests removal
  android/automated-tests/src/androidTest/assets/features/ActionNotRegistered.feature
  android/automated-tests/src/androidTest/assets/features/AddChildren.feature
  android/automated-tests/src/androidTest/assets/features/Alert.feature
  android/automated-tests/src/androidTest/assets/features/Button.feature
  android/automated-tests/src/androidTest/assets/features/Conditional.feature
  android/automated-tests/src/androidTest/assets/features/Confirm.feature
  android/automated-tests/src/androidTest/assets/features/Container.feature
  android/automated-tests/src/androidTest/assets/features/Image.feature
  android/automated-tests/src/androidTest/assets/features/LazyComponent.feature
  android/automated-tests/src/androidTest/assets/features/Navigate.feature
  android/automated-tests/src/androidTest/assets/features/PageView.feature
  android/automated-tests/src/androidTest/assets/features/ScrollView.feature
  android/automated-tests/src/androidTest/assets/features/SendRequestScreen.feature
  android/automated-tests/src/androidTest/assets/features/SetContext.feature
  android/automated-tests/src/androidTest/assets/features/SimpleForm.feature
  android/automated-tests/src/androidTest/assets/features/TabBar.feature
  android/automated-tests/src/androidTest/assets/features/TextInput.feature
  android/automated-tests/src/androidTest/assets/features/TextScreen.feature
  android/automated-tests/src/androidTest/assets/features/Touchable.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/elements/ScreenElements.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ActionNotRegistered.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/AddChildrenScreenSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/AlertSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ButtonSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ConditionalSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ConfirmSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ContainerSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ImageSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/LazyComponentSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/NavigateSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/PageViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ScrollViewSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SendRequestSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SetContextSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/SimpleFormSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TabBarSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextInputSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TextSteps.kt
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/TouchableSteps.kt
Labels: android

#1411 feat: add support to add parameters in request to push view
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/SendRequest.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/CacheManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpAdditionalData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpMethod.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/RequestData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/ResponseData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ServerDrivenFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/BeagleApiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ServerDrivenFactoryKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewGroupExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpClientDefault.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/NavigateBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/networking/HttpAdditionalData.kt
Labels: android, backend

#1412 feat: custom operations
  flutter/beagle/lib/action/beagle_open_native_route.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/test/bridge_impl/beagle_js_engine_test.dart
  flutter/beagle/test/bridge_impl/beagle_service_js_test.dart
  flutter/javascript-bridge/src/global.d.ts
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/operation.ts
Labels: flutter

#1413 feat: Adds BuildContext reference to ActionHandler
  flutter/beagle/example/pubspec.yaml
  flutter/beagle/lib/action/beagle_alert.dart
  flutter/beagle/lib/action/beagle_open_native_route.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/default/default_actions.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/beagle_view.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/lib/utils/build_context_utils.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle/test/action/beagle_alert_test.dart
  flutter/beagle/test/action/beagle_open_native_route_test.dart
  flutter/beagle/test/bridge_impl/beagle_js_engine_test.dart
  flutter/beagle/test/bridge_impl/beagle_service_js_test.dart
  flutter/beagle/test/bridge_impl/beagle_view_js_test.dart
  flutter/beagle_components/pubspec.yaml
  flutter/sample/lib/app_beagle_config.dart
  flutter/sample/lib/main.dart
  flutter/sample/pubspec.yaml
Labels: flutter

#1422 test: commenting lazy component scenario
  tests/appium/project/src/test/resources/features/LazyComponent.feature
Labels: appium, bug, iOS

#1420 fix: changed Android PageView component to suit BFF contract
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
Labels: android

#1431 refactor: Deprecated dsl in backend
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/BeagleBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/BeagleDsl.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/analytics/ClickEventBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/analytics/ScreenEventBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/core/AccessibilityBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/core/StyleBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/widget/FlexBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/widget/UnitValueBuilder.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/AlertBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/ConfirmBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/NavigateBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/SendRequestBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/SetContextBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/action/SubmitFormBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/context/ContextDataBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/form/SimpleFormBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/layout/ContainerBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/layout/PageViewBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/layout/ScreenComponentBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/layout/ScrollViewBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/lazy/LazyComponentBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/navigation/TouchableBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/pager/PageIndicatorBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/ButtonBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/ImageBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/ListViewBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TabBarBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TabViewBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TextBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TextInputBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/WebViewBuilder.kt
Labels: backend

#1434 fix: PageView retain cycle
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/Tests/PageViewTests.swift
Labels: iOS

#1441 chore: adjust error in horusec
  .github/workflows/horusec_pr.yml
Labels: CI/CD

#1423 test: fix layout of listView page
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ListViewScreenBuilder.kt
Labels: Integration Test, backend, web

#1429 feat: Improve iOS test script setup step
  .github/workflows/automated_tests_appium_ios.yml
Labels: CI/CD

#1440 fix: iOS - TextInput enabled custom style config
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/TextInputTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithDisabled.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithDisabled.2.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithEnabled.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithEnabled.2.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
Labels: iOS

#1428 fix: iOS - ErrorView retry block
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleErrorView.swift
Labels: iOS

#1452 fix: adjust crash when passing color in page indicator
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageIndicatorTest.kt
Labels: android

#1448 feat: iOS deprecated tests removal
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTestsUITests/AutomatedTestsUITests.swift
  iOS/Tests/AutomatedTestsUITests/Elements/ScreenElements.swift
  iOS/Tests/AutomatedTestsUITests/Features/ActionNotRegistered.feature
  iOS/Tests/AutomatedTestsUITests/Features/AddChildren.feature
  iOS/Tests/AutomatedTestsUITests/Features/Alert.feature
  iOS/Tests/AutomatedTestsUITests/Features/Button.feature
  iOS/Tests/AutomatedTestsUITests/Features/ConditionalAction.feature
  iOS/Tests/AutomatedTestsUITests/Features/Confirm.feature
  iOS/Tests/AutomatedTestsUITests/Features/Container.feature
  iOS/Tests/AutomatedTestsUITests/Features/Image.feature
  iOS/Tests/AutomatedTestsUITests/Features/LazyComponent.feature
  iOS/Tests/AutomatedTestsUITests/Features/PageView.feature
  iOS/Tests/AutomatedTestsUITests/Features/SendRequestAction.feature
  iOS/Tests/AutomatedTestsUITests/Features/SetContext.feature
  iOS/Tests/AutomatedTestsUITests/Features/SimpleForm.feature
  iOS/Tests/AutomatedTestsUITests/Features/TabBar.feature
  iOS/Tests/AutomatedTestsUITests/Features/Text.feature
  iOS/Tests/AutomatedTestsUITests/Features/TextInput.feature
  iOS/Tests/AutomatedTestsUITests/Features/Touchable.feature
  iOS/Tests/AutomatedTestsUITests/Robots/ScreenRobot.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ActionNotRegisteredSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/AddChildrenSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/AlertSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ButtonSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ConditionalActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ConfirmActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ContainerSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/ImageSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/LazyComponentSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/PageViewSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SendRequestActionSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SetContextSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/SimpleFormSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TabBarSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TextInputSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TextSteps.swift
  iOS/Tests/AutomatedTestsUITests/Steps/TouchableSteps.swift
Labels: iOS, tests

#1443 fix: make unowned references weak
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NativeViewController.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Analytics/Deprecated/DeprecatedAnalytics.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Form+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Submit/SubmitFormGestureRecognizer.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Lazy/LazyComponent+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Lazy/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewController.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/ComponentHostController.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/ScreenComponent+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/Tests/ScreenComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBar+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBarItemUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBarUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Touchable/Touchable+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/WebView/WebViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Image/Image+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Expression.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/Beagle/Sources/Renderer/BindingConfigurator.swift
  iOS/Sources/Beagle/Sources/Renderer/LayoutManager.swift
  iOS/Sources/Beagle/Sources/Renderer/Tests/BindingConfiguratorTests.swift
Labels: iOS

#1454 refactor: adjust body parameter http additional data in route remote
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpAdditionalData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/networking/HttpAdditionalData.kt
Labels: android, backend

#1458 fix: adjust crash when passing color in page indicator (#1452)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageIndicatorTest.kt
Labels: android

#1460 fix: error when passing analytics null in action
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/AnalyticsActionConfigAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Labels: android

#1462 chore: release 1.6.1 android into master
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/AnalyticsActionConfigAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Labels: android

#1455 feat: add to support to style id in Container
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/setup/DesignSystem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/OnInitiableComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ContainerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
Labels: android, backend

#1456 fix: adjust instance of text
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BeagleTextViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ViewRendererFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ScreenExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ActionReportFactoryTest.kt
Labels: android

#1391 docs: generating kdocs and uploading them
  .github/workflows/release-kdocs.yml
  .gitignore
  android/build.gradle
  backend/build.gradle
  fastlane/kdocs/format_doc.sh
  fastlane/kdocs/indexTemplate/index.html
  fastlane/kdocs/merge_docs.sh
  fastlane/kdocs/substitute.sh
Labels: CI/CD, android, backend, documentation
