Repository ZupIT/beagle, pull requests merged in 2021-06, with the labels that each got.

#1585 feat: iOS ListView/GridView templates
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/Equality.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GridViewScreen.swift
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDecodingJsonListView.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDecodingJsonListViewWithTemplate.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDecodingJsonListViewWithoutChildren.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/GridViewTests.swift
  iOS/Sources/Beagle/BeagleTests/Logger/BeagleLoggerTests.swift
  iOS/Sources/Beagle/BeagleTests/Logger/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/Equality.generated.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabView/TabViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Expression.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
Labels: iOS

#1592 refactor: remove widgetView inheritance from PageIndicator component
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
Labels: android

#1593 fix: ListView's manager id and GridView contract
  android/beagle/src/main/java/br/com/zup/beagle/android/components/GridView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/Template.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/TemplateJson.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/GridViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/GridViewFragment.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/ListViewFragment.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/GridView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Template.kt
Labels: android, backend, bug

#1595 fix: contract adjustment grid view
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/GridView.kt
Labels: backend

#1596 fix: adjustment contract grid view
  android/beagle/src/main/java/br/com/zup/beagle/android/components/GridView.kt
Labels: android

#1594 feat: improve Appium tests CI/CD strategy
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/automated_tests_appium_ios.yml
  .github/workflows/automated_tests_appium_mobile.yml
Labels: CI/CD

#1599 feat: improve Appium tests CI/CD strategy
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/automated_tests_appium_ios.yml
  .github/workflows/automated_tests_appium_mobile.yml
Labels: CI/CD

#1601 chore: merge fix in master
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/GridView.kt
Labels: backend

#1600 chore: merge fix in master
  android/beagle/src/main/java/br/com/zup/beagle/android/components/GridView.kt
Labels: android

#1602 test: create unit test to gridview
  android/beagle/src/main/java/br/com/zup/beagle/android/context/tokenizer/Token.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/GridViewTest.kt
Labels: android

#1607 chore: remove script to run android automated test
  .github/workflows/automated_tests.yml
  .github/workflows/automated_tests_android.yml
  fastlane/Fastfile
  fastlane/automatedTests/run_android_automation.sh
Labels: CI/CD

#1608 refactor: update dependencies and necessary code
  .github/workflows/release.yml
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/components/LazyComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpAdditionalData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ServerDrivenActivity.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/LazyComponentTest.kt
  android/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/preview/build.gradle
  android/preview/src/main/java/br/com/zup/beagle/android/preview/PreviewActivity.kt
  android/sample/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/components/CustomPageIndicatorView.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/list/ListViewFragment.kt
  backend/build.gradle
  backend/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  config/detekt-default-config.yml
  fastlane/Fastfile
Labels: CI/CD, android, backend

#1611 chore: adjust dokka to generate docs
  android/android-annotation/build.gradle
  android/beagle/build.gradle
  android/build.gradle
  backend/build.gradle
  backend/framework/build.gradle
  backend/kotlin-core/build.gradle
  backend/starters/micronaut/build.gradle
  backend/starters/spring/build.gradle
  backend/widgets/build.gradle
  dokka.gradle
Labels: android, backend

#1614 chore: update dependencies beagle android
  android/android-annotation/build.gradle
  android/beagle/build.gradle
  android/build.gradle
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/internal-processor/build.gradle
  android/preview/build.gradle
  android/processor-shared-code/build.gradle
  android/processor/build.gradle
  android/sample/build.gradle
  android/test/build.gradle
Labels: android

#1606 chore: iOS - Update Beagle Dependencies
  iOS/Beagle.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Preview/BeaglePreview.xcodeproj/project.pbxproj
Labels: iOS

#1624 fix: Changing the path of web images in the tab bar integrated test
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/TabBarScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
  backend/automated-tests/src/main/resources/static/images/beagle1.jpg
  backend/automated-tests/src/main/resources/static/images/beagle2.jpg
Labels: Integration Test, backend

#1619 fix: improvements in Appium tests
  .github/workflows/automated_tests_appium_ios.yml
  tests/appium/app-android/app/build.gradle
  tests/appium/app-android/build.gradle
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ScrollViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
  tests/appium/project/src/test/resources/features/ScrollView.feature
Labels: CI/CD, appium, iOS, tests

#1616 fix: popView with a single view in stack
  iOS/Sources/Beagle/BeagleTests/Logger/BeagleLoggerProxyTests.swift
  iOS/Sources/Beagle/BeagleTests/Logger/BeagleLoggerTests.swift
  iOS/Sources/Beagle/BeagleTests/Logger/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/BeagleTests/Navigation/BeagleNavigatorTests.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
Labels: iOS

#1627 fix: Appium Android app compilation
  tests/appium/app-android/jacoco-android.gradle
  tests/appium/jacoco.gradle
Labels: android, appium, tests

#1628 feat: Sonarcloud
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  README.md
  android/build.gradle
  backend/build.gradle
  fastlane/Fastfile
Labels: CI/CD, android, backend

#1635 fix: Navigation tests on iOS
  tests/appium/app-ios/AppiumApp/AppiumApp/AppDelegate.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/BeagleConfig.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/CustomNavigationController/CustomNavigationController.swift
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/NavigateScreenSteps.kt
  tests/appium/project/src/test/resources/features/Navigate.feature
Labels: appium, iOS, tests

#1638 fix: adjust proguard
  android/beagle/consumer-rules.pro
Labels: android

#1629 feat: removes module dependency from Beagle and uses lib import instead
  android/gradle.properties
  maven-publish.gradle
  tests/appium/app-android/app/build.gradle
  tests/appium/app-android/build.gradle
  tests/appium/app-android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  tests/appium/app-android/jacoco-android.gradle
  tests/appium/app-android/settings.gradle
  tests/appium/jacoco.gradle
Labels: CI/CD, android, appium, tests

#1641 fix: Flutter lib upgrades + fix to image component
  flutter/analysis_options.yaml
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/default/default_http_client.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/pubspec.yaml
  flutter/beagle_components/test/beagle_image_test.dart
  flutter/beagle_components/test/objects_fake/fake_design_system.dart
  flutter/beagle_components/test/service_locator/service_locator.dart
  flutter/javascript-bridge/package.json
  flutter/sample/pubspec.yaml
Labels: flutter

#1648 feat: iOS - Pull to Refresh Component
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PullToRefreshScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/JSON/PullToRefresh.json
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/PullToRefreshTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/__Snapshots__/PullToRefreshTests/testDecodingPullToRefresh.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/__Snapshots__/PullToRefreshTests/testPullToRefreshSnapshot.1.png
  iOS/Sources/Beagle/BeagleTests/Decoding/__Snapshots__/ComponentDecoderTests/testIfAllComponentsAreBeingRegistered.1.txt
  iOS/Sources/Beagle/BeagleTests/Setup/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PullToRefresh/PullToRefresh+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PullToRefresh/PullToRefresh.swift
  iOS/Sources/Beagle/Sources/Decoding/ComponentDecoder.swift
Labels: iOS

#1639 refactor: android view factory
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/LazyComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabBar.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Text.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/WebView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ComposeComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/UndefinedWidget.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AddChildrenTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AlertTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConfirmTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BaseComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/BeagleTextViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/GridViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/LazyComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabBarTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/WebViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ComposeComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ContainerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageIndicatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTwoTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/components/UndefinedComponentSerializerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/ui/UndefinedViewRendererTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewGroupExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
Labels: android

#1652 fix: iOS - PullToRefresh with Text
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/PullToRefreshTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PullToRefresh/__Snapshots__/PullToRefreshTests/testPullToRefreshSnapshot.1.png
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PullToRefresh/PullToRefresh+Extensions.swift
Labels: iOS

#1653 chore: adjust PullToRefresh
  android/beagle/src/main/java/br/com/zup/beagle/android/components/refresh/PullToRefresh.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/refresh/PullToRefreshTest.kt
Labels: android

#1650 feat: iOS - Adds init from Encodable to DynamicObject
  iOS/Sources/Beagle/BeagleTests/ContextExpression/DynamicObjectTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/DynamicObject.swift
Labels: iOS

#1654 fix: components and actions in Flutter are now case insensitive
  flutter/.editorconfig
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle_components/lib/default_components.dart
Labels: flutter

#1651 feat: pullToRefresh Appium tests
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/PullToRefreshScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/SimpleComponentsController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/SampleDataController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleDataService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SamplePullToRefreshService.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/PullToRefreshScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
  tests/appium/project/src/test/resources/features/PullToRefresh.feature
Labels: appium, backend, iOS, tests

#1655 feat: flutter: BeagleContainer component
  flutter/beagle_components/lib/beagle_container.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/lib/default_components.dart
Labels: flutter

#1659 fix: text component when is aligned to center
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/test/beagle_text_test.dart
Labels: bug, flutter

#1658 feat: flutter/scrollView
  flutter/beagle/lib/utils/enum.dart
  flutter/beagle_components/lib/beagle_scroll_view.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_scroll_view_test.dart
Labels: flutter

#1661 feat: flutter: implement missing features of TextInput and fixes bugs
  flutter/beagle_components/lib/beagle_text_input.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/lib/text_input_type.dart
Labels: flutter

#1662 fix: flutter: page view
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle_components/lib/beagle_page_view.dart
  flutter/beagle_components/test/beagle_page_view_test.dart
Labels: flutter

#1663 feat: add gridview in backend and android
  android/beagle/src/main/java/br/com/zup/beagle/android/components/GridView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/GridViewFragment.kt
  backend/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/components/SerializerDataFactory.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/serialization/components/widgets/DefaultWidgetSerializerTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/GridView.kt
Labels: CI/CD, android, backend

#1666 fix: flutter: tabbar and image
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/beagle_tab_bar.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_image_test.dart
  flutter/beagle_components/test/beagle_tab_bar_test.dart
  flutter/beagle_components/test/goldens/beagle_image_local.png
  flutter/beagle_components/test/goldens/beagle_image_remote.png
  flutter/beagle_components/test/goldens/beagle_image_remote_not_found.png
  flutter/sample/images/delete.png
  flutter/sample/lib/app_design_system.dart
Labels: flutter

#1657 feat: GridView span count and direction
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GridViewScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/GridView/GridViewDecodeTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/GridView/JSON/gridViewNumColumns.json
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/GridView/JSON/gridViewSpanCount.json
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/GridView/__Snapshots__/GridViewDecodeTests/testDecodingDeprecatedJson.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/GridView/__Snapshots__/GridViewDecodeTests/testDecodingJson.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDecodingJsonListView.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDecodingJsonListViewWithTemplate.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/ListView/__Snapshots__/ListViewTests/testDecodingJsonListViewWithoutChildren.1.txt
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/GridViewTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testGridViewTemplateSimple.2.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testGridViewTemplateWithDifferentSizes.2.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testGridViewWithFourColumns.2.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testGridViewWithNumColumnsZero.2.png
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView.swift
Labels: iOS

#1673 refactor: remove debug logs
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/renderer_js.dart
  flutter/beagle_components/lib/beagle_lazy_component.dart
Labels: flutter

#1672 fix: flutter: webview component must react to changes in the url property
  flutter/beagle_components/lib/beagle_webview.dart
Labels: flutter

#1669 feat: iOS - AutoLayoutWrapper enhancement
  iOS/Sources/Beagle/BeagleTests/Renderer/AutoLayoutWrapperTests.swift
  iOS/Sources/Beagle/Sources/Renderer/AutoLayoutWrapper.swift
Labels: iOS

#1675 refactor: rename field custom operation to operation
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/test/bridge_impl/beagle_service_js_test.dart
  flutter/sample/lib/main.dart
Labels: flutter

#1676 refactor: remove class beagle config and passing the attributes to class BeagleSdk
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/default/empty/default_empty_config.dart
  flutter/beagle/lib/model/beagle_config.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle_components/test/service_locator/service_locator.dart
  flutter/sample/lib/app_beagle_config.dart
  flutter/sample/lib/main.dart
Labels: flutter

#1677 refactor: remove shared preferences and use memory to save data
  flutter/beagle/lib/default/default_storage.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle/test/default/default_storage_test.dart
Labels: flutter
