Repository ZupIT/beagle, pull requests merged in 2021-05, with the labels that each got.

#1537 refactor: remove codecov by security
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  .github/workflows/flutter-pr.yml
  .github/workflows/ios-pr.yml
  Gemfile.lock
  README.md
  android/beagle/build.gradle
  android/build.gradle
  android/internal-processor/build.gradle
  android/jacoco-android.gradle
  android/preview/build.gradle
  android/processor-shared-code/build.gradle
  android/processor/build.gradle
  android/test/build.gradle
  backend/framework/build.gradle
  backend/processor/build.gradle
  backend/starters/micronaut/build.gradle
  backend/starters/spring/build.gradle
  codecov.yml
  fastlane/Fastfile
  fastlane/Pluginfile
  jacoco.gradle
  tests/appium/app-android/build.gradle
Labels: CI/CD, android, backend

#1526 ci: update horusec script
  .github/workflows/horusec_pr.yml
Labels: CI/CD

#1544 feat: add support to bind in field value in action add children
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AddChildren.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AddChildrenTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildren.kt
Labels: android, backend

#1548 fix: image resize behaviour
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Labels: android

#1553 feat: add yoga from repository in zup
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseSoLoaderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/mapper/FlexMapperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleFlexViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/test/src/main/java/br/com/zup/beagle/test/rules/BeagleComponentsStatement.kt
Labels: android

#1552 fix: adjust image corner radius
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
Labels: android

#1547 fix: support expression in action AddChildren
  iOS/Sources/Beagle/BeagleTests/Action/Types/__Snapshots__/AddChildrenTests/testDecodingAddChildren.1.txt
  iOS/Sources/Beagle/BeagleTests/Action/Types/__Snapshots__/AddChildrenTests/testDecodingAddChildrenWithDefaultMode.1.txt
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren+Extensions.swift
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren.swift
Labels: iOS

#1549 feat: Adds bridge communication for loggers
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/javascript-bridge/src/global.d.ts
  flutter/javascript-bridge/src/http-client.ts
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/utils/flutter-js-logger.ts
Labels: flutter

#1562 fix: android RequestData constructor and utilization
  android/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedTests/config/HttpClientDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormSubmitter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/ComponentRequester.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/StringExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpAdditionalData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/RequestData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/CacheManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/BeagleApiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/ComponentRequesterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleMessageLogsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/RequestDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ServerDrivenFactoryKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpClientDefault.kt
Labels: android, bug

#1563 feat: add component grid view in backend
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/GridView.kt
Labels: backend

#1564 chore: add doc in backend and android to component gridview
  android/beagle/src/main/java/br/com/zup/beagle/android/components/GridView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/GridView.kt
Labels: android, backend

#1566 fix: Android GlobalContext set object
  android/beagle/src/main/java/br/com/zup/beagle/android/context/GlobalContext.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/GlobalContextTest.kt
Labels: android, bug

#1572 fix: android image placeholder reset
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
Labels: android, bug

#1573 fix: allow to use applyStyle and applyFlex in the same implementation
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/WidgetExtensionsTest.kt
Labels: backend

#1575 fix: remove codecov to release
  Gemfile.lock
  fastlane/Fastfile
  fastlane/Pluginfile
Labels: CI/CD

#1576 chore: merge fix in 1.7.1 to master
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/ext/WidgetExtensions.kt
  backend/kotlin-core/src/test/kotlin/br/com/zup/beagle/ext/WidgetExtensionsTest.kt
Labels: backend

#1557 feat: Grid View in iOS
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/BeagleConfig.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GridViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/GridViewTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testGridViewTemplateSimple.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testGridViewTemplateWithDifferentSizes.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testGridViewWithFourColumns.1.png
  iOS/Sources/Beagle/BeagleTests/Components/Widget/GridView/__Snapshots__/GridViewTests/testGridViewWithNumColumnsZero.1.png
  iOS/Sources/Beagle/BeagleTests/Decoding/__Snapshots__/ComponentDecoderTests/testIfAllComponentsAreBeingRegistered.1.txt
  iOS/Sources/Beagle/BeagleTests/Setup/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/GridView/GridView.swift
  iOS/Sources/Beagle/Sources/Decoding/ComponentDecoder.swift
Labels: iOS

#1578 fix: image android with screenshot tests
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloaderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ImageRemoteScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ImageScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/ImageConstants.kt
  tests/appium/app-android/app/src/main/kotlin/br/com/zup/beagle/appiumapp/AppDesignSystem.kt
  tests/appium/app-android/app/src/main/res/drawable-v21/beagle_image.png
  tests/appium/app-android/app/src/main/res/drawable/beagle.png
  tests/appium/app-android/app/src/main/res/drawable/beagle_logo.png
  tests/appium/app-android/build.gradle
  tests/appium/app-android/gradle/wrapper/gradle-wrapper.properties
  tests/appium/app-ios/AppiumApp/AppiumApp.xcodeproj/xcshareddata/xcschemes/AppiumApp.xcscheme
  tests/appium/app-ios/AppiumApp/AppiumApp/Assets.xcassets/beagle_logo.imageset/Contents.json
  tests/appium/app-ios/AppiumApp/AppiumApp/Assets.xcassets/beagle_logo.imageset/beagle_logo.png
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ImageScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/Runner.kt
  tests/appium/project/src/test/resources/features/Image.feature
  tests/appium/project/src/test/resources/screenshots_database/android/Google Pixel 4/ImageScreen.png
  tests/appium/project/src/test/resources/screenshots_database/android/Pixel_3a_API_30_x86/ImageScreen.png
  tests/appium/project/src/test/resources/screenshots_database/android/Pixel_4_API_30/ImageScreen.png
  tests/appium/project/src/test/resources/screenshots_database/ios/iPhone 11/ImageScreen.png
Labels: android, appium, backend, bug, iOS, tests

#1580 chore: update Gemfile.lock
  .github/workflows/horusec_pr.yml
  Gemfile.lock
Labels: CI/CD, security

#1582 fix: iOS - ListView layout changes (#1556, #1581)
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewCell.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewController.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
Labels: bug, iOS

#1588 fix: SimpleForm tests
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SimpleFormScreenSteps.kt
  tests/appium/project/src/test/resources/features/SimpleForm.feature
Labels: android, appium, iOS, tests

#1567 docs: iOS - Add some code documentation for components and actions
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren.swift
  iOS/Sources/Beagle/Sources/Action/Types/Alert.swift
  iOS/Sources/Beagle/Sources/Action/Types/Condition.swift
  iOS/Sources/Beagle/Sources/Action/Types/Confirm.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormRemoteAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/SetContext.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Form.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Input/FormInput.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Submit/FormSubmit.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Lazy/LazyComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageIndicator/PageIndicator.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/NavigationBar.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/SafeArea.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Screen/Screen.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBar.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabView/TabView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Touchable/Touchable.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/WebView/WebView.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Container.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Image/Image.swift
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/SimpleForm.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Text/Text.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput.swift
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Flex/Flex.swift
Labels: documentation, iOS

#1587 chore: updates http client default
  android/sample/src/main/java/br/com/zup/beagle/sample/config/HttpClientDefault.kt
Labels: android

#1571 feat: listview in Appium
  android/automated-tests/src/androidTest/assets/features/ListView.feature
  android/automated-tests/src/androidTest/kotlin/br/com/zup/beagle/automatedTests/cucumber/steps/ListViewSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
  tests/appium/project/src/test/resources/features/ListView.feature
Labels: android, appium, iOS, tests

#1590 feat: Android listView multiple templates support
  android/beagle/src/main/java/br/com/zup/beagle/android/components/GridView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewHolder.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewTemplate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListViewTemplateJson.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ScreenExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModel.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/ScreenContextViewModelTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListViewTemplate.kt
Labels: android, backend
