Repository ZupIT/beagle, pull requests merged in 2021-02, with the labels that each got.

#1328 ci: fix cache usage in our workflows
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  .github/workflows/flutter-pr.yml
  .github/workflows/ios-pr.yml
  .github/workflows/pr_danger.yml
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
  Gemfile.lock
  fastlane/Fastfile
  iOS/Example/CocoaPodsTest/Podfile
Labels: CI/CD, android, backend, iOS

#1329 feat: Add default TabBar component
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/setup/beagle_design_system.dart
  flutter/beagle_components/images/beagle.png
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/beagle_page_view.dart
  flutter/beagle_components/lib/beagle_tab_bar.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/pubspec.lock
  flutter/beagle_components/pubspec.yaml
  flutter/beagle_components/test/beagle_page_view_test.dart
  flutter/beagle_components/test/beagle_tab_bar_test.dart
  flutter/beagle_components/test/beagle_text_test.dart
  flutter/sample/images/beagle.png
  flutter/sample/images/bus.png
  flutter/sample/images/car.png
  flutter/sample/images/person.png
  flutter/sample/ios/Podfile.lock
  flutter/sample/lib/design_system.dart
  flutter/sample/lib/main.dart
  flutter/sample/lib/tab_bar_screen.dart
  flutter/sample/pubspec.lock
  flutter/sample/pubspec.yaml
Labels: flutter

#1325 feat: change name field disabled to enabled
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/ButtonBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
  danger/android/Dangerfile
  flutter/beagle_components/lib/beagle_button.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_button_test.dart
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForClickEvent.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Tests/ButtonTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Tests/JSON/buttonComponent.json
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Tests/__Snapshots__/ButtonTests/test_whenDecodingJson_thenItShouldReturnAButton.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
Labels: CI/CD, android, backend, flutter, iOS

#1319 feat: Adding scrollIndicator to the ListView in Beagle Backend
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/ListView.kt
Labels: backend

#1332 chore: remove pubspec.lock files from project
  flutter/beagle/example/pubspec.lock
  flutter/beagle/pubspec.lock
  flutter/beagle_components/pubspec.lock
  flutter/sample/pubspec.lock
Labels: flutter

#1333 feat: add support to accessibility header android and backend
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/AccessibilitySetup.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Accessibility.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/AccessibilitySetupTest.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/builder/core/AccessibilityBuilder.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Accessibility.kt
Labels: android, backend

#1294 feat: Adding scrollIndicator to the ListView
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/test_whenDecodingJson_thenItShouldReturnAListView.1.txt
Labels: iOS

#1334 feat: add flutter default image
  .gitignore
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/default/default_http_client.dart
  flutter/beagle/lib/default/default_image_downloader.dart
  flutter/beagle/lib/interface/beagle_image_downloader.dart
  flutter/beagle/lib/model/response.dart
  flutter/beagle_components/images/beagle_dog.png
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/pubspec.yaml
  flutter/beagle_components/test/beagle_image_test.dart
  flutter/beagle_components/test/goldens/beagle_image_local.png
  flutter/beagle_components/test/goldens/beagle_image_remote.png
  flutter/beagle_components/test/image/image_mock_data.dart
  flutter/sample/lib/main.dart
Labels: flutter

#1337 fix: Local image crashing with invalid asset
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/pubspec.yaml
  flutter/beagle_components/test/beagle_image_test.dart
  flutter/beagle_components/test/goldens/beagle_image_remote_not_found.png
Labels: flutter

#1341 feat: accessibility header
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabBarScreen.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Tests/JSON/widgetWithAllAttributes.json
  iOS/Sources/Beagle/Sources/Components/Widget/Tests/__Snapshots__/WidgetTests/testParsingOfWidgetWithAllAttributes.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Accessibility/Accessibility.swift
  iOS/Sources/Beagle/Sources/Components/Widget/WidgetProperties/Accessibility/AccessibilityTests.swift
  iOS/Sources/Beagle/Sources/Renderer/ViewConfigurator.swift
Labels: enhancement, iOS

#1339 feat: Add flutter logging support
  flutter/beagle/lib/beagle_initializer.dart
  flutter/beagle/lib/logger/beagle_logger.dart
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/sample/lib/default_logger.dart
  flutter/sample/pubspec.yaml
Labels: flutter

#1347 fix: adjust appearance of button when there's no style
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
Labels: android

#1336 feat: add style in component text
  flutter/beagle/lib/setup/beagle_design_system.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_text_test.dart
  flutter/beagle_components/test/objects_fake/fake_design_system.dart
  flutter/sample/lib/app_design_system.dart
  flutter/sample/lib/main.dart
Labels: flutter

#1343 feat: add flutter default page indicator and touchable components
  flutter/beagle_components/lib/beagle_page_indicator.dart
  flutter/beagle_components/lib/beagle_touchable.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_page_indicator_test.dart
  flutter/beagle_components/test/beagle_touchable_test.dart
  flutter/sample/lib/beagle_sample_screen.dart
  flutter/sample/lib/main.dart
Labels: flutter

#1330 feat: default error view
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/CustomViews/CustomLoadingView.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/ErrorView.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/NavigationControllers/CustomBeagleNavigationController.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Renderer/BeagleErrorView.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleNavigationController.swift
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
  iOS/Tests/AutomatedTests/CustomNavigationController.swift
  tests/appium/app-ios/AppiumApp/AppiumApp.xcodeproj/project.pbxproj
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/CustomNavigationController/CustomNavigationController.swift
  tests/appium/app-ios/AppiumApp/AppiumApp/BeagleConfig/CustomNavigationController/ErrorView.swift
Labels: enhancement, iOS

#1351 ci: adjust horus with new rules
  .github/workflows/horusec_pr.yml
Labels: CI/CD

#1326 fix: iOS beagle view backgroundColor and server driven state
  iOS/Example/BeagleDemo/BeagleDemo/Screens/NativeViewController.swift
  iOS/Example/BeagleDemo/BeagleDemoTests/__Snapshots__/NativeScreenTest/testNativeScreen.1.png
  iOS/Example/BeagleDemo/BeagleDemoTests/__Snapshots__/NativeScreenTest/testNativeScreenWithNavigation.1.png
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/FormLocalActionTests/testStateChanges.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Lazy/Tests/LazyComponentTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/TabBarUIComponent.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/Tests/__Snapshots__/TabBarTests/testCurrentTabWithContext.1.png
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabBar/Tests/__Snapshots__/TabBarTests/testImageWithContext.1.png
  iOS/Sources/Beagle/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleNavigationController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewController.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleScreenViewModel.swift
  iOS/Sources/Beagle/Sources/Renderer/BeagleView.swift
Labels: bug, iOS

#1354 feat: add form validation
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/SimpleFormTest.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/form/SimpleFormBuilder.kt
  backend/widgets-dsl/src/main/kotlin/br/com/zup/beagle/ui/TextInputBuilder.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/form/SimpleForm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
Labels: android, backend

#1356 refactor: fix form validation always submit action
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TextInputTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/SimpleFormTest.kt
Labels: android

#1348 feat: Add flutter default WebView component
  flutter/beagle_components/lib/beagle_webview.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/pubspec.yaml
  flutter/beagle_components/test/beagle_webview_test.dart
  flutter/sample/lib/main.dart
Labels: flutter

#1353 chore: Adds flutter components doc
  flutter/beagle_components/lib/beagle_button.dart
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/beagle_lazy_component.dart
  flutter/beagle_components/lib/beagle_page_indicator.dart
  flutter/beagle_components/lib/beagle_page_view.dart
  flutter/beagle_components/lib/beagle_tab_bar.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/beagle_components/lib/beagle_text_input.dart
  flutter/beagle_components/lib/beagle_touchable.dart
Labels: flutter

#1359 fix: remove queue on analytics2 android
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsProvider.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsService.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleMessageLogsTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/AnalyticsViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/AnalyticsServiceTest.kt
Labels: android

#1361 fix: remove analytics Queue implementation
  .github/workflows/ios-pr.yml
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/Analytics/AnalyticsProviderDemo.swift
  iOS/Sources/Beagle/Sources/Analytics/Analytics.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/AnalyticsService.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/RecordFactory.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/ActionRecordFactoryTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/AnalyticsServiceTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/ScreenRecordFactoryTests.swift
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
Labels: CI/CD, iOS

#1365 refactor: Change the AnalyticsRecord structure
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ActionReportFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsRecord.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ActionReportFactoryTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ScreenReportFactoryTest.kt
Labels: android

#1285 feat: Appium GitHub workflow scripts
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/automated_tests_appium_ios.yml
  .github/workflows/automated_tests_appium_mobile.yml
  .github/workflows/horusec_pr.yml
  fastlane/automatedTests/appium/android/browserstack/setup_apk_in_browserstack_and_run_android_tests.sh
  fastlane/automatedTests/appium/android/config_and_run_android_emulator.sh
  fastlane/automatedTests/appium/android/install_apk_in_emulator.sh
  fastlane/automatedTests/appium/android/run_appium_android_tests.sh
  fastlane/automatedTests/appium/config_and_run_appium_server.sh
  fastlane/automatedTests/appium/ios/run_appium_ios_tests.sh
  fastlane/automatedTests/deploy_test_backend.sh
  tests/appium/project/build.gradle
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/HookManager.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextInputScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/screens/AbstractScreen.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/screens/MainScreen.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/AppiumConstants.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetup.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/setup/SuiteSetupPlugin.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/AppiumUtil.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/utils/ImageUtil.kt
  tests/appium/project/src/test/resources/screenshots_database/android/Google Pixel 4/TextStyleScreen01.png
  tests/appium/project/src/test/resources/screenshots_database/android/Pixel_3a_API_30_x86/TextStyleScreen01.png
  tests/appium/project/src/test/resources/screenshots_database/android/Pixel_4_API_30/TextStyleScreen01.png
  tests/appium/project/src/test/resources/screenshots_database/ios/iPhone 11/TextStyleScreen01.png
Labels: CI/CD, android, appium, backend, git-workflow, iOS

#1364 chore: improve flutter tests
  flutter/beagle/test/action/beagle_alert_test.dart
  flutter/beagle/test/bridge_impl/global_context_js.dart
  flutter/beagle/test/bridge_impl/global_context_js_test.dart
  flutter/beagle/test/bridge_impl/renderer_js.dart
  flutter/beagle/test/bridge_impl/renderer_js_test.dart
  flutter/beagle/test/default/default_image_downloader_test.dart
  flutter/beagle/test/default/default_storage_test.dart
  flutter/beagle/test/default/url_builder.dart
  flutter/beagle/test/default/url_builder_test.dart
  flutter/beagle/test/model/beagle_style.dart
  flutter/beagle/test/model/beagle_style_test.dart
  flutter/beagle/test/model/beagle_ui_element_test.dart
  flutter/beagle/test/utils/enum_test.dart
Labels: flutter

#1368 fix: timestamp and beahvior when both global config and action config are enabled
  iOS/Sources/Beagle/Sources/Analytics/Service/RecordFactory.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/ActionRecordFactoryTests.swift
Labels: iOS

#1370 refactor: string extension
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleNavigator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ScreenReportFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleNavigatorTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ScreenReportFactoryTest.kt
Labels: android

#1367 refactor: flutter image component now uses FutureBuilder
  flutter/beagle_components/lib/beagle_image.dart
Labels: flutter

#1372 refactor: action analytics
  android/beagle/src/main/java/br/com/zup/beagle/android/action/AnalyticsAction.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildren.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AnalyticsAction.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Condition.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Confirm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Form.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SetContext.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SubmitForm.kt
Labels: android, backend

#1371 fix: correct param names in test script
  fastlane/automatedTests/appium/android/browserstack/setup_apk_in_browserstack_and_run_android_tests.sh
Labels: CI/CD

#1374 refactor: remove unnecessary variables
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleActivity.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/AnalyticsViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModel.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsService.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/DataScreenReport.kt
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/ScreenReportFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleFragmentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/AnalyticsViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/viewmodel/BeagleViewModelTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/AnalyticsServiceTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/DataScreenReportTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ScreenReportFactoryTest.kt
Labels: android

#1378 chore: update documentation
  android/beagle/src/main/java/br/com/zup/beagle/newanalytics/AnalyticsRecord.kt
Labels: android

#1376 fix: breaking change due to new `analytics` attribute on actions
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/Protocols.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/GlobalContextScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Action/Action.swift
  iOS/Sources/Beagle/Sources/Action/Types/AddChildren.swift
  iOS/Sources/Beagle/Sources/Action/Types/Alert.swift
  iOS/Sources/Beagle/Sources/Action/Types/Condition.swift
  iOS/Sources/Beagle/Sources/Action/Types/Confirm.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormLocalAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormRemoteAction.swift
  iOS/Sources/Beagle/Sources/Action/Types/FormValidation.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/SetContext.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/FormLocalActionTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/ActionAttributes.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/RecordFactory.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/ActionAttributesTest.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/AnalyticsServiceTests.swift
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/JSON/SetContext-1.json
  iOS/Sources/Beagle/Sources/Analytics/Service/Tests/__Snapshots__/ActionAttributesTest/attributes.SetContext-1.json
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/FormManager/FormManager.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListViewController.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Path.swift
  iOS/Sources/Beagle/Sources/Decoding/Tests/ComponentDecoderTests.swift
  iOS/Sources/Beagle/Sources/Setup/Tests/BeagleSetupTests.swift
Labels: iOS

#1381 fix: iOS - ContextExpression parser
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Expression.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Parser.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Tests/ExpressionTests.swift
  iOS/Sources/Beagle/Sources/ContextExpression/Expression/Tests/__Snapshots__/ExpressionTests/testContextExpression.1.txt
Labels: iOS

#1358 feat: form validation
  iOS/Example/BeagleDemo/BeagleDemo/BeagleConfig/BeagleConfig.swift
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/BeagleStyle.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm+Extensions.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/SubmitFormTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/SimpleForm.swift
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/TextInputTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithValidationComponent.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_whenDecodingJson_shouldReturnAText.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput.swift
  iOS/Sources/Beagle/Sources/Theme/Theme.swift
Labels: enhancement, iOS

#1386 feat: add behaviour in lazy component to show error when failed request
  android/beagle/src/main/java/br/com/zup/beagle/android/components/LazyComponent.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/LazyComponentTest.kt
Labels: android

#1385 refactor: deprecated field hidden
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput.swift
Labels: android, backend, iOS

#1387 fix: iOS - Fix a crash when action not registered is triggered
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/Sources/Analytics/Service/RecordFactory.swift
  iOS/Sources/Beagle/Sources/Common/Util/AssertNever.swift
Labels: iOS

#1377 feat: create component to load screen.
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/Text.kt
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/beagle_remote_view.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/components/beagle_undefined_widget.dart
  flutter/beagle/lib/interface/navigation_controller.dart
  flutter/beagle/lib/model/beagle_config.dart
  flutter/beagle/lib/model/beagle_environment.dart
  flutter/beagle/test/components/beagle_undefined_widget_test.dart
  flutter/beagle_components/lib/beagle_lazy_component.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/sample/ios/Podfile.lock
  flutter/sample/lib/beagle_sample_screen.dart
  flutter/sample/lib/main.dart
Labels: android, flutter

#1388 refactor: Refactored BeagleJSEngine and added unit tests
  flutter/beagle/lib/action/beagle_open_external_url.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_js_request_message.dart
  flutter/beagle/lib/bridge_impl/beagle_navigator_js.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_supported_http_methods.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/bridge_impl/global_context_js.dart
  flutter/beagle/lib/bridge_impl/js_runtime_wrapper.dart
  flutter/beagle/lib/bridge_impl/renderer_js.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle/test/bridge_impl/beagle_js_engine_test.dart
  flutter/beagle/test/bridge_impl/global_context_js_test.dart
  flutter/beagle/test/bridge_impl/renderer_js_test.dart
  flutter/sample/lib/main.dart
Labels: flutter

#1389 fix: iOS - SubmitForm validations
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SimpleForm.swift
  iOS/Sources/Beagle/Sources/Action/Types/SubmitForm+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
Labels: iOS

#1392 feat: add screen request in flutter
  flutter/beagle/assets/js/beagle.js
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/bridge_impl/beagle_js_engine.dart
  flutter/beagle/lib/bridge_impl/beagle_js_request_message.dart
  flutter/beagle/lib/bridge_impl/beagle_service_js.dart
  flutter/beagle/lib/bridge_impl/beagle_supported_http_methods.dart
  flutter/beagle/lib/bridge_impl/beagle_view_js.dart
  flutter/beagle/lib/default/default_http_client.dart
  flutter/beagle/lib/default/default_image_downloader.dart
  flutter/beagle/lib/interface/beagle_service.dart
  flutter/beagle/lib/interface/http_client.dart
  flutter/beagle/lib/model/network_options.dart
  flutter/beagle/lib/model/request.dart
  flutter/beagle/lib/networking/beagle_http_method.dart
  flutter/beagle/lib/networking/beagle_network_options.dart
  flutter/beagle/lib/networking/beagle_network_strategy.dart
  flutter/beagle/lib/networking/beagle_request.dart
  flutter/beagle/lib/networking/beagle_screen_request.dart
  flutter/beagle/lib/utils/enum.dart
  flutter/beagle/lib/utils/network_strategy.dart
  flutter/beagle/test/bridge_impl/beagle_js_engine_test.dart
  flutter/beagle_components/lib/beagle_lazy_component.dart
  flutter/javascript-bridge/src/index.ts
  flutter/javascript-bridge/src/view.ts
  flutter/sample/lib/beagle_sample_screen.dart
  flutter/sample/lib/main.dart
Labels: flutter
