Repository ZupIT/beagle, pull requests merged in 2021-07, with the labels that each got.

#1656 feat: improve Appium iOS tests speed
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ButtonScreenBuilder.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AbstractStep.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ActionNotRegisteredScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AddChildrenScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AlertScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/AnalyticsScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ButtonScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConditionalScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ConfirmScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ContainerScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/GenericSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ImageScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/LazyComponentScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ListViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/NavigateScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/PageViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/PullToRefreshScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/ScrollViewScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SendRequestScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SetContextScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/SimpleFormScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TabBarScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextInputScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TextStyleScreenSteps.kt
  tests/appium/project/src/test/kotlin/br/com/zup/beagle/cucumber/steps/TouchScreenSteps.kt
  tests/appium/project/src/test/resources/features/Button.feature
  tests/appium/project/src/test/resources/features/Confirm.feature
  tests/appium/project/src/test/resources/features/Container.feature
  tests/appium/project/src/test/resources/features/Image.feature
  tests/appium/project/src/test/resources/features/LazyComponent.feature
  tests/appium/project/src/test/resources/features/ListView.feature
  tests/appium/project/src/test/resources/features/Navigate.feature
  tests/appium/project/src/test/resources/features/PageView.feature
  tests/appium/project/src/test/resources/features/ScrollView.feature
  tests/appium/project/src/test/resources/features/SendRequest.feature
  tests/appium/project/src/test/resources/features/SetContext.feature
  tests/appium/project/src/test/resources/features/SimpleForm.feature
  tests/appium/project/src/test/resources/features/TabBar.feature
  tests/appium/project/src/test/resources/features/TextInput.feature
Labels: android, appium, backend, iOS, tests

#1679 feat: add default logger in beagle
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/default/default_logger.dart
  flutter/sample/lib/main.dart
Labels: flutter

#1681 feat: ImageScreenBuilder update so images show in WEB
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/ImageScreenBuilder.kt
Labels: backend

#1682 fix: adjust deploy release
  fastlane/Fastfile
Labels: CI/CD

#1680 feat: flutter with yoga alpha
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PageViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ScrollViewScreenBuilder.kt
  flutter/beagle/android/build.gradle
  flutter/beagle/android/gradle/wrapper/gradle-wrapper.properties
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/lib/beagle_widget.dart
  flutter/beagle/lib/model/beagle_style.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle/lib/style/style_builder.dart
  flutter/beagle/lib/style/style_mapper.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/lib/beagle_container.dart
  flutter/beagle_components/lib/beagle_image.dart
  flutter/beagle_components/lib/beagle_page_indicator.dart
  flutter/beagle_components/lib/beagle_page_view.dart
  flutter/beagle_components/lib/beagle_tab_bar.dart
  flutter/beagle_components/lib/default_components.dart
  flutter/beagle_components/test/beagle_image_test.dart
  flutter/beagle_components/test/beagle_page_view_test.dart
  flutter/beagle_components/test/beagle_tab_bar_test.dart
  flutter/beagle_components/test/service_locator/service_locator.dart
  flutter/sample/android/app/build.gradle
  flutter/sample/android/app/src/main/AndroidManifest.xml
  flutter/sample/android/build.gradle
  flutter/sample/android/gradle/wrapper/gradle-wrapper.properties
  flutter/sample/ios/Podfile.lock
  flutter/sample/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  flutter/sample/lib/main.dart
Labels: WIP, backend, enhancement, flutter

#1683 fix: adjust global context in flutter
  flutter/beagle/lib/beagle.dart
  flutter/beagle/lib/interface/global_context.dart
  flutter/beagle/lib/service_locator.dart
  flutter/beagle_components/lib/beagle_text.dart
  flutter/sample/ios/Podfile.lock
  flutter/sample/lib/beagle_sample_screen.dart
  flutter/sample/lib/main.dart
Labels: flutter

#1685 fix: docs reference redirect to android page on s3 bucket
  fastlane/kdocs/indexTemplate/index.html
Labels: CI/CD, bug, documentation, fastlane

#1684 feat: flutter alpha preparation
  flutter/beagle/lib/beagle_sdk.dart
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/pubspec.yaml
  flutter/readme.md
  flutter/sample/lib/main.dart
Labels: documentation, flutter

#1686 fix: flutter version and readme link
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/pubspec.yaml
  flutter/readme.md
Labels: flutter

#1687 chore: changed pubspec versions
  flutter/beagle/CHANGELOG.md
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/CHANGELOG.md
  flutter/beagle_components/pubspec.yaml
  flutter/readme.md
Labels: flutter

#1689 fix: temporary solution to adjust loop inside page docs
  fastlane/kdocs/indexTemplate/index.html
Labels: CI/CD, bug, critical, documentation

#1693 feat: Adds missing license headers to android module
  android/beagle/proguard-rules.pro
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/SimpleJsonArrayAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/defaults/CharSequenceAdapter.kt
  android/beagle/src/main/res/layout/beagle_include_error_server_driven.xml
Labels: android

#1695 fix: adds license, readme and http library
  flutter/beagle/LICENSE
  flutter/beagle/README.md
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/LICENSE
  flutter/beagle_components/README.md
  flutter/beagle_components/pubspec.yaml
Labels: flutter

#1696 fix: added beagle to the example project
  flutter/beagle/example/lib/main.dart
  flutter/beagle/example/test/widget_test.dart
Labels: flutter

#1697 chore: remove beagle local dependency from beagle_components
  flutter/beagle_components/pubspec.yaml
  flutter/sample/pubspec.yaml
Labels: flutter

#1698 fix: update dir in CI script
  .github/workflows/automated_tests_appium_android.yml
Labels: CI/CD

#1699 fix: update ci script considering new folder
  fastlane/automatedTests/start_test_backend.sh
Labels: CI/CD

#1700 fix: wrong dir fix
  fastlane/automatedTests/start_test_backend.sh
Labels: CI/CD

#1704 feat: Rename branch master to main on github actions
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/android-pr.yml
  .github/workflows/automated_tests_appium_mobile.yml
  .github/workflows/backend-pr.yml
  .github/workflows/flutter-pr.yml
  .github/workflows/horusec_pr.yml
  .github/workflows/ios-pr.yml
  .github/workflows/pr_danger.yml
  .github/workflows/release-kdocs.yml
  .github/workflows/release.yml
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
  CONTRIBUTING.md
  README.md
  fastlane/Fastfile
  flutter/beagle/lib/src/interface/renderer.dart
Labels: CI/CD, android, backend, flutter, iOS

#1712 fix: update yoga_engine version with new fix
  flutter/beagle/CHANGELOG.md
  flutter/beagle/pubspec.yaml
  flutter/beagle_components/CHANGELOG.md
  flutter/beagle_components/pubspec.yaml
  flutter/sample/ios/Podfile.lock
  flutter/sample/pubspec.yaml
Labels: bug, flutter

#1709 feat: improved corner radius
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Image.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/CornerRadiusHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/RoundedImageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/utils/ViewExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/core/Style.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ImageTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/CornerRadiusHelperTest.kt
  android/build.gradle
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/ImageViewFragment.kt
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
Labels: android, backend, enhancement

#1714 feat: Change workflow name
  .github/workflows/license-check.yml
Labels: CI/CD

#1720 feat: Update release-kdocs.yml
  .github/workflows/release-kdocs.yml
Labels: CI/CD
