Repository ZupIT/beagle, pull requests merged in 2021-04, with the labels that each got.

#1466 feat: create a beagle flex view to others developers use
  android/beagle/src/main/java/br/com/zup/beagle/android/components/ListView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabItem.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/SimpleForm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ComposeComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Container.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/list/ListAdapter.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageViewTwo.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextComponentHandler.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/renderer/RootView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/GenerateIdManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/YogaLayout.java
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/BeagleView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/custom/InternalBeagleFlexView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/widget/RootView.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/BaseTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AddChildrenTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/SetContextTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ListViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TabViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/SimpleFormTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ComposeComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ContainerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScrollViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/list/ListAdapterTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/page/PageViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextComponentHandlerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/GenerateIdManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StringExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewGroupExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/WidgetExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleFlexViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/BeagleViewTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/custom/InternalBeagleFlexViewTest.kt
Labels: android

#1465 feat: adding support to styleId in container
  iOS/Example/BeagleDemo/BeagleDemo/Constants/Constants.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/BeagleStyle.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabBarScreen.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Analytics/Deprecated/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForScreenEvent.1.txt
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/test_whenDecodingJson_thenItShouldReturnAListView.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabView/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Container+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Container.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/__Snapshots__/ContainerTests/test_renderContainer_withBorder.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
Labels: epic, iOS

#1424 feat: add support to additional data on navigate action
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/SendRequest.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/JSON/pushViewWithAdditionalData.json
  iOS/Sources/Beagle/Sources/Action/Types/Tests/NavigateTests.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/NavigateTests/testDecodingPushView.1.txt
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/NavigateTests/testDecodingPushViewWithAdditionalData.1.txt
  iOS/Sources/Beagle/Sources/Action/Types/Tests/__Snapshots__/NavigateTests/testDecodingPushViewWithContext.1.txt
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/ContextExpression/Evaluate.swift
  iOS/Sources/Beagle/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Networking/HttpAditionalData.swift
Labels: iOS

#1468 feat: add function observer and evaluate in bind
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ActionExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BindExtensions.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/WidgetExtensions.kt
Labels: android

#1480 fix: add conditional to dokka s3 upload steps
  .github/workflows/release-kdocs.yml
Labels: CI/CD, WIP

#1483 fix: image downloader test
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/cache/imagecomponent/LruImageCache.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/imagedownloader/DefaultImageDownloader.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/logger/BeagleMessageLogs.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/cache/imagecomponent/ImageDownloaderTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/logger/BeagleMessageLogsTest.kt
Labels: android, bug, tests

#1486 fix: iOS - TextInput disabled without expression
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/TextInputTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithDisabledTrue.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
Labels: bug, iOS

#1485 feat: Adds secret manager configuration
  .github/workflows/android-pr.yml
  .github/workflows/automated_tests_appium_android.yml
  .github/workflows/backend-pr.yml
  .github/workflows/flutter-pr.yml
  .github/workflows/horusec_pr.yml
  .github/workflows/ios-pr.yml
  .github/workflows/label.yml
  .github/workflows/pr_danger.yml
  .github/workflows/publish_test_backend.yml
  .github/workflows/release-kdocs.yml
  .github/workflows/release.yml
Labels: CI/CD

#1495 fix: renderScreen replacement method
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ViewGroupExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/utils/ViewExtensionsKtTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ViewGroupExtensionsKtTest.kt
  android/preview/src/test/java/br/com/zup/beagle/android/preview/PreviewActivityTest.kt
Labels: android, bug

#1502 fix: micronaut starter stopped hanging when underlying client fails
  backend/starters/micronaut/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilter.kt
  backend/starters/micronaut/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeaglePlatformFilter.kt
  backend/starters/micronaut/src/test/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilterTest.kt
Labels: backend

#1494 fix: keep the image aspect ratio
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Image/Image+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Image/Tests/__Snapshots__/ImageTests/testLocalImageWithContext.1.png
Labels: iOS

#1498 fix: iOS - Makes children property optional
  iOS/Sources/Beagle/Beagle.xcodeproj/project.pbxproj
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Analytics/Deprecated/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForScreenEvent.1.txt
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/ListView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/JSON/listViewWithTemplate.json
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/JSON/listViewWithoutChildren.json
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/ListViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/testDecodingJsonListView.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/testDecodingJsonListViewWithTemplate.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/testDecodingJsonListViewWithoutChildren.1.txt
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/Tests/PageViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Scroll/ScrollView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/Scroll/Tests/ScrollViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/TabView/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Container+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Container.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/ContainerTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/JSON/ContainerWithoutChildren.json
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson2_shouldReturnAContainer.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/SimpleForm+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/SimpleForm.swift
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
  iOS/Sources/Beagle/Sources/Decoding/AnyDecodableContainer.swift
Labels: bug, iOS

#1505 fix: Expression in actions OpenExternalURL, OpenNativeRoute, PopToView
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Action/Types/Tests/NavigateTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/BeaglePrefetchHelperTests.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/Sources/Logger/Tests/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/Beagle/Sources/Navigation/Tests/BeagleNavigatorTests.swift
Labels: iOS

#1507 feat: added bindable fields to navigate methods
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/NavigateTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
Labels: android, backend, enhancement

#1510 fix: shouldPrefetch accept null value
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Navigate.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/PreFetchHelper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/RouteAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/PreFetchHelperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/newanalytics/ActionReportFactoryTest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  iOS/Sources/Beagle/BeagleTests/Action/Types/NavigateTests.swift
  iOS/Sources/Beagle/BeagleTests/Action/Types/__Snapshots__/NavigateTests/testDecodingPushView.1.txt
  iOS/Sources/Beagle/BeagleTests/Action/Types/__Snapshots__/NavigateTests/testDecodingPushViewWithAdditionalData.1.txt
  iOS/Sources/Beagle/BeagleTests/Action/Types/__Snapshots__/NavigateTests/testDecodingPushViewWithContext.1.txt
  iOS/Sources/Beagle/BeagleTests/Caching/Prefetch/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/Beagle/BeagleTests/Logger/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Action/Types/Navigate.swift
  iOS/Sources/Beagle/Sources/Caching/Prefetch/BeaglePrefetchHelper.swift
Labels: android, backend, iOS

#1513 fix: toolbar set title in beagle android
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ToolbarManagerTest.kt
Labels: android

#1516 fix: Android Appium GitHub Actions fix
  .github/workflows/automated_tests_appium_android.yml
Labels: CI/CD

#1519 chore: ignore appium yml
  .github/workflows/horusec_pr.yml
Labels: CI/CD

#1518 chore: Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: CI/CD

#1517 fix: popToView error message when route doesnt exist
  iOS/Sources/Beagle/BeagleTests/Logger/BeagleLoggerTests.swift
  iOS/Sources/Beagle/BeagleTests/Logger/__Snapshots__/BeagleLoggerTests/testLogs.1.txt
  iOS/Sources/Beagle/Sources/Logger/BeagleMessageLogs.swift
  iOS/Sources/Beagle/Sources/Navigation/BeagleNavigator.swift
Labels: iOS

#1524 fix: PageView component size
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PageView/CustomPageIndicator/CustomPageIndicatorTests.swift
  iOS/Sources/Beagle/BeagleTests/Components/ServerDrivenComponent/PageView/PageViewTests.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageView+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/PageViewUIComponent.swift
  iOS/Tests/AutomatedTests.xcodeproj/project.pbxproj
Labels: iOS
