Repository ZupIT/beagle, changes with the owners that CODEOWNERS names for each.
All owners: @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @hthemir, @danilorochazup, @ze12augusto, @LG95, @theffc, @victormr, @yandiaszup, @gmarson, @uziasferreirazup, @lucasaraujo, @jefersonlopeszup, @paulomeurerzup, @adautopaulazup, @gabrielleonardozup, @victorrabelozup, @lucasfonsecazup, @carlossteinzup, @viniciusguardieirozup, @luisgustavozup, @luisoliveirazup, @joaoabreuzup, @jenifersantoszup, @tiagoperes, @Tiagoperes, @igorgiumellizup

update
  .github/workflows/automated_tests_appium_ios.yml
Owners: @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @hthemir, @danilorochazup, @ze12augusto, @LG95, @theffc, @victormr, @yandiaszup, @gmarson, @uziasferreirazup, @lucasaraujo, @jefersonlopeszup, @paulomeurerzup, @adautopaulazup, @gabrielleonardozup, @victorrabelozup, @lucasfonsecazup, @carlossteinzup, @viniciusguardieirozup, @luisgustavozup, @luisoliveirazup, @joaoabreuzup, @jenifersantoszup, @tiagoperes

PageView retain cycle test
  iOS/Sources/Beagle/Sources/Components/ServerDrivenComponent/PageView/Tests/PageViewTests.swift
Owners: @theffc, @gabcoelho, @dantes-git, @victormr, @yandiaszup, @gmarson, @lucasaraujo, @tarcisiogc, @lucasfonsecazup, @luisgustavozup, @joaoabreuzup, @victorrabelozup

update
  .github/workflows/automated_tests_appium_ios.yml
Owners: @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @hthemir, @danilorochazup, @ze12augusto, @LG95, @theffc, @victormr, @yandiaszup, @gmarson, @uziasferreirazup, @lucasaraujo, @jefersonlopeszup, @paulomeurerzup, @adautopaulazup, @gabrielleonardozup, @victorrabelozup, @lucasfonsecazup, @carlossteinzup, @viniciusguardieirozup, @luisgustavozup, @luisoliveirazup, @joaoabreuzup, @jenifersantoszup, @tiagoperes

update
  .github/workflows/automated_tests_appium_ios.yml
Owners: @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @hthemir, @danilorochazup, @ze12augusto, @LG95, @theffc, @victormr, @yandiaszup, @gmarson, @uziasferreirazup, @lucasaraujo, @jefersonlopeszup, @paulomeurerzup, @adautopaulazup, @gabrielleonardozup, @victorrabelozup, @lucasfonsecazup, @carlossteinzup, @viniciusguardieirozup, @luisgustavozup, @luisoliveirazup, @joaoabreuzup, @jenifersantoszup, @tiagoperes

update
  .github/workflows/horusec_pr.yml
Owners: @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @hthemir, @danilorochazup, @ze12augusto, @LG95, @theffc, @victormr, @yandiaszup, @gmarson, @uziasferreirazup, @lucasaraujo, @jefersonlopeszup, @paulomeurerzup, @adautopaulazup, @gabrielleonardozup, @victorrabelozup, @lucasfonsecazup, @carlossteinzup, @viniciusguardieirozup, @luisgustavozup, @luisoliveirazup, @joaoabreuzup, @jenifersantoszup, @tiagoperes

fix: iOS - TextInput enabled custom style config
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/TextInputTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithDisabled.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithDisabled.2.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithEnabled.1.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/Tests/__Snapshots__/TextInputTests/test_renderTextInputWithEnabled.2.png
  iOS/Sources/Beagle/Sources/Components/Widget/TextInput/TextInput+Extensions.swift
Owners: @theffc, @gabcoelho, @dantes-git, @victormr, @yandiaszup, @gmarson, @lucasaraujo, @tarcisiogc, @lucasfonsecazup, @luisgustavozup, @joaoabreuzup, @victorrabelozup

update
  .github/workflows/automated_tests_appium_ios.yml
  .github/workflows/horusec_pr.yml
Owners: @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @hthemir, @danilorochazup, @ze12augusto, @LG95, @theffc, @victormr, @yandiaszup, @gmarson, @uziasferreirazup, @lucasaraujo, @jefersonlopeszup, @paulomeurerzup, @adautopaulazup, @gabrielleonardozup, @victorrabelozup, @lucasfonsecazup, @carlossteinzup, @viniciusguardieirozup, @luisgustavozup, @luisoliveirazup, @joaoabreuzup, @jenifersantoszup, @tiagoperes

update
  .github/workflows/horusec_pr.yml
Owners: @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @hthemir, @danilorochazup, @ze12augusto, @LG95, @theffc, @victormr, @yandiaszup, @gmarson, @uziasferreirazup, @lucasaraujo, @jefersonlopeszup, @paulomeurerzup, @adautopaulazup, @gabrielleonardozup, @victorrabelozup, @lucasfonsecazup, @carlossteinzup, @viniciusguardieirozup, @luisgustavozup, @luisoliveirazup, @joaoabreuzup, @jenifersantoszup, @tiagoperes

apply var to corner radius
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
Owners: @tarcisiogc, @LG95, @ze12augusto, @adautopaulazup, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @danilorochazup, @jefersonlopeszup, @Tiagoperes

CODEOWNERS:

CODEOWNERS
*         @dantes-git @gabcoelho @pedropnaves @tarcisiogc @tuliopereirazup @hernandazevedozup @matheusribeirozup @hthemir @danilorochazup @ze12augusto @LG95 @theffc @victormr @yandiaszup @gmarson @uziasferreirazup @lucasaraujo @jefersonlopeszup @paulomeurerzup @adautopaulazup @gabrielleonardozup @victorrabelozup @lucasfonsecazup @carlossteinzup @viniciusguardieirozup @luisgustavozup @luisoliveirazup @joaoabreuzup @jenifersantoszup @tiagoperes

android/  @tuliopereirazup @hernandazevedozup @matheusribeirozup @uziasferreirazup @hthemir @danilorochazup @jefersonlopeszup @tarcisiogc @paulomeurerzup @gabrielleonardozup @carlossteinzup @viniciusguardieirozup @luisoliveirazup @jenifersantoszup
iOS/ @theffc @gabcoelho @dantes-git @victormr @yandiaszup @gmarson @lucasaraujo @tarcisiogc @lucasfonsecazup @luisgustavozup @joaoabreuzup @victorrabelozup
backend/  @tarcisiogc @LG95 @ze12augusto @adautopaulazup @tuliopereirazup @hernandazevedozup @matheusribeirozup @uziasferreirazup @hthemir @danilorochazup @jefersonlopeszup @Tiagoperes
flutter/  @tarcisiogc @tuliopereirazup @matheusribeirozup @uziasferreirazup @dantes-git @gmarson @paulomeurerzup @gabrielleonardozup @theffc @gabcoelho @dantes-git @Tiagoperes @igorgiumellizup
