Repository ZupIT/beagle, changes with the owners that CODEOWNERS names for each.
All owners: @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @hthemir, @heliojuniorzup, @tiagonuneszup, @danilorochazup, @ze12augusto, @LG95, @lucka3s, @theffc, @victormr, @yandiaszup, @gmarson, @uziasferreirazup, @marcelomp

fix:form-uri (#211)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/core/FormSubmitter.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/form/core/FormSubmitterTest.kt
  iOS/Sources/BeagleUI/Sources/Networking/Default/HttpRequestBuilder.swift
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s, @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

Rename loggin flag
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Sources/BeagleUI/Sources/Logger/BeagleLoggerDefault.swift
  iOS/Sources/BeagleUI/Sources/Logger/BeagleLoggerProxy.swift
  iOS/Sources/BeagleUI/Sources/Logger/Tests/BeagleLoggerProxyTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/BeagleDependencies.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/BeagleSetupTests.swift
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

dependencies tests fix
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

ci: automatically sync Micronaut and Spring BFF samples (#251)
  .github/workflows/sync_micronaut_sample.yml
  .github/workflows/sync_spring_sample.yml
  backend/sample/micronaut/micronaut2spring.sed
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ActionController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/CustomComponentController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/LayoutController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleActionService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleAnalyticsService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleWebViewService.kt
  backend/sample/micronaut/sync-to-spring.sh
  backend/sample/spring/spring2micronaut.sed
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleActionService.kt
  backend/sample/spring/sync-to-micronaut.sh
Owners: @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @hthemir, @heliojuniorzup, @tiagonuneszup, @danilorochazup, @ze12augusto, @LG95, @lucka3s, @theffc, @victormr, @yandiaszup, @gmarson, @uziasferreirazup, @marcelomp

Remove Spacer Component
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllComponentsAreBeingRegistered.1.txt
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllDecodersAreBeingRegistered.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Spacer/Spacer.swift
  iOS/Schema/Sources/ServerDrivenComponent/Spacer/Tests/JSON/Spacer.json
  iOS/Schema/Sources/ServerDrivenComponent/Spacer/Tests/SpacerTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/Spacer/Tests/__Snapshots__/SpacerTests/test_whenDecodingJson_shouldReturnScreenWithSpacedButtons.1.txt
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Spacer+Renderable/Spacer+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Spacer+Renderable/Tests/JSON/Spacer.json
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Spacer+Renderable/Tests/SpacerTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Spacer+Renderable/Tests/__Snapshots__/SpacerTests/test_screenWithSpacedButtons.1.png
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Spacer+Renderable/Tests/__Snapshots__/SpacerTests/test_toView_shouldReturnTheExpectedView.1.png
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

create get/set context functions
  iOS/Sources/BeagleUI/Sources/Action/Types/SetContext.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/BeagleUI/Sources/Renderer/BeagleRenderer.swift
  iOS/Sources/BeagleUI/Sources/Renderer/BeagleScreenViewController.swift
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

Synced Micronaut BFF sample to Spring BFF sample.
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/PlatformController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/PlatformService.kt
Owners: @LG95, @ze12augusto, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

Synced Spring BFF sample to Micronaut BFF sample.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/PlatformController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/PlatformService.kt
Owners: @LG95, @ze12augusto, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

Fixed syncing of packages.
  backend/sample/micronaut/micronaut2spring.sed
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/PlatformController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/PlatformService.kt
  backend/sample/spring/spring2micronaut.sed
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/PlatformService.kt
Owners: @LG95, @ze12augusto, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

fix BeagleSchema tests
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/test_decoding_pushStack.1.txt
  iOS/Schema/Sources/Action/Types/Navigate/Tests/__Snapshots__/NavigateTests/test_decoding_pushView.1.txt
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllActionsAreBeingRegistered.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Form/Tests/__Snapshots__/FormTests/test_whenDecodingJson_thenItShouldReturnAForm.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Lazy/Tests/__Snapshots__/LazyComponentTests/test_whenDecodingJson_thenItShouldReturnALazyComponent.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/test_whenDecodingJson_thenItShouldReturnAListView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnAPageView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnPageViewWithIndicator.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/Tests/__Snapshots__/ScrollViewTests/test_whenDecodingJson_shouldReturnAScrollView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Spacer/Tests/__Snapshots__/SpacerTests/test_whenDecodingJson_shouldReturnScreenWithSpacedButtons.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Touchable/Tests/__Snapshots__/TouchableTests/testInitFromDecoder.1.txt
  iOS/Schema/Sources/Widgets/Container/Tests/__Snapshots__/ContainerTests/test_whenDecodingJson_shouldReturnAContainer.1.txt
  iOS/Schema/Sources/Widgets/Tests/__Snapshots__/WidgetTests/testParsingOfWidgetWithAllAttributes.1.txt
  iOS/Schema/Sources/Widgets/Text/Tests/__Snapshots__/TextTests/test_whenDecodingJson_shouldReturnAText.1.txt
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

feat: create new action confirm and rename show nativedialog to alert
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AlertTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConfirmTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/FormFragment.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Confirm.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s, @LG95, @ze12augusto

refactor: adjust backend attribute to the new component
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/AccessibilityScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/AnalyticsScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComposeScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/FormScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ImageScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/LazyComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/MyScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NavigationBarViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NetworkImageScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PageViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ScrollViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TabViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TouchableScreenBuilder.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleFormService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleFormService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
Owners: @LG95, @ze12augusto, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

Fix ContextDataManager
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StringExtensionsKtTest.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

ci: update token danger
  .github/workflows/android-pr.yml
  .github/workflows/backend-pr.yml
  .github/workflows/ios.yml
  .github/workflows/pr_danger.yml
  .github/workflows/release.yml
Owners: @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @hthemir, @heliojuniorzup, @tiagonuneszup, @danilorochazup, @ze12augusto, @LG95, @lucka3s, @theffc, @victormr, @yandiaszup, @gmarson, @uziasferreirazup, @marcelomp

Revert MainActivity changes
  android/sample/src/main/java/br/com/zup/beagle/sample/MainActivity.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

WIP fixing additional space before forKey on autodecodable
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/ContainerTextComponent.swift
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

Renaming PageView, List View, TabView and TabItem attributes
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/ListView/ListView.swift
  iOS/Schema/Sources/ServerDrivenComponent/ListView/Tests/JSON/listViewComponent.json
  iOS/Schema/Sources/ServerDrivenComponent/ListView/Tests/__Snapshots__/ListViewTests/test_whenDecodingJson_thenItShouldReturnAListView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Indicator/Tests/JSON/PageViewWithCustomIndicator.json
  iOS/Schema/Sources/ServerDrivenComponent/Page/PageView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/Json/PageViewWith3Pages.json
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/Json/PageViewWith3PagesAndIndicator.json
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnAPageView.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Page/Tests/__Snapshots__/PageViewTests/test_whenDecodingJson_thenItShouldReturnPageViewWithIndicator.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/JSON/TabView.json
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/Tests/__Snapshots__/TabViewTests/test_whenDecodingJson_thenItShouldReturnATabView.1.txt
  iOS/Sources/BeagleUI/Sources/Components/ListView+Renderable/ListView+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/ListView+Renderable/Tests/ListViewInitTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Page+Renderable/PageView+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabView.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/Tests/TabViewTests.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/Tests/TabViewUIComponentTests.swift
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

fix: missing BeagleSchema.framework in BeagleDemo target (#279)
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

Adjusting BeagleUI and BeagleDemo for new attribute names
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ListViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/PageViewScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/TabViewScreen.swift
  iOS/Sources/BeagleUI/Sources/Components/ListView+Renderable/Tests/ListViewInitTests.swift
  iOS/Sources/BeagleUI/Sources/Components/ListView+Renderable/Tests/ListViewTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Page+Renderable/Tests/CustomPageIndicator/CustomPageIndicatorTest.swift
  iOS/Sources/BeagleUI/Sources/Components/Page+Renderable/Tests/PageViewTests.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/TabViewUIComponent.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/Tests/TabBarCollectionViewCellTests.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/Tests/TabViewTests.swift
  iOS/Sources/BeagleUI/Sources/Components/TabBar+Renderable/Tests/TabViewUIComponentTests.swift
  iOS/Sources/BeagleUI/Sources/Theme/ThemeTests.swift
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

fix BeagleUI tests
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfullForScreenEvent.1.txt
  iOS/Sources/BeagleUI/Sources/Caching/Prefetch/Tests/__Snapshots__/BeaglePrefetchHelperTests/testNavigationIsPrefetchable.1.txt
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/SingleExpression+EvaluateTests.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/Tests/__Snapshots__/SingleExpression+EvaluateTests/test_evaluation.1.txt
  iOS/Sources/BeagleUI/Sources/Renderer/Tests/BeagleScreenViewControllerTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

adjust token fastfile
  fastlane/Fastfile
Owners: @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @hthemir, @heliojuniorzup, @tiagonuneszup, @danilorochazup, @ze12augusto, @LG95, @lucka3s, @theffc, @victormr, @yandiaszup, @gmarson, @uziasferreirazup, @marcelomp

adding SendRequest action
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Action/Types/Navigate/ShowNativeDialog.swift
  iOS/Schema/Sources/Action/Types/SendRequest.swift
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Action/Types/SendRequest.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/ShowNativeDialog.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/BeagleUI/Sources/Networking/Default/HttpRequestBuilder.swift
  iOS/Sources/BeagleUI/Sources/Networking/Default/NetworkClientDefault.swift
  iOS/Sources/BeagleUI/Sources/Networking/NetworkClient.swift
  iOS/Sources/BeagleUI/Sources/Networking/Request.swift
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

create text input component
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TextInput.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StyleManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/ViewFactory.kt
  android/beagle/src/main/res/values/attrs.xml
  android/sample/src/main/java/br/com/zup/beagle/sample/AppDesignSystem.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/fragment/DisabledFormSubmitFragment.kt
  android/sample/src/main/res/values/styles.xml
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/TextInput.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/TextInputType.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s, @LG95, @ze12augusto, @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @heliojuniorzup, @theffc, @victormr, @yandiaszup, @gmarson, @marcelomp

WIP declaring generation decodable tests
  iOS/Example/BeagleDemo/BeagleDemo.xcodeproj/project.pbxproj
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/CustomActionableContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/SingleCustomActionableContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/SingleTextContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/TextContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/TextContainerWithAction.swift
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

updates
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/CustomActionableContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/SingleTextContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/TextContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/TextContainerWithAction.swift
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

resolved issue #282, added context to Container, Screen, ScrollView, PageView and TabView
  iOS/Schema/Sources/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Schema/Sources/ServerDrivenComponent/Page/PageView.swift
  iOS/Schema/Sources/ServerDrivenComponent/Screen/Screen.swift
  iOS/Schema/Sources/ServerDrivenComponent/Scroll/ScrollView.swift
  iOS/Schema/Sources/ServerDrivenComponent/TabBar/TabView.swift
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

WIP
  iOS/Schema/Sources/Decoding/AnyDecodableContainer.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Common/Extensions/KeyedDecodingContainerExtension.swift
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

refactor: standardizing analytics protocol (#155)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Button.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/ButtonTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/TouchableTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/sample/src/main/java/br/com/zup/beagle/sample/AppAnalytics.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics/Analytics.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s, @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @heliojuniorzup, @ze12augusto, @LG95, @theffc, @victormr, @yandiaszup, @gmarson, @marcelomp

fixes
  iOS/Example/BeagleDemo/BeagleDemo/Screens/ComponentInteractionScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/LazyComponentScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Example/BeagleDemo/BeagleDemo/Screens/SendRequestScreen.swift
  iOS/Schema/Sources/Action/Types/SendRequest.swift
  iOS/Schema/Sources/ContextExpression/DynamicObject.swift
  iOS/Schema/Sources/ContextExpression/PathParser.swift
  iOS/Schema/Sources/ContextExpression/SingleExpression.swift
  iOS/Schema/Sources/ContextExpression/Tests/SingleExpressionTests.swift
  iOS/Schema/Sources/ContextExpression/Tests/__Snapshots__/SingleExpressionTests/test_rawRepresentable.2.txt
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllActionsAreBeingRegistered.1.txt
  iOS/Sources/BeagleUI/Sources/Action/Types/SendRequest.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/SetContext.swift
  iOS/Sources/BeagleUI/Sources/Action/Types/Tests/ShowNativeDialogTests.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/Expression+Public.swift
  iOS/Sources/BeagleUI/Sources/ContextExpression/UIView+Context.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

WIP
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/CustomActionableContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/TextContainerWithAction.swift
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

adding screen test
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TestScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/TestService.kt
Owners: @LG95, @ze12augusto, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

Fix action execution
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Touchable.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

Fix action execute of ToolbarManager
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ToolbarManager.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

:lipstick: Improve comment
  android/android-internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessor.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

LG's lint check
  android/beagle/src/main/java/br/com/zup/beagle/android/components/LazyComponent.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

Fix components
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/CustomPageIndicator.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Container.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/ui/Button.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s, @LG95, @ze12augusto

Fix form action execute
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/Form.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

Remove BeagleInternalAnnotationProcessor comment
  android/android-internal-processor/src/main/java/br/com/zup/beagle/android/internal/processor/BeagleInternalAnnotationProcessor.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

Fix TextField @Transient attribute
  android/sample/src/main/java/br/com/zup/beagle/sample/widgets/TextField.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

WIP
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/SingleTextContainer.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/TextContainerWithAction.swift
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

CODEOWNERS:

CODEOWNERS
*         @dantes-git @gabcoelho @pedropnaves @tarcisiogc @tuliopereirazup @hernandazevedozup @matheusribeirozup @hthemir @heliojuniorzup @tiagonuneszup @danilorochazup @ze12augusto @LG95 @lucka3s @theffc @victormr @yandiaszup @gmarson @uziasferreirazup @marcelomp

android/  @tuliopereirazup @hernandazevedozup @matheusribeirozup @uziasferreirazup @hthemir @tiagonuneszup @danilorochazup @lucka3s
iOS/ @theffc @gabcoelho @dantes-git @heliojuniorzup @victormr @yandiaszup @gmarson @marcelomp
backend/  @LG95 @ze12augusto @tuliopereirazup @hernandazevedozup @matheusribeirozup @uziasferreirazup @hthemir @tiagonuneszup @danilorochazup @lucka3s
