Repository ZupIT/beagle, changes with the owners that CODEOWNERS names for each.
All owners: @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @hthemir, @danilorochazup, @ze12augusto, @LG95, @theffc, @victormr, @yandiaszup, @gmarson, @uziasferreirazup, @lucasaraujo, @jefersonlopeszup, @paulomeurerzup, @adautopaulazup, @gabrielleonardozup, @caioortu, @lucasfonsecazup, @carlossteinzup, @viniciusguardieirozup, @luisgustavozup, @luisoliveirazup, @joaoabreuzup, @jenifersantoszup

CODEOWNERS:

CODEOWNERS
*         @dantes-git @gabcoelho @pedropnaves @tarcisiogc @tuliopereirazup @hernandazevedozup @matheusribeirozup @hthemir @danilorochazup @ze12augusto @LG95 @theffc @victormr @yandiaszup @gmarson @uziasferreirazup @lucasaraujo @jefersonlopeszup @paulomeurerzup @adautopaulazup @gabrielleonardozup @caioortu @lucasfonsecazup @carlossteinzup @viniciusguardieirozup @luisgustavozup @luisoliveirazup @joaoabreuzup @jenifersantoszup

android/  @tuliopereirazup @hernandazevedozup @matheusribeirozup @uziasferreirazup @hthemir @danilorochazup @jefersonlopeszup @tarcisiogc @paulomeurerzup @gabrielleonardozup @carlossteinzup @viniciusguardieirozup @luisoliveirazup @jenifersantoszup
iOS/ @theffc @gabcoelho @dantes-git @victormr @yandiaszup @gmarson @lucasaraujo @tarcisiogc @caioortu @lucasfonsecazup @luisgustavozup @joaoabreuzup
backend/  @tarcisiogc @LG95 @ze12augusto @adautopaulazup @tuliopereirazup @hernandazevedozup @matheusribeirozup @uziasferreirazup @hthemir @danilorochazup @jefersonlopeszup
flutter/  @tarcisiogc @tuliopereirazup @matheusribeirozup @uziasferreirazup @dantes-git @gmarson @paulomeurerzup @gabrielleonardozup @theffc @gabcoelho @dantes-git

remove dependency dont need in beagle
  flutter/beagle/pubspec.lock
  flutter/beagle/pubspec.yaml
  flutter/beagle_core/pubspec.yaml
Owners: @tarcisiogc, @tuliopereirazup, @matheusribeirozup, @uziasferreirazup, @dantes-git, @gmarson, @paulomeurerzup, @gabrielleonardozup, @theffc, @gabcoelho

create test
  android/beagle/build.gradle
  android/beagle/src/main/java/br/com/zup/beagle/android/view/BeagleFragment.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleActivityTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/BeagleFragmentTest.kt
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @danilorochazup, @jefersonlopeszup, @tarcisiogc, @paulomeurerzup, @gabrielleonardozup, @carlossteinzup, @viniciusguardieirozup, @luisoliveirazup, @jenifersantoszup

Add action analytics
  backend/kotlin-core/src/main/kotlin/br/com/zup/beagle/analytics2/ActionAnalyticsConfig.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/ActionAnalytics.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildren.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Condition.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Confirm.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Form.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Navigate.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SendRequest.kt
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/SubmitForm.kt
Owners: @tarcisiogc, @LG95, @ze12augusto, @adautopaulazup, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @danilorochazup, @jefersonlopeszup

feat: add android test library (#1252)
  android/buildSrc/src/main/kotlin/br/com/zup/beagle/Dependencies.kt
  android/preview/src/test/java/br/com/zup/beagle/android/preview/PreviewActivityTest.kt
  android/test/.gitignore
  android/test/build.gradle
  android/test/consumer-rules.pro
  android/test/gradle.properties
  android/test/proguard-rules.pro
  android/test/src/main/AndroidManifest.xml
  android/test/src/main/java/br/com/zup/beagle/test/rules/BeagleComponentsRule.kt
  android/test/src/main/java/br/com/zup/beagle/test/rules/BeagleComponentsStatement.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @danilorochazup, @jefersonlopeszup, @tarcisiogc, @paulomeurerzup, @gabrielleonardozup, @carlossteinzup, @viniciusguardieirozup, @luisoliveirazup, @jenifersantoszup

Remove unused import
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/AddChildren.kt
Owners: @tarcisiogc, @LG95, @ze12augusto, @adautopaulazup, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @danilorochazup, @jefersonlopeszup

Remove unused import
  backend/widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Form.kt
Owners: @tarcisiogc, @LG95, @ze12augusto, @adautopaulazup, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @danilorochazup, @jefersonlopeszup

fix codecov config (#1251)
  .github/workflows/ios-pr.yml
  codecov.yml
  iOS/Sources/Beagle/Beagle.xcodeproj/xcshareddata/xcschemes/All.xcscheme
Owners: @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @hthemir, @danilorochazup, @ze12augusto, @LG95, @theffc, @victormr, @yandiaszup, @gmarson, @uziasferreirazup, @lucasaraujo, @jefersonlopeszup, @paulomeurerzup, @adautopaulazup, @gabrielleonardozup, @caioortu, @lucasfonsecazup, @carlossteinzup, @viniciusguardieirozup, @luisgustavozup, @luisoliveirazup, @joaoabreuzup, @jenifersantoszup

initial commit
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/builders/NewAnalyticsScreenBuilder.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/constants/PathConstants.kt
  backend/automated-tests/src/main/kotlin/br/com/zup/beagle/automatedtests/controllers/GeneralController.kt
Owners: @tarcisiogc, @LG95, @ze12augusto, @adautopaulazup, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @danilorochazup, @jefersonlopeszup

feat: iOS - Disabled button (#1250)
  iOS/Example/BeagleDemo/BeagleDemo/Screens/MainScreen.swift
  iOS/Sources/Beagle/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/Beagle/Sources/Analytics/Tests/__Snapshots__/AnalyticsTests/testIfDecodingIsSuccessfulForClickEvent.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button+Extensions.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Button.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Tests/ButtonTests.swift
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Tests/JSON/buttonComponent.json
  iOS/Sources/Beagle/Sources/Components/Widget/Button/Tests/__Snapshots__/ButtonTests/test_whenDecodingJson_thenItShouldReturnAButton.1.txt
  iOS/Sources/Beagle/Sources/Components/Widget/SimpleForm/Tests/__Snapshots__/SimpleFormTests/test_whenDecodingJson_shouldReturnASimpleForm.1.txt
Owners: @theffc, @gabcoelho, @dantes-git, @victormr, @yandiaszup, @gmarson, @lucasaraujo, @tarcisiogc, @caioortu, @lucasfonsecazup, @luisgustavozup, @joaoabreuzup

remove identifier component from screen component
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScreenComponent.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/ScreenExtensions.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @danilorochazup, @jefersonlopeszup, @tarcisiogc, @paulomeurerzup, @gabrielleonardozup, @carlossteinzup, @viniciusguardieirozup, @luisoliveirazup, @jenifersantoszup

refator test
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/ScreenExtensionsKtTest.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @danilorochazup, @jefersonlopeszup, @tarcisiogc, @paulomeurerzup, @gabrielleonardozup, @carlossteinzup, @viniciusguardieirozup, @luisoliveirazup, @jenifersantoszup
