Repository ZupIT/beagle, changes with the owners that CODEOWNERS names for each.
All owners: @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @hthemir, @heliojuniorzup, @tiagonuneszup, @danilorochazup, @ze12augusto, @LG95, @lucka3s, @theffc, @victormr, @yandiaszup, @gmarson, @uziasferreirazup, @marcelomp

CODEOWNERS:

CODEOWNERS
*         @dantes-git @gabcoelho @pedropnaves @tarcisiogc @tuliopereirazup @hernandazevedozup @matheusribeirozup @hthemir @heliojuniorzup @tiagonuneszup @danilorochazup @ze12augusto @LG95 @lucka3s @theffc @victormr @yandiaszup @gmarson @uziasferreirazup @marcelomp

android/  @tuliopereirazup @hernandazevedozup @matheusribeirozup @uziasferreirazup @hthemir @tiagonuneszup @danilorochazup @lucka3s
iOS/ @theffc @gabcoelho @dantes-git @heliojuniorzup @victormr @yandiaszup @gmarson @marcelomp
backend/  @LG95 @ze12augusto @tuliopereirazup @hernandazevedozup @matheusribeirozup @uziasferreirazup @hthemir @tiagonuneszup @danilorochazup @lucka3s

wip
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

feat: create new action confirm and alert
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Alert.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/action/Confirm.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ActionJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/AlertTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/action/ConfirmTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Alert.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Confirm.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s, @LG95, @ze12augusto

refactor: adjust backend attribute to the new component
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/AccessibilityScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ActionScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/AnalyticsScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ButtonScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComposeScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/FormScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ImageScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/LazyComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/MyScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NavigationBarViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/NetworkImageScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PageViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ScrollViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TabViewScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TextScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/TouchableScreenBuilder.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleFormService.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/SampleNavigationTypeService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleFormService.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/SampleNavigationTypeService.kt
Owners: @LG95, @ze12augusto, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

refactor: adjust action in webview
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/WebViewScreenBuilder.kt
Owners: @LG95, @ze12augusto, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

move PositionType and Display from Flex to Style
  android/beagle/src/main/java/br/com/zup/beagle/android/components/form/FormInputHidden.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/engine/mapper/FlexYogaMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/mapper/FlexMapperTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/engine/renderer/FlexYogaMapperTest.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/FlexBuilder.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s, @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @heliojuniorzup, @ze12augusto, @LG95, @theffc, @victormr, @yandiaszup, @gmarson, @marcelomp

rename files
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/FlexScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/ScreenController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/FlexService.kt
Owners: @LG95, @ze12augusto, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

Create multiple expression logic
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/StringExtensions.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StringExtensionsKtTest.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

Synced Spring BFF sample to Micronaut BFF sample.
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/ScreenController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/FlexService.kt
Owners: @LG95, @ze12augusto, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

Add logic to handle multiple expressions on deserialization
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

WIP
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

Revert StringExtensionsTests
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StringExtensionsKtTest.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

move comments do Style
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/core/Style.kt
  schema/kotlin-core/src/main/kotlin/br/com/zup/beagle/widget/core/Flex.kt
Owners: @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @hthemir, @heliojuniorzup, @tiagonuneszup, @danilorochazup, @ze12augusto, @LG95, @lucka3s, @theffc, @victormr, @yandiaszup, @gmarson, @uziasferreirazup, @marcelomp

Remove unused variable
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

Fixed PR comments.
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/RequestData.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapper.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/BeagleApiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/mockdata/RequestDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/RequestDataTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/view/mapper/ScreenRequestMapperTest.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

Fixed test name.
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/RequestDataTest.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

feat: Create multiple expression logic (#299)
  android/beagle/src/main/java/br/com/zup/beagle/android/context/ContextDataManager.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/BindAdapterFactory.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/utils/BeagleConstants.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/context/ContextDataManagerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/utils/StringExtensionsKtTest.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

wip
  iOS/Example/BeagleDemo/BeagleDemo/CodeGeneration/Generated/AutoDecodable.generated.swift
  iOS/Example/BeagleDemo/BeagleDemo/DesignSystem/GenerationTests/TextContainer.swift
  iOS/Sources/BeagleUI/CodeGeneration/Templates/AutoDecodable.swifttemplate
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

add context to components Android
  android/beagle/src/main/java/br/com/zup/beagle/android/components/TabView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/Screen.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/layout/ScrollView.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageView.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s

feat: adding support to set default animation in navigate actions (#227)
  iOS/Example/BeagleDemo/BeagleDemo/AppDelegate.swift
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Navigation/BeagleNavigator.swift
  iOS/Sources/BeagleUI/Sources/Navigation/BeagleNavigatorAnimation.swift
  iOS/Sources/BeagleUI/Sources/Navigation/Tests/BeagleNavigatorAnimationTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/BeagleSetupTests.swift
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testChangedDependencies.1.txt
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Owners: @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

Changes to podspec and fastfile.
  BeagleSchema.podspec
  BeagleUI.podspec
  fastlane/Fastfile
Owners: @dantes-git, @gabcoelho, @pedropnaves, @tarcisiogc, @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @hthemir, @heliojuniorzup, @tiagonuneszup, @danilorochazup, @ze12augusto, @LG95, @lucka3s, @theffc, @victormr, @yandiaszup, @gmarson, @uziasferreirazup, @marcelomp

feat: specify components' platform (#229)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/page/PageIndicator.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/BeagleApi.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/networking/HttpClientDefault.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/view/mapper/SendRequestActionMapper.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/layout/ScreenComponentTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/BeagleApiTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/HttpClientDefaultTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/networking/RequestDataTest.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/action/Form.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/cache/BeagleCacheHandler.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/platform/BeaglePlatform.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/platform/BeaglePlatformExtensions.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/platform/BeaglePlatformUtil.kt
  backend/framework/src/main/kotlin/br/com/zup/beagle/platform/BeaglePlatformWrapper.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/cache/BeagleCacheHandlerTest.kt
  backend/framework/src/test/kotlin/br/com/zup/beagle/utils/BeaglePlatformUtilTest.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ComponentScreenBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/CustomPlatformBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/PlatformBuilder.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/constants/PathConstants.kt
  backend/sample/micronaut/micronaut2spring.sed
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/controller/PlatformController.kt
  backend/sample/micronaut/src/main/kotlin/br/com/zup/beagle/sample/micronaut/service/PlatformService.kt
  backend/sample/spring/spring2micronaut.sed
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/controller/PlatformController.kt
  backend/sample/spring/src/main/kotlin/br/com/zup/beagle/sample/spring/service/PlatformService.kt
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeagleCacheFilter.kt
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/filter/BeaglePlatformFilter.kt
  backend/starters/beagle-micronaut-starter/src/main/kotlin/br/com/zup/beagle/micronaut/util/BeagleSessionUtil.kt
  backend/starters/beagle-spring-starter/build.gradle
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/configuration/BeaglePlatformAutoConfiguration.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/filter/BeagleCacheFilter.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/interceptor/BeaglePlatformInterceptor.kt
  backend/starters/beagle-spring-starter/src/main/kotlin/br/com/zup/beagle/spring/util/BeagleSessionUtil.kt
  backend/starters/beagle-spring-starter/src/main/resources/META-INF/spring.factories
  backend/starters/beagle-spring-starter/src/test/kotlin/br/com/zup/beagle/spring/interceptor/BeaglePlatformInterceptorTest.kt
  iOS/Sources/BeagleUI/Sources/Networking/Default/HttpRequestBuilder.swift
  iOS/Sources/BeagleUI/Sources/Networking/Default/Tests/__Snapshots__/HttpRequestBuilderTest/testBuilder.1.txt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s, @LG95, @ze12augusto, @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

feat: Remove spacer component (#294)
  android/beagle/src/main/java/br/com/zup/beagle/android/components/Spacer.kt
  android/beagle/src/main/java/br/com/zup/beagle/android/data/serializer/adapter/ComponentJsonAdapterFactory.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/components/SpacerTest.kt
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/BeagleMoshiTest.kt
  iOS/Schema/BeagleSchema.xcodeproj/project.pbxproj
  iOS/Schema/Sources/Decoding/ComponentDecoder.swift
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllComponentsAreBeingRegistered.1.txt
  iOS/Schema/Sources/Decoding/Tests/__Snapshots__/ComponentDecoderTests/testIfAllDecodersAreBeingRegistered.1.txt
  iOS/Schema/Sources/ServerDrivenComponent/Spacer/Spacer.swift
  iOS/Schema/Sources/ServerDrivenComponent/Spacer/Tests/JSON/Spacer.json
  iOS/Schema/Sources/ServerDrivenComponent/Spacer/Tests/SpacerTests.swift
  iOS/Schema/Sources/ServerDrivenComponent/Spacer/Tests/__Snapshots__/SpacerTests/test_whenDecodingJson_shouldReturnScreenWithSpacedButtons.1.txt
  iOS/Sources/BeagleUI/BeagleUI.xcodeproj/project.pbxproj
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Spacer+Renderable/Spacer+Renderable.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Spacer+Renderable/Tests/JSON/Spacer.json
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Spacer+Renderable/Tests/SpacerTests.swift
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Spacer+Renderable/Tests/__Snapshots__/SpacerTests/test_screenWithSpacedButtons.1.png
  iOS/Sources/BeagleUI/Sources/Components/Layout+Renderable/Spacer+Renderable/Tests/__Snapshots__/SpacerTests/test_toView_shouldReturnTheExpectedView.1.png
  iOS/Sources/BeagleUI/Sources/Setup/Tests/__Snapshots__/BeagleSetupTests/testDefaultDependencies.1.txt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s, @theffc, @gabcoelho, @dantes-git, @heliojuniorzup, @victormr, @yandiaszup, @gmarson, @marcelomp

refactor: remove spacer in module backend
  android/beagle/src/test/java/br/com/zup/beagle/android/data/serializer/serializerDataFactory.kt
  backend/backend-widgets/src/main/kotlin/br/com/zup/beagle/widget/layout/Spacer.kt
  backend/sample/core/src/main/kotlin/br/com/zup/beagle/sample/builder/ListViewScreenBuilder.kt
Owners: @tuliopereirazup, @hernandazevedozup, @matheusribeirozup, @uziasferreirazup, @hthemir, @tiagonuneszup, @danilorochazup, @lucka3s, @LG95, @ze12augusto
